@use 'sass:map';
@use '../../styles/shared-styles/variables';

.form-elements {
  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    padding: 0 5px 131px;
  }

  &__field-and-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 126px;
  }

  &__fields {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__field {
    max-width: 320px;

    &_bigger {
      padding-top: 20px;
    }
  }

  &__small-buttons {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &__subtitle {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    padding-bottom: 5px;
  }

  &__label {
    text-transform: uppercase;
    font-size: map.get(variables.$font-sizes, 'xs');
    font-weight: 700;
  }

  &__dropdown {
    padding-top: 5px;
  }

  &__status {
    color: rgba(map.get(variables.$colors, 'dark'), 0.5);
    font-size: map.get(variables.$font-sizes, 'xs');
  }

  &__checkbox {
    padding-top: 10px;
    list-style: none;
  }

  &__checkboxes {
    margin: 0;
    padding: 0;
  }

  &__radio {
    display: flex;
    gap: 20px;
    padding-top: 5px;
  }

  &__toggles {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 10px;
  }

  &__likes,
  &__rate,
  &__toggles {
    display: flex;
    gap: 10px;
    padding-top: 10px;
  }

  &__rate {
    gap: 20px;
  }

  &__buttons {
    max-width: 320px;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &__btn {
    &_range {
      width: 266px;
    }

    &_medium {
      padding-top: 10px;
    }
  }

  &__elem-btn {
    padding-top: 10px;
  }

  &__elem-btn_medium {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__elem-btn-cont {
    flex-basis: 44px;
    display: flex;
    gap: 20px;
  }

  &__paginator {
    padding-top: 10px;
  }

  &__dropdowns {
    display: flex;
    gap: 140px;
  }

  &__dropdowns-item {
    width: 320px;

    &_2 {
      width: 266px;
      display: flex;
      flex-direction: column-reverse;
      gap: 20px;
    }
  }

  &__checkboxes-lists {
    padding: 180px 0 60px;
    display: flex;
    gap: 162px;
  }

  &__checkboxes-lists-item {
    &_2 {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 266px;
    }

    &_2-rich {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding-left: 17px;
    }

    &_bullet {
      width: 261px;
    }
  }

  &__checkbox-lists {
    &_wide-corr {
      max-width: 236px;
    }

    &_inv-help {
      max-width: 264px;
    }
  }

  &__details {
    display: flex;
    gap: 233px;
  }

  &__details-item {
    &_small {
      max-width: 432px;
    }

    &_comment {
      max-width: 715px;
    }
  }
}
