extends ../../layouts/ui-layout/ui-layout.pug
include ../../blocks/ui-header/ui-header.pug

include ../../blocks/input/input.pug
include ../../blocks/title/title.pug
include ../../blocks/dropdown/dropdown.pug
include ../../blocks/datepicker/datepicker.pug
include ../../blocks/checkbox/checkbox.pug
include ../../blocks/checkbox-list/checkbox-list.pug
include ../../blocks/radio/radio.pug
include ../../blocks/toggle/toggle.pug
include ../../blocks/like/like.pug
include ../../blocks/star-rating/star-rating.pug
include ../../blocks/range-slider/range-slider.pug
include ../../blocks/button/button.pug
include ../../blocks/paginator/paginator.pug
include ../../blocks/rules/rules.pug
include ../../blocks/room-data/room-data.pug
include ../../blocks/review/review.pug
include ../../blocks/subscription-field/subscription-field.pug


block variables 
  - 
    const title = "Form elements"


block content
  header.ui-page__header 
    +ui-header()
  main.ui-page__main
    .form-elements 
      .form-elements__content
        .form-elements__field-and-buttons
          .form-elements__fields 
            .form-elements__field
              .form-elements__subtitle 
                +title({
                  level: "h5",
                  text: "Text feild"
                })
                span.form-elements__status Default
              +input({
                type: "email",
                placeholder: "Email",
                pattern: "[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
              })
            .form-elements__field
              .form-elements__subtitle 
                +title({
                  level: "h5",
                  text: "Text feild"
                })
                span.form-elements__status Hover/Focus
              +input({
                type: "text",
                placeholder: "This is pretty awesome",
                isHovered: true,
              })

            .form-elements__field
              label.form-elements__label Сколько гостей
                .form-elements__dropdown
                  +dropdown({
                    type: "guests-dropdown",
                    id: "booking-guests",
                    placeholder: "Сколько гостей",
                    items: [
                      "Взрослые", "Дети", "Младенцы",
                    ],
                    plurals: [
                      {
                        "default": ["гость", "гостя", "гостей"],
                        },
                      {
                        "Младенцы": ["младенец", "младенца", "младенцев"],
                      }
                    ]
                  })
            .form-elements__field
              .form-elements__subtitle 
                +title({
                  text: "masked text field",
                  level: "h5",
                })
              +input({
                type: "text",
                placeholder: "ДД.ММ.ГГГГ",
                pattern: "[0-9]{2}.[0-9]{2}.[0-9]{4}",
                isRequired: true,
                isDate: true,
              })
            .form-elements__field.form-elements__field_bigger
              +datepicker({
                labelStart: "date Dropdown",
                labelEnd: "date Dropdown"
              })
            .form-elements__field.form-elements__field_bigger
              +datepicker({
                labelAlone: "filter date dropdown",
                isTwoInput: false,
              })

            .form-elements__field.form-elements__field_bigger
              .form-elements__subtitle 
                +title({
                  level: "h5",
                  text: "Subscription text field",
                })
              +subscription-field({
                type: "email",
                name: "footer-mail",
                id: "footer-mail",
                placeholder: "Email",
              })

          .form-elements__small-buttons 
            .form-elements__small-btn
              .form-elements__subtitle 
                +title({
                  level: "h5",
                  text: "Checkbox Buttons"
                })
              ul.form-elements__checkboxes
                li.form-elements__checkbox
                  +checkbox({
                    labelText: "Можно курить",
                    name: "form-elements-smoke",
                  })
                li.form-elements__checkbox
                  +checkbox({
                    labelText: "Можно с питомцами",
                    name: "form-elements-pets",
                    isChecked: true
                  })
                li.form-elements__checkbox
                  +checkbox({
                    labelText: `Можно пригласить гостей 
                    (до 10 человек)`,
                    name: "form-elements-guests",
                    isChecked: true
                  })
            .form-elements__small-btn 
              .form-elements__subtitle 
                +title({
                  level: "h5",
                  text: "Radio Buttons"
                })
              .form-elements__radio
                .form-elements__sex-group
                  +radio({
                    name: "form-elements-sex",
                    isChecked: true,
                    text: "Мужчина"
                  })
                .form-elements__sex-group
                  +radio({
                    name: "form-elements-sex",
                    text: "Женщина"
                  })

            .form-elements__small-btn 
              .form-elements__subtitle 
                +title({
                  level: "h5",
                  text: "Toggle"
                })
              .form-elements__toggles 
                +toggle({
                  name: "registration-card-mailing",
                  text: "Получать спецпредложения",
                  checked: true,
                })
                +toggle({
                  name: "registration-card-mailing",
                  text: "Получать спецпредложения",
                })

            .form-elements__small-btn
              .form-elements__subtitle 
                +title({
                  level: "h5",
                  text: "like button"
                })
              .form-elements__likes
                +like({
                  counts: 2,
                })
                +like({
                  counts: 12,
                  liked: true,
                })

            .form-elements__small-btn
              .form-elements__subtitle 
                +title({
                  level: "h5",
                  text: "rate button"
                })
              .form-elements__rate 
                +star-rating({
                  stars: 5,
                  rating: 4,
                })
                +star-rating({
                  stars: 5,
                  rating: 5,
                })
          .form-elements__buttons 
            .form-elements__btn.form-elements__btn_range
              +range-slider({
                name: "Range Slider",   
                step: 100,
                rangeOptions: {
                  min: 0,
                  max: 15000,
                  initialStart: 5000,
                  initialEnd: 10000,
                  addedText: "₽",
                }
              })
            .form-elements__btn
              .form-elements__subtitle 
                +title({
                  level: "h5",
                  text: "buttons",
                })
              .form-elements__elem-btn_medium 
                .form-elements__elem-btn-cont
                  +button({
                    btnColor: "white",
                    btnWrapperColor: "violet",
                    content: "Click me",
                    buttonsize: "small",
                    btnType: "link",
                    href: "registration-page.html"
                  })
                  +button({
                    btnColor: "white",
                    btnWrapperColor: "violet",
                    content: "Click me",
                    buttonsize: "small",
                    btnType: "link",
                    href: "registration-page.html",
                    isHovered: true,
                  })

                .form-elements__elem-btn-cont
                  +button({
                    content: "Click me", 
                    btnColor: "violet",
                    buttonsize: "small",
                    btnType: "link",
                    href: "login-page.html",
                  })
                  +button({
                    content: "Click me", 
                    btnColor: "violet",
                    buttonsize: "small",
                    btnType: "link",
                    href: "login-page.html",
                    isHovered: true,
                  })
                .form-elements__elem-btn-cont
                  +button({
                    content: "Click me",
                    btnColor: "violet",
                    btnWrapperColor: "transparent",
                    border: "false",
                    buttonsize: "tiny",
                  })
                  +button({
                    content: "Click me",
                    btnColor: "violet",
                    btnWrapperColor: "transparent",
                    border: "false",
                    buttonsize: "tiny",
                    isHovered: true,
                  })

              .form-elements__elem-btn_big 
                +button({
                  content: "Перейти к оплате",
                  btnColor: "white",
                  btnWrapperColor: "violet",
                  isArrow: true,
                  buttonsize: "large",
                })
            .form-elements__btn 
              .form-elements__subtitle 
                +title({
                  level: "h5",
                  text: "Pagination",
                })
              .form-elements__paginator
                +paginator({
                  itemsPerPage: 12,
                  allItems: 180,
                  text: "вариантов аренды",
                })
        .form-elements__dropdowns
          .form-elements__dropdowns-item.form-elements__dropdowns-item_2
            .form-elements__dropdown
              .form-elements__subtitle 
                +title({
                  level: "h5",
                  text: "dropdown"
                })
                span.form-elements__status Expanded
              +dropdown({
                type: "facilities",
                size: "small",
                isOpened: true,
                placeholder: "Удобства номера",
                items: [
                  "Cпальни", "Кровати", "Ванные комнаты",
                ],
                plurals: [
                  {
                    "Cпальни": ["спальня", "спальни", "спален"],
                    },
                  {
                    "Кровати": ["кровать", "кровати", "кроватей"],
                  },
                  {
                    "Ванные комнаты": ["ванная комната", "ванных комнаты", "ванных комнат"],
                  }
                ]
              })  

            .form-elements__dropdown
              .form-elements__subtitle 
                +title({
                  level: "h5",
                  text: "dropdown"
                })
                span.form-elements__status Default
              +dropdown({
              type: "facilities",
              size: "small",
              placeholder: "Удобства номера",
              items: [
                "Cпальни", "Кровати", "Ванные комнаты",
              ],
              plurals: [
                {
                  "Cпальни": ["спальня", "спальни", "спален"],
                  },
                {
                  "Кровати": ["кровать", "кровати", "кроватей"],
                },
                {
                  "Ванные комнаты": ["ванная комната", "ванных комнаты", "ванных комнат"],
                }
              ]
              })  

          .form-elements__dropdowns-item
            .form-elements__dropdown
              .form-elements__subtitle 
                +title({
                  level: "h5",
                  text: "dropdown"
                })
              +dropdown({
              type: "guests-dropdown",
              isOpened: true,
              placeholder: "Сколько гостей",
              items: [
                "Взрослые", "Дети", "Младенцы",
              ],
              plurals: [
                {
                  "default": ["гость", "гостя", "гостей"],
                  },
                {
                  "Младенцы": ["младенец", "младенца", "младенцев"],
                }
              ]
              })

          .form-elements__dropdowns-item
            .form-elements__dropdown
              .form-elements__subtitle 
                +title({
                  level: "h5",
                  text: "dropdown"
                })
              +dropdown({
                type: "guests-dropdown",
                isOpened: true,
                placeholder: "Сколько гостей",
                items: [
                  "Взрослые", "Дети", "Младенцы",
                ],
                plurals: [
                  {
                    "default": ["гость", "гостя", "гостей"],
                    },
                  {
                    "Младенцы": ["младенец", "младенца", "младенцев"],
                  }
                ],
                preset: [
                  {
                    "Взрослые": 2,
                  },
                  {
                    "Дети": 1,
                  },
                ]
              })
        .form-elements__checkboxes-lists
          .form-elements__checkboxes-lists-item.form-elements__checkboxes-lists-item_2
            +checkbox-list({
              titleList: "Expandable checkbox list",
              items: [
                {
                  labelText: "Завтрак",
                  name: "form-elements-lunch",

                },
                {
                  labelText: "Письменный стол",
                  name: "form-elements-table",
                  isChecked: true,
                },
                {
                  labelText: "Стул для кормления",
                  name: "form-elements-chair",
                  isChecked: true,
                },
                {
                  labelText: "Кроватка",
                  name: "form-elements-small-bed",
                  isChecked: true,
                },
                {
                  labelText: "Телевизор",
                  name: "form-elements-tv",
                },
                {
                  labelText: "Шампунь",
                  name: "form-elements-shampoo",
                },
              ]
            })
            +checkbox-list({
              isOpened: true,
              titleList: "Expandable checkbox list",
              items: [
                {
                  labelText: "Завтрак",
                  name: "form-elements-lunch",
                },
                {
                  labelText: "Письменный стол",
                  name: "form-elements-table",
                  isChecked: true,
                },
                {
                  labelText: "Стул для кормления",
                  name: "form-elements-chair",
                  isChecked: true,
                },
                {
                  labelText: "Кроватка",
                  name: "form-elements-small-bed",
                  isChecked: true,
                },
                {
                  labelText: "Телевизор",
                  name: "form-elements-tv",
                },
                {
                  labelText: "Шампунь",
                  name: "form-elements-shampoo",
                },
              ]
            })
          .form-elements__checkboxes-lists-item.form-elements__checkboxes-lists-item_2-rich
            .form-elements__subtitle
              +title({
                level: "h5",
                text: "rich Checkbox Buttons"
              })
            .form-elements__checkbox-lists.form-elements__checkbox-lists_wide-corr
              +checkbox({
                mod: "rich",
                checkboxTitle: "Широкий коридор",
                checkboxDescription: "Ширина коридоров в номере не менее 91 см.",
                name: "form-elements-wide-corr",
                id: "form-elements-wide-corr",
              })
            .form-elements__checkbox.form-elements__checkbox-lists_inv-help
              +checkbox({
                mod: "rich",
                checkboxTitle: "Помощник для инвалидов",
                checkboxDescription: `На 1 этаже вас встретит специалист 
                и проводит до номера.`,
                name: "form-elements-inv-help",
                id: "form-elements-inv-help",
              })
          .form-elements__checkboxes-lists-item.form-elements__checkboxes-lists-item_bullet
            .form-elements__subtitle    
              +title({
                level: "h5",
                text: "Bullet list",
              })    
            +rules({
              rules: [
                "Нельзя с питомцами",
                "Без вечеринок и мероприятий",
                "Время прибытия — после 13:00, а выезд до 12:00"
              ]
            })
        .form-elements__details 
            .form-elements__details-item.form-elements__details-item_small 
              +room-data({
                items: [
                  {
                    title: "Комфорт",
                    text: "Шумопоглощающие стены",
                    icon: "smile",
                  },
                  {
                    title: "Удобство",
                    text: "Окно в каждой из спален",
                    icon: "city",
                  },
                ]
                  })     
            .form-elements__details-item.form-elements__details-item_comment
              +review({
                src: "tesak.jpg",
                name: "Мурад Сарафанов",
                date: "5 дней назад",
                liked: true,
                counts: 12,
                text: `Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий.\n
                И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто\n
                не жаловался из соседей.`
                })    


