extends ../../layouts/page-layout/page-layout.pug
include ../../blocks/booking-card/booking-card.pug
include ../../blocks/text-element/text-element.pug
include ../../blocks/footer/footer.pug

block variables 
  - 
    const title = 'Стартовая страница Toxin'
    const description = 'Лэндинговая страница отеля Toxin, где можно указать первые параметры бронирования'
    const keywords = 'Отель, Toxin, забронировать номер'

block content
  .landing
    .landing__content
      .landing__booking-card
        +booking-card()
      .landing__text
        +text-element("Лучшие номера для вашей работы, отдыха и просто вдохновения")

