extends ../../layouts/page-layout/page-layout.pug

include ../../blocks/landing/landing.pug

block variables 
  - 
    const title = "Стартовая страница Toxin"
    const description = "Лэндинговая страница отеля Toxin, где можно указать первые параметры бронирования"
    const keywords = "Отель, Toxin, забронировать номер"

block content
  +landing()

      


      