mixin social(options = {})

  -
    const social = {
      facebook: './assets/decorative/facebook.svg',
      twitter: './assets/decorative/twitter.svg',
      instagram: './assets/decorative/instagram.svg', 
    } 


  ul.social-links 
    each obj in options 
      -
        const {
        link = 'error-page.html',
        name = 'Without name',
        icon = ''
        } = obj

      li.social-links__item 
        a(
          href= link
          class = `social-links__${name}`
          target = "_blank"
          rel = "noopener noreferrer"
        )
        img(
          src = social[icon]
          alt = icon
        )
