mixin social(options = {})

  -
    const social = {
      facebook: './assets/decorative/facebook.svg',
      twitter: './assets/decorative/twitter.svg',
      instagram: './assets/decorative/instagram.svg', 
    } 


  ul.social-links 
    each obj in options 
      -
        const {
        link = 'error-page.html',
        name = 'Without name',
        icon = ''
        } = obj

        const socialIcon = social[icon] ? social[icon] : social.facebook;
        const requirePath = `@assets/decorative/${icon}`

      li.social-links__item 
        a(
          href= link
          class = `social-links__${name}`
          target = "_blank"
          rel = "noopener noreferrer"
        )
          case icon
            when 'facebook': include ../../assets/decorative/facebook.svg 
            when 'twitter': include ../../assets/decorative/twitter.svg 
            when 'instagram': include ../../assets/decorative/instagram.svg 
            default: include ../../assets/decorative/facebook.svg 

