mixin social(options = {})

  ul.social-links 
    each obj in options 
      -
        const {
        link = "error-page.html",
        name = "Without name",
        icon = ""
        } = obj

      li.social-links__item 
        a(
            href= link
            class = `social-links__item_${name}`
            target = "_blank"
            rel = "noopener noreferrer"
        )
          img(src=`${icon}` alt=`${name} link` width="24" height="24")