include ../input/input.pug

mixin radio (options = {})
  - 
    const {
      name = '',
      id = '',
      checked = false,
      text = '',
    } = options 

  label.radio__label
    +input({
      type: 'radio',
      name: name,
      id: id,
      classInput: 'radio__input visually-hidden',
      checked: checked
      })
    span.radio__new-input
    span.radio__title= text



    