mixin radio (options = {})
  - 
    const {
      name = '',
      isChecked = false,
      text = '',
    } = options 

  label.radio
    input.radio__input(
      type = "radio",
      name = name,
      checked = isChecked
      )
    span.radio__new-input
    span.radio__title= text



