mixin radio (options = {})
  - 
    const {
      name = '',
      id = '',
      isChecked = false,
      text = '',
    } = options 

  label.radio
    input(
      type = 'radio',
      name = name,
      id = id,
      class = 'radio__input visually-hidden',
      checked = isChecked
      )
    span.radio__new-input
    span.radio__title= text



    