@use 'sass:math';
@import '../../common/functions';
@import '../../common/variables';

.radio {
  display: flex;
  align-items: center;
  cursor: pointer;

  &__new-input {
    margin-right: 10px;
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: $secondary-color-2;
    border: 1px solid rgba($dark-color, 0.25);
    border-radius: 100%;
  }

  &__input:checked + &__new-input {
    border: 1px solid $primary-color;

    &::before {
      content: '';
      position: absolute;
      width: 12px;
      height: 12px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 100%;
      background: $gradient;
    }
    
  }

  &__input:focus + &__new-input {
    outline: 2px solid $dark-color;
  }
}
