@use 'sass:map';
@use '../../common/variables';

.radio {
  display: flex;
  align-items: center;
  cursor: pointer;

  &__input {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  &__new-input {
    margin-right: 10px;
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: map.get(variables.$colors, 'secondary-2');
    border: 1px solid rgba(map.get(variables.$colors, 'dark'), 0.25);
    border-radius: 100%;
  }

  &__input:checked + &__new-input {
    border: 1px solid map.get(variables.$colors, 'primary');

    &::before {
      content: '';
      position: absolute;
      width: 12px;
      height: 12px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 100%;
      background: map.get(variables.$gradients, 'primary');
    }
  }

  &__input:focus + &__new-input {
    outline: 2px solid map.get(variables.$colors, 'dark');
  }
}
