@use 'sass:map';
@use '../../common/variables';

.room-price {
  color: rgba(map.get(variables.$colors, 'dark'), 0.5);
  word-break: break-all;

  &__price {
    font-size: map.get(variables.$font-sizes, 'sm');
    font-weight: 700;
  }

  &__word {
    font-size: map.get(variables.$font-sizes, 'xs');
    font-weight: 400;
  }
}
