@use 'sass:math';
@import '../../common/functions.scss';
@import '../../common/variables.scss';

.room-price {
  color: rgba($dark-color, 0.5);
  word-break: break-all;
  &__price {
    font-size: $fontSmall;
    font-weight: 700;
  }

  &__word {
    font-size: $fontTiny;
    font-weight: 400;
  }
}
