@use 'sass:map';
@use 'sass:color';
@use 'SharedStyles/variables';

.room-price {
  color: rgb(map.get(variables.$colors, 'dark'), 0.5);
  word-break: break-word;

  &__price {
    font-size: map.get(variables.$font-sizes, 'sm');
    font-weight: 700;
  }

  &__word {
    font-size: map.get(variables.$font-sizes, 'xs');
    font-weight: 400;
  }
}
