@use 'sass:map';
@use '../../common/variables';

.rules {
  font-size: map.get(variables.$font-sizes, 'small');
  color: rgba(map.get(variables.$colors, 'dark'), 0.75);
  line-height: 24px;

  &__items {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0;
    padding: 0;
  }

  &__item {
    position: relative;
    list-style: none;
    padding-left: 20px;

    &::before {
      content: '';
      position: absolute;
      top: 7px;
      left: 0;
      width: 10px;
      height: 10px;
      background-color: rgba(map.get(variables.$colors, 'dark'), 0.25);
      border-radius: 50%;
    }
  }
}
