@use 'sass:map';
@use 'sass:color';
@use '@styles/variables';

.rules {
  font-size: map.get(variables.$font-sizes, 'sm');
  color: rgb(map.get(variables.$colors, 'dark'), 0.75);
  line-height: 24px;

  &__items {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 265px;
    margin: 0;
    padding: 0;
  }

  &__item {
    list-style: none;

    display: flex;
    align-items: flex-start;
    gap: 12px;

    &::before {
      content: '';
      display: flex;

      transform: translateY(50%);

      min-width: 10px;
      max-width: 10px;
      min-height: 10px;
      max-height: 10px;

      background-color: rgb(map.get(variables.$colors, 'dark'), 0.25);
      border-radius: 50%;
    }
  }

  &__text {
    margin: 0;
  }
}
