include ../title/title.pug

mixin room-data(options = {})
  -
    const {
      items = []
    } = options

    const icons = {
      smile: './assets/decorative/smile.svg',
      city: './assets/decorative/city.svg',
      fire: './assets/decorative/fire.svg',
    } 

  ul.room-data 
    each item in items 
      -
        const {
          title = 'Название пункта',
          text = 'Текст пункта',
          icon = 'smile',
        } = item 

        const dataIcon = icons[icon] ? icons[icon] : icons.smile;

      li.room-data__item 
        img.room-data__icon(
          src = dataIcon
          alt = icon
        )
        span.room-data__title= title
        span.room-data__description= text
