@use 'sass:map';
@use '../../common/variables';

.room-data {
  color: rgba(map.get(variables.$colors, 'dark'), 0.75);
  font-size: map.get(variables.$font-sizes, 'small');
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;

  &__item {
    display: grid;
    align-items: center;
    grid-template:
      's t'
      's d';
    padding: 21px 0 19px;
    border-bottom: 1px solid rgba(map.get(variables.$colors, 'dark'), 0.25);
    list-style: none;

    &:first-child {
      gap: 0 7px;
    }

    &:nth-child(3) {
      border-bottom: none;
    }
  }

  &__icon {
    grid-area: s;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 48px;
  }

  &__title {
    grid-area: t;
    font-weight: 700;
  }

  &__description {
    grid-area: d;
  }
}
