@use 'sass:math';
@import '../../common/functions.scss';
@import '../../common/variables.scss';

.room-data {
  color: rgba($dark-color, 0.75);
  font-size: $fontSmall;

  display: flex;
  flex-direction: column;

  &__item {
    display: grid;
    grid-template-columns: 48px auto;
    grid-template-rows: auto auto;
    gap: 0 10px;
    align-items: center;
    grid-template-areas:
      's t'
      's d';

    padding: 21px 0 19px 0;

    border-bottom: 1px solid rgba($dark-color, 0.25);

    &:nth-child(3) {
      border-bottom: none;
    }
  }

  &__icon {
    grid-area: s;
  }

  &__title {
    grid-area: t;
    font-weight: 700;
  }

  &__description {
    grid-area: d;
  }

  &__icon {
    width: 48px;
    height: 48px;

    &_smile {
      background: url('./icons/insert_emoticon.svg') no-repeat center;
    }
    &_city {
      background: url('./icons/location_city.svg') no-repeat center;
    }
    &_fire {
      background: url('./icons/whatshot.svg') no-repeat center;
    }
  }
}
