include ../title/title.pug

mixin room-data(options = {})
  -
    const {
        items = []
    } = options

  ul.room-data 
    each item in items 
      -
        const {
          title = "Название пункта",
          text = "Текс пункта",
          icon = "default"
        } = item 

        const icons = {
          default: "room-data__icon_smile",
          smile: "room-data__icon_smile",
          city: "room-data__icon_city",
          fire: "room-data__icon_fire"
        }
      li.room-data__item 
        div(
            class = `room-data__icon ${icons[icon]}`
        )
        span.room-data__title= title
        p.room-data__description= text
          