@use 'sass:map';
@use 'sass:color';
@use 'sass:selector';
@use '@styles/variables';

$root: 'button';

.button {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 2px;
  border-radius: 25px;
  background: map.get(variables.$gradients, 'primary');
  position: relative;
  cursor: pointer;

  &:hover,
  &_hovered {
    background: map.get(variables.$gradients, 'primary-transparentize-half');
  }

  &__normal-button,
  &__link {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 25px;
    font-family: variables.$font;
    font-weight: 700;
    font-size: map.get(variables.$font-sizes, 'xs');
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    cursor: pointer;

    &_color {
      @at-root .button {
        &_bordered {
          background: transparent;

          &:hover {
            background: transparent;
            .button__content {
              color: rgb(map.get(variables.$colors, 'dark'), 0.5);
            }
          }
        }
      }

      &_violet {
        color: map.get(variables.$colors, 'tertiary');
        background-color: transparent;
      }

      &_white {
        background-color: map.get(variables.$colors, 'tertiary');
        color: map.get(variables.$colors, 'primary');

        &:hover {
          cursor: pointer;
        }
      }
    }

    &_size {
      &_tiny {
        padding: 0;
      }

      &_small {
        padding: 7px 18px 8px;
      }

      &_medium {
        padding: 12px 16px 13px;
      }

      &_big {
        padding: 10px 23px 13px 24px;
      }

      &_large {
        padding: 7px 0 8px 24px;
      }
    }
  }

  &__content {
    margin: 0 auto;

    &_color {
      &_gray {
        color: rgb(map.get(variables.$colors, 'dark'), 0.5);
      }
    }
  }

  &__icon {
    padding-right: 11px;
    padding-top: 4px;

    svg,
    path {
      fill: white;
    }
  }

  @media (max-width: map.get(variables.$breakpoints, 'tablet')) {
    width: 100%;
  }

  @media (max-width: map.get(variables.$breakpoints, 'mobile')) {
    display: flex;
  }
}
