mixin button(options = {}) 
  - 
    const {
      classWrapper = '',
      classBtn = '',
      btnMod = '',
      btnColor = '',
    } = options 

    const colorBtn = {
      white: 'button_white',
      violet: 'button_violet'
    }


    const modificators = {
      arrow: 'button_arrow'
    }
    const mod = btnMod === '' ? '' : modificators[btnMod]

  .btn-wrapper(
    class = classWrapper
   )
      button(
        class = `button ${colorBtn[btnColor]} ${mod}`
      )= options.content

