@use 'sass:map';
@use '../../common/variables';

.button {
  padding: 2px;
  border-radius: 25px;
  background: map.get(variables.$gradients, 'primary');
  position: relative;
  cursor: pointer;

  @media (max-width: variables.$tablet) {
    width: 100%;
  }

  &:hover,
  &_hovered {
    background: map.get(variables.$gradients, 'primary-50');
  }

  @media (max-width: variables.$mobile) {
    display: block;
  }

  &_transparent {
    background: transparent;

    &:hover {
      background: transparent;

      .button__content {
        color: rgba(map.get(variables.$colors, 'dark'), 0.5);
      }
    }
  }

  &__button {
    width: 100%;
    display: flex;
    justify-content: center;
    border: none;
    border-radius: 25px;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    font-size: map.get(variables.$font-sizes, 'tiny');
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
  }

  &_tiny {
    padding: 0;
  }

  &_small {
    padding: 7px 18px 8px;
  }

  &_medium {
    padding: 12px 16px 13px;
  }

  &_big {
    padding: 10px 23px 13px 24px;
  }

  &_large {
    padding: 13px 50px 12px 46px;
  }

  &_violet {
    color: map.get(variables.$colors, 'secondary-2');
    background-color: transparent;
  }

  &_white {
    background-color: map.get(variables.$colors, 'secondary-2');
    color: map.get(variables.$colors, 'primary');

    &:hover {
      cursor: pointer;
    }
  }

  &_arrow {
    position: absolute;
    top: 33%;
    right: 13px;
    color: map.get(variables.$colors, 'secondary-2');
    font-size: 16px;
  }

  &_link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }

  &_hovered {
    .button_tiny {
      color: rgba((map.get(variables.$colors, 'dark')), 0.5);
    }
  }
}
