mixin button(options = {}) 
  - 
    const classWrapper = options.classWrapper ? options.classWrapper : ''
    const classBtn = options.classBtn ? options.classBtn : ''
    const modificators = options.modificators ? `button_${options.modificators}` : ''
  .btn-wrapper(
    class = classWrapper
   )
      button(
        class = `button ${classBtn} ${modificators}`
      )= options.content

