mixin button(options = {}) 
  - 
    const {
      rightPart = '',
      color = 'white',
      size = 'small',
      href = '',
      content = '',
      isHovered = false,
      isBordered = true,
      isGrey = false,
    } = options 

  .button(class = {
    button_hovered: isHovered,
    button_bordered: !isBordered
  })
    if(href === '')
      button(
        class = `button__normal-button button__normal-button_color_${color} button__normal-button_size_${size}`
        type = btnType
        )
          span.button__content(class = {
            button__content_color_gray: isGrey
          })= content
          - if (rightPart === 'arrow-forward') 
            .button__icon
              include ../../assets/decorative/arrow-forward.svg 
    - if(href !== '')
      a(
        class = `button__link button__link button__link_color_${color} button__link_size_${size}`
        href = href
        )
          span.button__content(class = {
            button__content_gray: isGrey
          })= content
          - if (rightPart  === 'arrow-forward') 
            .button__icon
              include ../../assets/decorative/arrow-forward.svg 

