include ../header/header.pug
include ../landing/landing.pug

body.page
  +header({classHeader: 'page__header container',
          href: '#'})
  +landing({classMain: 'page__main'})
  footer.page__footer.footer