mixin subscription-field(options = {})
  - 
    const {
      name = '',
      value = '',
      placeholder = '',
      readonly = false,
      isRequired = false,
      isMasked = false,
      isHovered = false,
      isAutocomplete = false,
      action = './error-page.html'
    } = options


  .subscription-field
    form.subscription-field__form(
      action = action
      method = "GET"
    )
      input.subscription-field__input(
        type = "text"
        name = name
        value = value 
        placeholder = placeholder
        readonly = readonly
        pattern = "[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
        required = isRequired
        autocomplete = isAutocomplete ? "on" : "off"
      )
      button.subscription-field__button(
        type = "submit"
      )
        .subscription-field__button-icon
          include ../../assets/decorative/arrow-forward.svg 