@use 'sass:map';
@use '../../common/variables';

.subscription-field {
  &__form {
    display: flex;
    justify-content: space-between;
    border: 1px solid rgb(map.get(variables.$colors, 'dark'), 0.25);
    border-radius: 4px;
  
    &:hover,
    &:focus,
    &_hovered {
      border-color: rgba(map.get(variables.$colors, 'dark'), 0.5);
    }
  }

  // According to the maket requirements
  &:focus {
    outline: none;
  }

  &__input {
    width: 100%;
    padding: 12px 15px;
    outline: none;
    border: none;
    flex-basis: 1;
    font-size: map.get(variables.$font-sizes, 'small');
    font-family: Montserrat, sans-serif;

    &::placeholder {
      color: rgba(map.get(variables.$colors, 'dark'), 0.25);
    }

    &:hover,
    &:focus,
    &_hovered {
      &::placeholder {
        color: rgba(map.get(variables.$colors, 'dark'), 0.75);
      }
    }
  }

  &__button {
    min-width: 44px;
    min-height: 44px;
    border: none;
    background-color: transparent;

    &::before {
      background: map.get(variables.$gradients, 'primary');
      background-clip: text;
      color: transparent;
      font-size: map.get(variables.$font-sizes, 'medium');
    }

    &:hover {
      cursor: pointer;
    }
  }
}
