@use 'sass:map';
@use 'sass:color';
@use 'SharedStyles/variables';

.subscription-field {
  &__form {
    display: flex;
    justify-content: space-between;
    border: 1px solid rgb(map.get(variables.$colors, 'dark'), 0.25);
    border-radius: 4px;

    &:hover,
    &:focus,
    &_hovered {
      border-color: rgb(map.get(variables.$colors, 'dark'), 0.5);
    }
  }

  &:focus {
    outline: none;
  }

  &__input {
    width: 100%;
    padding: 12px 15px;
    outline: none;
    border: none;
    flex-basis: 1;
    font-size: map.get(variables.$font-sizes, 'sm');
    font-family: Montserrat, sans-serif;

    &::placeholder {
      color: rgb(map.get(variables.$colors, 'dark'), 0.25);
    }

    &:hover,
    &:focus,
    &_hovered {
      &::placeholder {
        color: rgb(map.get(variables.$colors, 'dark'), 0.75);
      }
    }
  }

  &__button {
    min-width: 44px;
    min-height: 44px;
    border: none;
    background-color: transparent;

    &::before {
      background: map.get(variables.$gradients, 'primary');
      background-clip: text;
      color: transparent;
      font-size: map.get(variables.$font-sizes, 'lg');
    }

    &:hover {
      cursor: pointer;
    }

    &_icon {
      &::before {
        content: '\e901';
      }
      
    }
  }
}
