@use 'sass:map';
@use 'sass:color';
@use './functions';

$breakpoints: (
  'pc': 1280px,
  'tablet': 1024px,
  'mobile': 420px,
);

$layout-sizes: (
  'container': 1440px,
  'content': 1170px,
);

$base-font-size: 16;
$font-sizes: (
  'xs': functions.rem(12, $base-font-size),
  'sm': functions.rem(14, $base-font-size),
  'lg': functions.rem(19, $base-font-size),
  '2xl': functions.rem(24, $base-font-size),
);

// colors
$colors: (
  'dark': #1f2041,
  'primary': #bc9cff,
  'primary-transparentize-half': rgb(#bc9cff, 0.5),
  'primary-transparentize-quarter': rgb(#bc9cff, 0.25),
  'secondary': #6fcf97,
  'tertiary': white,
);

$gradients: (
  'primary': linear-gradient((map.get($colors, 'primary')), #8ba4f9),
  'primary-transparentize-half':
    linear-gradient(
      (map.get($colors, 'primary-transparentize-half')),
      rgb(#8ba4f9, 0.5)
    ),
  'primary-transparentize-quarter':
    linear-gradient(
      (map.get($colors, 'primary-transparentize-quarter')),
      rgb(#8ba4f9, 0.25)
    ),
  'secondary': linear-gradient(map.get($colors, 'secondary'), #66d2ea),
);
