mixin like(options = {})
  -
    const {
      counts = 0,
      isLiked = false
    } = options

    const heartClass = isLiked ? 'like__heart_liked' : 'like__heart_unliked'

  .like
    button.like__button.js-like__button(
      class = {
      like__button_liked: isLiked,
      }, 
      name = "liked__btn", 
      type = "button",
    )
      div.like__heart.js-like__heart(class = heartClass)
      span.like__count.js-like__count(class = {
        like__count_liked: isLiked,
      })= counts

