@use 'sass:math';
@import '../../common/functions.scss';
@import '../../common/variables.scss';

.like {
  &__button {
    display: flex;
    align-items: center;
    justify-content: center;

    min-width: 40px;
    min-height: 20px;
    padding: 1px;

    border: 1px solid rgba($dark-color, 0.25);
    border-radius: 10px;

    background-color: transparent;

    cursor: pointer;

    &_liked {
      border: 1px solid $primary-color;
    }
  }

  &__heart {
    padding: 2px;
    &::before {
      background-image: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
    }
  }

  &__count {
    padding: 2px;
    font-size: rem(10);
    color: rgba($dark-color, 0.25);

    &_liked {
      color: $primary-color;
    }
  }
}
