mixin form-datepick(options = {})

  label(
    for = options.id
    class = options.classLabel
  )=options.text
  
  input(
    type = options.type
    name = options.name
    id = options.id
    class = options.classInput
  )



    //- text = '', id = '', addClassesLabel = '', addClassesInput = ''