mixin counter(options = {})
  .counter(
      class =  options.class
  )
    span.counter__text= options.text
    button(
        class = "counter__btn counter__btn_decrement"
    )= '-'
    span.counter__count 0
    button(
        class = "counter__btn counter__btn_increment"
    )= '+'
    