include ../button/button.pug
include ../title/title.pug

include ../form/form.pug

include ../input/input.pug
include ../datepick/datepick.pug
include ../dropdown/dropdown.pug

mixin booking-card(options = {})
  section(
    class = options.classBook
  )
    +form({
      classForm: 'booking-card__card',
      action: 'search-page.html'
      }) 
      +title({
        level: 'h2',
        text: 'Найдём номера под ваши пожелания',
        classTitle: 'booking-card__title',
      })

      +form-group({
        classGroup: 'booking-card__datepick',
        datepick: true
      })
        +datepick_2()
      +form-group({
        classGroup: 'booking-card__dropdown'
      })
        +label({
          text: 'Гости',
          forInput: 'booking-guests',
          classLabel: 'booking-card__label'
        })
        +dropdown({
           class: 'booking-card__dropdown-input',
           idInput: 'booking-guests',
           placeholder: 'Сколько гостей',
           mod: 'guests',
           items: [
             'Взрослые', 'Дети', 'Младенцы'
           ],
           plurals: [
             {
               'default': ['гость', 'гостя', 'гостей']
              },
             {
               'Младенцы': ['младенец', 'младенца', 'младенцев']
             }
             
           ]
        })
      +button({
        content: 'Подобрать номер',
        btnColor: 'white',
        btnWrapperColor: 'violet',
        btnMod: ['arrow'],
        classWrapper: 'booking-card__button',
        btnSize: 'large'
      })
      