include ../button/button.pug
include ../title/title.pug

include ../form/form.pug

include ../input/input.pug
//- include ../select/select.pug
include ../dropdown/dropdown.pug
include ../datepicker/datepicker.pug

mixin booking-card(options = {})
  section(
    class = options.classBook
  )
    +form({
      classForm: 'booking-card__card form_booking-grid',
      }) 
      +title({
        text: 'Найдём номера под ваши пожелания',
        classTitle: 'form__title form__title_grid-wide-2',
      })
      +datepicker({
        classDatepick: 'form__datepick',
        many: true
      })
      +form-group({
        modificators: '_grid-wide-2'
      })
        +label({
          text: 'Гости',
          id: 'booking-guests',
        })
        +dropdown({
           class: 'form__dropdown',
           placeholder: 'Сколько гостей',
           dropdownContent: 'DropDown Content'
        })
      +button({
        content: 'Подобрать номер',
        classWrapper: 'form__button form__button_grid-wide-2',
      })
        