include ../button/button.pug
include ../title/title.pug

include ../form/form.pug

include ../input/input.pug
//- include ../select/select.pug
include ../datepick/datepick.pug
include ../dropdown/dropdown.pug

mixin booking-card(options = {})
  section(
    class = options.classBook
  )
    +form({
      classForm: 'booking-card__card form_booking-grid',
      }) 
      +title({
        level: 'h2',
        text: 'Найдём номера под ваши пожелания',
        classTitle: 'form__title form__title_grid-wide-2',
      })

      +form-group({
        classGroup: 'form__group_grid-2 form__group_datepick _datepick-2 _datepick-js'
      })
        +datepick_2()
      +form-group()
        +label({
          text: 'Гости',
          id: 'booking-guests',
        })
        +dropdown({
           class: 'form__dropdown',
           idInput: 'booking-guests',
           text: 'Сколько гостей',
           mod: 'guests',
           items: [
             'Взрослые', 'Дети', 'Младенцы'
           ],
           plurals: [
             {
               'default': ['гость', 'гостя', 'гостей']
              },
             {
               'Младенцы': ['младенец', 'младенца', 'младенцев']
             }
             
           ]
        })
      +button({
        content: 'Подобрать номер',
        btnColor: 'white',
        btnWrapperColor: 'violet',
        btnMod: 'arrow',
        classWrapper: 'form__button form__button_grid-wide-2',
      })
      