include ../button/button.pug

include ../form/form.pug
include ../form-title/form-title.pug

include ../input/input.pug
include ../select/select.pug

mixin booking-card(options = {})
  section.booking-card
    +form({
      classForm: 'booking-card__card',
      modificators: '_booking-grid'
      }) 
      +form-title('Найдём номера под ваши пожелания', 'form__title')
      +form-group
        +label({
          text: 'Прибытие',
          id: 'booking-entry',
          classLabel: 'form__label'
        })
        +input({
          type: 'date',
          id: 'booking-entry',
          classInput: 'form__booking-date'
        }) 
      +form-group
        +label({
          text: 'Выезд',
          id: 'booking-out',
          classLabel: 'form__label'
        })
        +input({
          type: 'date',
          id: 'booking-out',
          classInput: 'form__booking-date'
        }) 
      +form-group({
        modificators: '_wide'
      })
        +label({
          text: 'Гости',
          id: 'booking-guests',
          classLabel: 'form__label'
        })
        +select({
          name: 'quests-count',
          id: 'booking-guests',
          classSelect: 'form__booking-guests',
          optionValue: [{
                          value: 'Сколько гостей', 
                          hidden: true},
                        {
                          value: 1,
                        },
                        {
                          value: 2
                        }]
        })
        +button({
          content: 'Подобрать номер',
          classWrapper: 'booking-card__button',
        })
        
     

      



//-  .form__group
//-         label(for="booking-entry").form__label Прибытие
//-         input(type="date")#booking-entry.form__booking-date
//-       .form__group
//-         label(for="booking-out").form__label Выезд
//-         input(type="date")#booking-out.form__booking-date
//-       .form__group_wide
//-         label(for="booking-guests").form__label Гости
//-         select(name="quests-count")#booking-guests.form__booking-guests
//-           <option  hidden>Сколько гостей</option> 
//-           <option value="1">1</option> 
//-           <option value="2">2</option> 
//-           <option value="3">3</option>
//-           <option value="4">4</option> 
//-           <option value="5+">5+</option>
//-           <option value="9999">9999</option>
        
//-       +button('form__btn_pick', 'Подобрать номер')
