include ../button/button.pug
include ../title/title.pug
include ../text-element/text-element.pug

include ../datepick/datepick.pug
include ../dropdown/dropdown.pug

mixin booking-card(options = {})
  section.booking-card
    form.booking-card__card(
      action = 'search-page.html'
      method = GET
    )
      .booking-card__title
        +title({
          level: 'h2',
          text: 'Найдём номера под ваши пожелания',
        })
      .booking-card__datepick
        +datepick_2()
      .booking-card__dropdown
        .booking-card__subtitle
          +title({
            text: 'Гости',
            level: 'h5'
          }) 
        .booking-card__dropdown-input
          +dropdown({
            type: 'guests',
            id: 'booking-guests',
            placeholder: 'Сколько гостей',
            items: [
              'Взрослые', 'Дети', 'Младенцы'
            ],
            plurals: [
              {
                'default': ['гость', 'гостя', 'гостей']
                },
              {
                'Младенцы': ['младенец', 'младенца', 'младенцев']
              }
            ]
          })
      .booking-card__button
        +button({
          content: 'Подобрать номер',
          btnColor: 'white',
          btnWrapperColor: 'violet',
          arrow: true,
          btnSize: 'large'
        })
      