@use 'sass:math';
@import '../../common/variables';

.booking-card {
  @include boxes;

  max-width: 380px;
  padding: 39px 29px 30px;

  @media (max-width: $mobile) {
    padding: 40px 15px 30px;
  }

  &__card {
    display: grid;
    grid-template-columns: 1fr;
    gap: 22px;
  }

  &__button {
    margin-top: 7px;
  }

  &__subtitle {
    text-transform: uppercase;
    padding-bottom: 4px;
  }
}
