include ../button/button.pug
include ../title/title.pug

include ../form/form.pug

include ../input/input.pug
include ../select/select.pug

//- include ../datePicker/datePicker.pug

mixin booking-card(options = {})
  section.booking-card
    +form({
      classForm: 'booking-card__card',
      modificators: '_booking-grid'
      }) 
      +title({
        text: 'Найдём номера под ваши пожелания',
        classTitle: 'form__title',
        modificators: '_grid-wide-2'
      })
      +form-group
        +label({
          text: 'Прибытие',
          id: 'booking-entry',
          classLabel: 'form__label'
        })
        +input({
          type: 'date',
          id: 'booking-entry',
          classInput: 'form__booking-date'
        }) 
      +form-group
        +label({
          text: 'Выезд',
          id: 'booking-out',
          classLabel: 'form__label'
        })
        +input({
          type: 'date',
          id: 'booking-out',
          classInput: 'form__booking-date'
        }) 
      +form-group({
        modificators: '_grid-wide-2'
      })
        +label({
          text: 'Гости',
          id: 'booking-guests',
          classLabel: 'form__label'
        })
        +select({
          name: 'quests-count',
          id: 'booking-guests',
          classSelect: 'form__booking-guests',
          optionValue: [{
                          value: 'Сколько гостей', 
                          hidden: true},
                        {
                          value: 1,
                        },
                        {
                          value: 2
                        }]
        })
      +button({
        content: 'Подобрать номер',
        classWrapper: 'form__button',
        modificators: '_grid-wide-2'
      })
        