include ../button/button.pug
include ../title/title.pug

include ../form/form.pug

include ../input/input.pug
//- include ../select/select.pug
include ../dropdown/dropdown.pug

mixin booking-card(options = {})
  section(
    class = options.classBook
  )
    +form({
      classForm: 'booking-card__card form_booking-grid',
      }) 
      +title({
        level: 'h2',
        text: 'Найдём номера под ваши пожелания',
        classTitle: 'form__title form__title_grid-wide-2',
      })

      +form-group({
        classGroup: 'form__group_grid-2 form__group_datepick _datepick-2 _datepick-js'
      })
        +form-group()
          +label({
            text: 'Прибытие',
            id: 'booking-enter',
          })
          +input({
            type: 'date',
            id: 'booking-enter',
            classInput: 'datepick__input form_datepick-start _datepickItem',
            datepicker: true,
            arrow: true
          })
        +form-group()
          +label({
            text: 'Выезд',
            id: 'booking-out',
          })
          +input({
            type: 'date',
            id: 'booking-out',
            classInput: 'datepick__input form_datepick-end _datepickItem',
            datepicker: true,
            arrow: true
          })
        .datepick_container
          .datepick_btns
            +button({
              content: 'Очистить',
              classWrapper: 'datepick__button  btn-wrapper_transparent',
              classBtn: 'button_color'
            })
            +button({
              content: 'Применить',
              classWrapper: 'datepick__button btn-wrapper_transparent',
              classBtn: 'button_color'
            })


      
      +form-group()
        +label({
          text: 'Гости',
          id: 'booking-guests',
        })
        +dropdown({
           class: 'form__dropdown',
           placeholder: 'Сколько гостей',
           dropdownContent: 'DropDown Content'
        })
      +button({
        content: 'Подобрать номер',
        classWrapper: 'form__button form__button_grid-wide-2',
      })
        


      //-   +datepicker({
      //-   classDatepick: 'form__datepick',
      //-   many: true,
      //-   fields: [
      //-     {
      //-       id: 'booking-enter',
      //-       text: 'Прибытие',
      //-     },
      //-     {
      //-       id: 'booking-out',
      //-       text: 'Выезд',
      //-     },
      //-   ]
      //- })