@use 'sass:map';
@use 'sass:color';
@use '@styles/variables';

.input {
  position: relative;

  &__field {
    padding: 12px 15px;
    border: 1px solid rgb(map.get(variables.$colors, 'dark'), 0.25);
    color: rgb(map.get(variables.$colors, 'dark'), 0.75);
    border-radius: 4px;
    font-size: map.get(variables.$font-sizes, 'sm');
    font-family: Montserrat, sans-serif;

    &::placeholder {
      color: rgb(map.get(variables.$colors, 'dark'), 0.25);
    }

    &:hover,
    &:focus,
    &_hovered {
      border-color: rgb(map.get(variables.$colors, 'dark'), 0.5);
      color: rgb(map.get(variables.$colors, 'dark'), 0.75);

      &::placeholder {
        color: rgb(map.get(variables.$colors, 'dark'), 0.75);
      }
    }

    &:focus {
      outline: none;
    }

    &:not([type='radio'], [type='checkbox']) {
      width: 100%;
    }
  }

  &_arrow {
    position: absolute;
    top: 36%;
    right: 15px;
    font-size: map.get(variables.$font-sizes, 'xs');

    &_icon-expand {
      &::before {
        content: '\e903';
      }
    }

    &_icon-forward {
      &::before {
        content: '\e901';
      }
    }

    &::before {
      color: rgb(map.get(variables.$colors, 'dark'), 0.5);
    }
  }

  &_arrow-forward {
    position: absolute;
    top: 35%;
    right: 13px;
    font-size: 16px;

    &::before {
      background: map.get(variables.$gradients, 'primary');
      background-clip: text;
      color: transparent;
    }
  }

  &_opened {
    transform: rotate(180deg);
  }
}
