mixin input(options = {})
  - if(options.datepicker) 
    - var datepicker = 'datepicker'
  - if(options.dropdown) 
    - var dropdown = 'input__dropdown'
  input(
    type = options.type
    name = options.name
    id = options.id
    class = `input ${dropdown || ''} ${options.classInput} ${datepicker || ''}`
    value = options.value 
    placeholder = options.placeholder
  )  
  