@use 'sass:math';
@import '../../common/functions.scss';
@import '../../common/variables.scss';

.input {
  &:focus {
    outline: none;
  }

  width: 100%;

  padding: rem(13) rem(15);

  border: 1px solid rgba($dark-color, 0.25);
  border-radius: 4px;

  color: rgba($dark-color, 0.75);
  font-size: rem(14);
  font-family: 'Montserrat', sans-serif;

  -webkit-appearance: none;
  -moz-appearance: none;
  &::-webkit-calendar-picker-indicator {
    display: none;
  }

  &:hover {
    border-color: rgba($dark-color, 0.5);
  }

  &_arrow {
    background: url(../../icons/expand_more.svg) no-repeat right center;
    background-origin: content-box;
  }

  &_arrow-violet {
    background: url(../../icons/arrow_violet.svg) no-repeat right center;
    background-origin: content-box;
  }
}
