mixin input(options = {})
  - 
    const {
      type = 'text',
      name = '',
      value = '',
      placeholder = '',
      readonly = false,
      pattern = '.*',
      arrow = false,
      isRequired = false,
      isMasked = false,
      isHovered = false,
      isAutocomplete = false,
    } = options

    const arrows = {
      expandMore: 'input__arrow_icon-expand',
      forward: 'input__arrow_icon-forward',
    }


  .input
    input.input__field(
      type = type
      name = name
      class = {
        input__field_masked: isMasked,
        input__field_hovered: isHovered
      }
      value = value 
      placeholder = placeholder
      readonly = readonly
      pattern = pattern
      required = isRequired
      autocomplete = isAutocomplete ? "on" : "off"
    )  
    - if(arrow && arrows[arrow])
      div(
        class = `input__arrow js-input__arrow ${arrows[arrow]}` 
      )