mixin input(options = {})
  input(
    type = options.type
    name = options.name
    id = options.id
    class = options.classInput
    value = options.value 
    placeholder = options.placeholder
    datePicker = options.datepicker 
  )  
  