mixin input(options = {})
  - 
    const {
      type = 'text',
      name = '',
      id = '',
      classInput = '',
      value = '',
      placeholder = '',
      readonly = false,
      pattern = '.*',
      arrow = false,
      inputOptions = '',
      checked = false,
      required = false,
    } = options

    const arrows = {
      expandMore: 'icon__expand_more',
      forward: 'icon__arrow_forward input_arrow-forward',
    }

  div(
    class = `input ${classInput}`
  )
    input(
      type = type
      name = name
      id = id
      class = `input__field`
      value = value 
      placeholder = placeholder
      readonly = readonly
      pattern = pattern
      data-inputOptions = inputOptions,
      checked = checked,
      required = required
    )  
    - if(arrow && arrows[arrow])
      div(
        class = `input_arrow _input_arrow-js ${arrows[arrow]}` 
      )