mixin input(options = {})
  - 
    const {
      type = 'text',
      name = '',
      id = '',
      classInput = '',
      value = '',
      placeholder = '',
      readonly = false,
      pattern = '.*',
      inputMod = [],
      inputOptions = '',
      checked = false,
      required = false
    } = options

  

    const modificators = {
      arrow: 'input_arrow',
    }

    let mod = ''
    if(inputMod.length > 0) {
      mod += modificators[inputMod]
    }

  input(
    type = type
    name = name
    id = id
    class = `input ${classInput} ${mod}`
    value = value 
    placeholder = placeholder
    readonly = readonly
    pattern = pattern
    data-inputOptions = inputOptions,
    checked = checked,
    required = required
  )  
   



  
  