@use 'sass:map';
@use '../../common/variables';

.input {
  position: relative;

  &__field {
    padding: 12px 15px;
    border: 1px solid rgba(map.get(variables.$colors, 'dark'), 0.25);
    color: rgba(map.get(variables.$colors, 'dark'), 0.75);
    border-radius: 4px;
    font-size: map.get(variables.$font-sizes, 'small');
    font-family: Montserrat, sans-serif;

    &::placeholder {
      color: rgba(map.get(variables.$colors, 'dark'), 0.25);
    }

    &:hover,
    &:focus,
    &_hovered {
      border-color: rgba(map.get(variables.$colors, 'dark'), 0.5);
      color: rgba(map.get(variables.$colors, 'dark'), 0.75);

      &::placeholder {
        color: rgba(map.get(variables.$colors, 'dark'), 0.75);
      }
    }W

    // According to the maket requirements
    &:focus {
      outline: none;
    }

    &:not([type='radio'], [type='checkbox']) {
      width: 100%;
    }
  }

  &_arrow {
    position: absolute;
    top: 36%;
    right: 15px;
    font-size: map.get(variables.$font-sizes, 'tiny');

    &::before {
      color: rgba(map.get(variables.$colors, 'dark'), 0.5);
    }
  }

  &_arrow-forward {
    position: absolute;
    top: 35%;
    right: 13px;
    font-size: 16px;

    &::before {
      background: map.get(variables.$gradients, 'primary');
      background-clip: text;
      color: transparent;
    }
  }

  &_opened-js {
    transform: rotate(180deg);
  }
}
