mixin input(options = {})
  - if(options.arrow) 
    - const arrow = 'input_arrow'
  input(
    type = options.type
    name = options.name
    id = options.id
    class = `input ${arrow || ''} ${options.classInput}`
    value = options.value 
    placeholder = options.placeholder
    readonly = options.readonly
    pattern = options.pattern
  )  
  