mixin input(options = {})
  - 
    const arrow = options.arrow ? 'input_arrow' : ''
    const classInput = options.classInput ? options.classInput : ''
  input(
    type = options.type
    name = options.name
    id = options.id
    class = `input ${arrow || ''} ${classInput}`
    value = options.value 
    placeholder = options.placeholder
    readonly = options.readonly
    pattern = options.pattern
    data-options = options.dataOptions ? options.dataOptions : ''
  )  
  