mixin star-rating(options = {})
  -
    const {
      stars = 5,
      rating,
    } = options
  div(
    class = "star-rating",
    data-rating = rating
  )
    .star-rating__items 
      - for(let i = 0; i < stars; i++)
        span(
          class = "star-rating__star-icon js-star-rating__star-icon star-rating__star-icon_empty"
          data-rateÑount = i + 1
        )