@use 'sass:map';
@use '@styles/variables';

.star-rating {
  &__items {
    display: flex;
    gap: 3px;
  }

  &__star {
    position: relative;
    width: 24px;
    height: 24px;

    &_empty {
        background: url('@assets/content/star-empty.svg') no-repeat center;
    }

    &_fill {
      background: url('@assets/content/star-filled.svg') no-repeat center;
    }
  }
}
