@use 'sass:math';
@import '../../common/functions.scss';
@import '../../common/variables.scss';

.star-rating {
  &__items {
    display: flex;
    gap: 3px;
  }
  &__star {
    position: relative;
    font-size: rem(19);

    color: $primary-color;
  }
}
