mixin star-rating(options = {})
  -
    const {
      rating,
      stars = 5,
    } = options
  div.star-rating(
    data-rating = rating
  )
    .star-rating__items 
      - for(let i = 0; i < stars; i++)
        .star-rating__star.js-star-rating__star.star-rating__star_empty(
          data-rate-Ñount = i + 1
        )