mixin checkbox(options = {}) 
  - 
    const {
      labelText = '',
      checkboxTitle = '',
      checkboxDescription = '',
      isChecked = false,
      name = 'checkbox',
      mod = 'simple'
    } = options 

  label.checkbox
    input.checkbox__input(
      type = "checkbox"
      name = name
      checked = isChecked
      )
    span.checkbox__new-checkbox
    case mod
      when 'simple' 
        span.checkbox__text= labelText
      when 'rich'
        span.checkbox__rich-content
          span.checkbox__title= checkboxTitle
          span.checkbox__description= checkboxDescription




