mixin checkbox(options = {}) 
  - 
    const {
      labelText = '',
      checkboxTitle = '',
      checkboxDescription = '',
      isChecked = false,
      name = 'checkbox',
      mod = 'simple'
    } = options 

  label.checkbox
    input.checkbox__input(
      type = "checkbox"
      name = name
      checked = isChecked
      )
    span.checkbox__new-checkbox
    if mod === 'simple'
      span.checkbox__text= labelText
    if mod === 'rich'
      .checkbox__rich-content
        span.checkbox__title= checkboxTitle
        span.checkbox__description= checkboxDescription




