@use 'sass:map';
@use 'sass:color';
@use '@styles/functions';
@use '@styles/variables';
@use '@styles/mixins';

.checkbox {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  color: rgb((map.get(variables.$colors, 'dark')), 0.5);
  cursor: pointer;

  &:hover {
    color: rgb((map.get(variables.$colors, 'dark')), 0.75);
  }

  &__input {
    @include mixins.visually-hidden;
  }

  &__new-checkbox {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid rgb((map.get(variables.$colors, 'dark')), 0.25);
    border-radius: 4px;
    flex-shrink: 0;

    &:focus,
    &:hover {
      box-shadow: 0 0 5px (map.get(variables.$colors, 'primary'));
    }
  }

  &__input:focus + &__new-checkbox {
    box-shadow: 0 0 5px (map.get(variables.$colors, 'primary'));
  }

  &__input:focus + &__description {
    color: rgb((map.get(variables.$colors, 'dark')), 0.75);
  }

  &__input:checked + &__new-checkbox {
    position: relative;
    border: 1px solid (map.get(variables.$colors, 'primary'));

    display: flex;
    justify-content: center;
    align-items: center;

    &::after {
      content: '';
      display: flex;
      height: 6px;
      width: 4px;
      border-image: map.get(variables.$gradients, 'primary');
      border-width: 0 2px 2px 0;
      border-style: solid;
      transform: rotate(45deg);
      border-image-slice: 1;
    }
  }

  &__rich-content {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__title {
    font-size: map.get(variables.$font-sizes, 'sm');
    font-weight: bold;
    color: rgb((map.get(variables.$colors, 'dark')), 0.75);
  }

  &__description {
    font-size: map.get(variables.$font-sizes, 'xs');
  }
}
