@use 'sass:math';
@import '../../common/functions';
@import '../../common/variables';

.checkbox {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  color: rgba($dark-color, 0.5);
  cursor: pointer;

  &:hover {
    color: rgba($dark-color, 0.75);
  }

  &__rich-content {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__title {
    font-size: $fontSmall;
    font-weight: bold;
    color: rgba($dark-color, 0.75);
  }

  &__description {
    font-size: $fontTiny;
  }

  &__input {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  &__new-checkbox {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid rgba($dark-color, 0.25);
    border-radius: 4px;
    flex-shrink: 0;

    &:focus,
    &:hover {
      box-shadow: 0 0 5px $primary-color;
    }
  }

  &__input:focus + &__new-checkbox {
    box-shadow: 0 0 5px $primary-color;
  }

  &__input:focus + &__description {
    color: rgba($dark-color, 0.75);
  }

  &__input:checked + &__new-checkbox {
    border: 1px solid $primary-color;
    background: url('./icons/checkMark.svg') no-repeat center;
  }
}
