mixin checkbox(options = {}) 
  - 
    const {
      classCheckox = '',
      labelText = '',
      checkboxTitle = '',
      checkboxDescription = '',
      checked = false,
      name = 'checkbox',
      id = '',
      mod = 'simple'
    } = options 
  
  label(
    class = `checkbox ${classCheckox}`
  )
    input(
      type = 'checkbox'
      name = name
      checked = checked
      id = id
      class = "checkbox__input visually-hidden"
      )
    span.checkbox__new-checkbox
    if mod === 'simple' 
      span.checkbox__text= labelText
    if mod === 'rich'
      .checkbox__rich-content
        span.checkbox__title= checkboxTitle
        span.checkbox__description= checkboxDescription

      


  