.error-page {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-weight: 400;

  &__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    min-width: 100vw;
    min-height: 100vh;
    padding: 5px;
    background-size: cover;
    background-image: linear-gradient(rgb(0 0 0 / 50%), rgb(0 0 0 / 50%)),
      url('@assets/decorative/fatal-error.webp');
  }

  &__message {
    color: white;
    font-size: 35px;
    font-weight: bold;
    margin: 0;
  }

  &__link {
    color: white;
    font-size: 27px;
    font-weight: bold;

    &:hover {
      text-shadow: red 1px 0 10px;
    }
  }
}
