@use 'sass:math';
@import '../../common/functions.scss';
@import '../../common/variables.scss';

.nav {
  display: flex;

  &__items {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 15px;

    @media (min-width: $tablet) {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 20px;
    }

    &_vertical {
      font-size: $fontSmall;
      gap: 0;

      @media (min-width: $tablet) {
        flex-direction: column;
        gap: 20px;
      }
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;

    list-style: none;

    @media (min-width: $tablet) {
      position: relative;
      justify-content: center;
      list-style: none;
      padding: 0;
    }
  }

  &__link {
    display: inline-block;
    color: rgba($dark-color, 0.5);
    text-decoration: none;
    padding: 5px;
    margin-right: 2px;

    &::before {
      font-size: 7px;
    }

    &:hover {
      color: $primary-color;
    }

    &_active {
      font-weight: bold;

      @media (min-width: $tablet) {
        font-weight: 700;
      }
    }

    @media (min-width: $tablet) {
      margin: 0;
      padding: 0;
    }
  }

  &__link_sub {
    position: relative;

    &::before {
      position: absolute;
      top: 60%;
      right: -19px;
      transform: translateY(-50%);
      font-size: 8px;
      color: rgba($dark-color, 0.5);
    }

    @media (min-width: $tablet) {
      &__link_sub {
        &::before {
          font-size: $fontTiny;
        }
      }
    }
  }

  &__link:focus + &__sublist {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transform: translate(0, 0);
  }

  &__sublist {
    display: none;
    position: relative;
    flex: 1 1 100%;
    padding: 2px;

    background-color: $primary-color;
    list-style: none;

    transition: all 0.3s ease 0s;

    @media (min-width: $tablet) {
      opacity: 1;
      visibility: visible;
      pointer-events: all;
      transform: translate(0, 0);

      position: absolute;
      z-index: 20;
      display: block;
      top: 100%;
      left: 4%;
      min-width: 120px;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      transform: translate(0, 10%);

      &__sub-item {
        padding-top: 3px;
      }

      &__sublink:hover {
        text-decoration: underline;
      }
    }
  }

  &__items > &__item._active &__sublist {
    display: block;
  }

  &__sub-item {
    margin: 0 0 2px 0;
  }

  &__sublist &__sub-item:last-child {
    margin: 0;
  }

  &__sublink {
    display: inline-block;
    color: $secondary-color-2;
    text-decoration: none;
    padding: 8px 5px;

    &:hover {
      text-decoration: underline;
    }
  }

  @media (min-width: $tablet) {
    &__subitem:not(:last-child) {
      padding-right: 25px;
    }
  }
}

/* -------------------------------- */
body._pc .nav__items > .nav__subitem:hover .nav__sublist {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transform: translate(0, 0);
}

body._touch .nav__items > .nav__item._active .nav__sublist {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transform: translate(0, 0);
  z-index: 50;
}

/* -------------------------------- */
