mixin nav(options = {}) 
  -
    const {
      items = [], 
      mod = 'horizontal',
    } = options

  nav.nav
    ul(class = `nav__items nav__items_${mod}`)
      each item in items
        -
          const subItems = item.subItems ? item.subItems : false
          const {
            content = '',
            href = 'error-page.html',
            classLi = subItems === false ? 'nav__item' : 'nav__item nav__subitem js-nav__subitem',
            classLink = subItems === false ? 'nav__link' : 'nav__link nav__link_sub',
            linkActive = ''
          } = item
          const isActive = linkActive === 'true' ? 'nav__link_active' : `${linkActive}` 

        li(
          class = classLi
        )
          a(
            href = href
            class = `${classLink} ${isActive}`
          )= content
            if subItems !== false
               include ../../assets/decorative/expand-more.svg
          if subItems !== false
            ul.nav__sublist
              each item in subItems
                -
                  const {
                    href = 'error-page.html',
                    content = ''
                  } = item
                li.nav__sub-item
                  a.nav__sublink(
                    href = href
                  )= content
                    
