mixin navItem(options = {}) 
  li(
    class = options.classLi
    )
    a(
      href = options.href
      class = options.classLink
    )= options.content
    - if (options.classLi?.includes('nav__subitem'))
      +navSub({href: "#"})

mixin navSub(options = {})
  ul.nav__sublist
    +navItem({
      content: 'Пункт меню',
      classLink: 'nav__sublink',
      href: '#'}) 
    +navItem({
      content: 'Пункт меню 1',
      classLink: 'nav__sublink',
      href: '#'})
     +navItem({
      content: 'Пункт меню 2',
      classLink: 'nav__sublink',
      href: '#'})
    +navItem({
      content: 'Пункт меню 3',
      classLink: 'nav__sublink',
      href: '#'})
    +navItem({
      content: 'Пункт меню 4',
      classLink: 'nav__sublink',
      href: '#'})

mixin navList 
  ul.nav__items
    +navItem({
      content: 'О нас',
      classLi: 'nav__item',
      classLink: 'nav__link',
      href: '#'
              })
    +navItem({
      content: 'Услуги', 
      classLi: 'nav__item nav__subitem',
      classLink: 'nav__link nav__link_sub __icon-expand',
      href: '#'
      })
    +navItem({
      content: 'Вакансии',
      classLi: 'nav__item',
      classLink: 'nav__link',
      href: '#'
      })
    +navItem({
      content: 'Новости',
      classLi: 'nav__item',
      classLink: 'nav__link',
      href: '#'
      })
    +navItem({
      content: 'Соглашения', 
      classLi: 'nav__item nav__subitem', 
      classLink: 'nav__link nav__link_sub __icon-expand',
      href: '#'
      })


mixin nav(options = {})
  nav.nav(
    class = `${options.classNav}`
    )
    +navList()



