@use 'sass:map';
@use 'sass:color';
@use '@styles/variables';

.nav {
  display: flex;

  &__items {
    display: flex;
    justify-content: space-between;
    flex-flow: column wrap;
    gap: 15px;
    padding: 0;
    margin: 0;

    &_vertical {
      font-size: map.get(variables.$font-sizes, 'sm');
      gap: 0;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    list-style: none;
  }

  &__link {
    display: inline-block;
    color: rgb(map.get(variables.$colors, 'dark'), 0.5);
    text-decoration: none;
    padding: 5px;
    margin-right: 2px;

    &::before {
      font-size: 7px;
    }

    &:hover {
      color: map.get(variables.$colors, 'primary');
    }

    &_active {
      font-weight: bold;
    }

    &_icon {
      &::before {
        content: '\e903';
      }
    }
  }

  &__link_sub {
    position: relative;

    &::before {
      position: absolute;
      top: 60%;
      right: -19px;
      transform: translateY(-50%);
      font-size: 12px;
      color: rgb(map.get(variables.$colors, 'dark'), 0.5);
    }
  }

  &__sublist {
    display: none;
    position: relative;
    flex: 1 1 100%;
    padding: 2px;
    background-color: map.get(variables.$colors, 'primary');
    list-style: none;
    transition: all 0.3s ease 0s;
  }

  &__link:focus + &__sublist {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transform: translate(0, 0);
  }

  &__items > &__item._active &__sublist {
    display: block;
  }

  &__subitem {
    margin: 0 0 2px;
  }

  &__sublist &__subitem:last-child {
    margin: 0;
  }

  &__sublink {
    display: inline-block;
    color: map.get(variables.$colors, 'tertiary');
    text-decoration: none;
    padding: 8px 5px;

    &:hover {
      text-decoration: underline;
    }
  }

  @media (min-width: map.get(variables.$breakpoints, 'tablet')) {
    &__items {
      display: flex;
      justify-content: space-between;
      flex-flow: row wrap;
      gap: 20px;

      &_vertical {
        flex-direction: column;
        gap: 20px;
      }
    }

    &__item {
      position: relative;
      justify-content: center;
      list-style: none;
      padding: 0;
    }

    &__link {
      margin: 0;
      padding: 0;

      &_active {
        font-weight: 700;
      }
    }

    &__link_sub {
      &::before {
        font-size: map.get(variables.$font-sizes, 'xs');
      }
    }

    &__sublist {
      position: absolute;
      z-index: 20;
      display: block;
      top: 100%;
      left: 4%;
      min-width: 120px;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      transform: translate(0, 10%);

      &__subitem {
        padding-top: 3px;
      }

      &__sublink:hover {
        text-decoration: underline;
      }

      &:focus-within {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
        transform: translate(0, 0);
      }
    }

    &__subitem:not(:last-child) {
      padding-right: 25px;
    }
  }
}

/* -------------------------------- */
body._pc .nav__items > .nav__subitem:hover .nav__sublist {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transform: translate(0, 0);
}

body._touch .nav__items > .nav__item._active .nav__sublist {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transform: translate(0, 0);
  z-index: 50;
}

/* -------------------------------- */
