@use 'sass:map';
@use 'SharedStyles/variables';

.ui-cards {
  width: 100%;
  min-height: 100%;
  background-color: #f4f4f6;
  padding: 30px 5px 140px;

  &__container {
    max-width: map.get(variables.$layout-sizes, 'content');
    margin: 0 auto;
    padding: 0 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
  }

  &__column {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &__datepicker {
    position: relative;
  }
}
