extends ../../layouts/ui-layout/ui-layout.pug
include ../../blocks/ui-header/ui-header.pug

include ../../blocks/booking-card/booking-card.pug
include ../../blocks/registration-card/registration-card.pug
include ../../blocks/order-card/order-card.pug
include ../../blocks/login-card/login-card.pug
include ../../blocks/datepicker/datepicker.pug
include ../../blocks/room-card/room-card.pug

block variables 
  - 
    const title = 'Cards'

block content
  header.ui-page__header 
    +ui-header({
      isGrey: true,
    })
  main.ui-page__main 
    .ui-cards 
      .ui-cards__container
        .ui-cards__column
          +booking-card()
          +registration-card()
        .ui-cards__column
          +order-card()
          +login-card()
        .ui-cards__column
          +datepicker({
            isOnlyCalendar: true,
          })
          +room-card({
            images: [
              'room-image-1.jpg',
              'room-image-2.jpg',
              'room-image-3.jpg',
              'room-image-4.jpg',
            ],
            number: 888,
            luxe: true,
            price: '9 990',
            rating: 5,
            reviews: 145,
            href: 'room-page.html',
          })
          +room-card({
            images: [
              'room-image-2.jpg',
              'room-image-3.jpg',
              'room-image-4.jpg',
              'room-image-5.jpg',
            ],
            number: 840,
            price: '9 900',
            rating: 4,
            reviews: 65,
            href: 'room-page.html',
          })




