@use 'sass:math';
@import '../../common/functions.scss';
@import '../../common/variables.scss';

.login {
  min-height: 703px;

  display: flex;
  justify-content: center;
  align-items: center;

  background: 50% 106% url(./img/login.png) no-repeat;
  background-size: cover;

  &__container {
    padding: 19px 5px;
  }

  &__card {
    // Для PP
    margin-bottom: 6px;

    box-shadow: 0 0 25px 0 rgba(#000000, 0.2);

    @media (max-width: $mobile) {
      margin-bottom: 0;
    }
  }

  &__form {
    background-color: white;
    min-width: 380px;
    padding: 39px 30px 30px 29px;

    border: 1px solid rgba(#000000, 0.12);
    border-radius: 4px;

    @media (max-width: $mobile) {
      min-width: auto;
      padding: 10px;
    }
  }

  //  Группы формы

  &__data-group {
    margin-top: 20px;
    gap: 10px;
  }

  &__button {
    margin-top: 20px;
  }

  &__create-group {
    margin-top: 30px;

    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;

    .button {
      padding: 12px 16px 13px 15px;
    }
  }
}
