@use 'sass:math';
@import '../../common/functions';
@import '../../common/variables';

.login {
  min-height: 703px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: 50% 100% url(./img/login.jpg) no-repeat;
  background-size: cover;

  &__container {
    max-width: $container;
    margin: 0 auto;
    padding: 19px 5px;
  }
}
