@use 'sass:map';
@use '../../styles/shared-styles/variables';

.login {
  min-height: 703px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: 50% 100% url('../../assets/decorative/registration.jpg') no-repeat;
  background-size: cover;

  &__container {
    max-width: map.get(variables.$layout-sizes, 'container');
    margin: 0 auto;
    padding: 19px 5px;
  }
}
