@use 'sass:map';
@use '../../common/variables';

.title {
  font-weight: bold;
  color: map.get(variables.$colors, 'dark');
  margin: 0;

  &_h1,
  &_h2 {
    font-size: map.get(variables.$font-sizes, 'big');
  }

  &_h3 {
    font-size: map.get(variables.$font-sizes, 'medium');
  }

  &_h4 {
    font-size: map.get(variables.$font-sizes, 'small');
  }

  &_h5 {
    font-size: map.get(variables.$font-sizes, 'tiny');
  }
}
