mixin title(options = {})
  - 
    const {
      level = 'h2',
      classTitle = '',
      text = '',
    } = options 
  - if(options.level === 'h2')
  - if(options.level === 'h1')
  h1(
    class= `title title_h1 ${classTitle}`
  )= text
  - if(level === 'h2')
  h2(
    class= `title title_h2 ${classTitle}`
  )= text
  - if(level === 'h3')
  h3(
    class= `title title_h3 ${classTitle}`
  )= text