@use 'sass:map';
@use '../../styles/shared-styles/variables';

.title {
  font-weight: bold;
  color: map.get(variables.$colors, 'dark');
  margin: 0;

  &_h1,
  &_h2 {
    font-size: map.get(variables.$font-sizes, '2xl');
  }

  &_h3 {
    font-size: map.get(variables.$font-sizes, 'lg');
  }

  &_h4 {
    font-size: map.get(variables.$font-sizes, 'sm');
  }

  &_h5 {
    font-size: map.get(variables.$font-sizes, 'xs');
  }
}
