@use 'sass:math';
@import '../../common/functions';
@import '../../common/variables';

.title {
  font-weight: bold;
  color: $dark-color;

  &_h1,
  &_h2 {
    font-size: $font-big;
  }

  &_h3 {
    font-size: $font-medium;
  }

  &_h4 {
    font-size: $font-small;
  }

  &_h5 {
    font-size: $font-tiny;
  }
}
