extends ../../blocks/page-layout/page-layout.pug

include ../../blocks/header/header.pug
include ../../blocks/registration/registration.pug
include ../../blocks/footer/footer.pug

block variables 
  - 
    const title = 'Регистрация в Toxin'

block content
  +header({
      classHeader: 'page__header container',
      isLogged})
  +registration({classMain: 'page__main'})
  +footer({classFooter: 'page__footer'})