extends ../../layouts/page-layout/page-layout.pug

include ../../blocks/header/header.pug
include ../../blocks/footer/footer.pug
include ../../blocks/registration-card/registration-card.pug

block variables 
  - 
    const title = 'Регистрация в Toxin'
    const description = 'Страница регистрации отеля Toxin'
    const keywords = 'Отель, Toxin, Зарегистрироваться'

block content
  section.registration
    .registration__container
      .registration__card
        +registration-card()