@use 'sass:math';
@import '../../common/functions';
@import '../../common/variables';

.review {
  width: 100%;
  display: grid;
  grid-template-columns: 48px 1fr;
  grid-template-areas:
    'a d'
    'l t';
  font-size: $font-small;
  color: rgba($dark-color, 0.75);

  &__head {
    display: flex;
  }

  &__author {
    grid-area: a;
  }

  &__details {
    grid-area: d;
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 3px 0 0 9px;
  }

  &__like {
    grid-area: l;
    padding: 8px 0 0 2px;
  }

  &__text {
    grid-area: t;
    padding: 6px 3px 0 10px;
    line-height: 24px;
  }

  &__photo {
    border-radius: 50%;
    border: 2px solid $secondary-color-2;
    box-shadow: 0 10px 20px 0 rgba($dark-color, 0.1);
  }

  &__name {
    font-weight: 700;
  }
}
