include ../like/like.pug

mixin review(options = {})
  -
    const {
      src = "blocks/review/img/default-author.jpg",
      name = "Джек Торранс",
      date = "40 лет назад",
      liked = false,
      counts = 0,
    } = options
    let {text = ""} = options

  -      
    if (text === "") 
      for (let i = 0; i < 7; i++)
        text += "Одна работа, никакого безделья — бедняга Джек не знает веселья. "
  
  section.review
    .review__image  
      img(
        src = src 
        alt = `Фото ${name}`
        class = "review__photo"
        width = 48
        height = 48
        )
    .review__details 
      p.review__name= name
      time.review__date= date
    .review__like
      +like({
        liked,
        counts
      })
    p.review__text= text
      
