@use 'sass:map';
@use 'sass:color';
@use '@styles/variables';

.review {
  width: 100%;
  display: grid;
  grid-template-columns: 48px 1fr;
  grid-template-areas:
    'a d'
    'l t';
  font-size: map.get(variables.$font-sizes, 'sm');
  color: rgb(map.get(variables.$colors, 'dark'), 0.75);

  &__head {
    display: flex;
  }

  &__author {
    grid-area: a;
  }

  &__details {
    grid-area: d;
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 3px 0 0 9px;
  }

  &__like {
    grid-area: l;
    padding: 8px 0 0 4px;
  }

  &__text {
    grid-area: t;
    max-width: 700px;
    margin: 0;
    padding: 6px 5px 0 10px;
    line-height: 24px;
    word-break: break-word;
  }

  &__photo {
    border-radius: 50%;
    border: 2px solid map.get(variables.$colors, 'tertiary');
    box-shadow: 0 10px 20px 0 rgb(map.get(variables.$colors, 'dark'), 0.1);
  }

  &__name {
    font-weight: 700;
  }
}
