include ../like/like.pug

mixin review(options = {})
  -
    const {
      src = require('@assets/content/default-author.jpg'),
      name = 'Джек Торранс',
      date = '40 лет назад', 
      liked = false,
      counts = 0,
    } = options
    let {text = ''} = options

  -      
    if (text === '') 
      for (let i = 0; i < 7; i++)
        text += 'Одна работа, никакого безделья — бедняга Джек не знает веселья. '

  section.review
    .review__image  
      img.review__photo(
        src = require(`@assets/content/${src}`) 
        alt = `Фото ${name}`
        width = 48
        height = 48
        )
    .review__details 
      span.review__name= name
      time.review__date(
        datetime = "2022-01-02 10:00"
      )= date
    .review__like
      +like({
        liked,
        counts
      })
    p.review__text= text

