@use 'sass:map';
@use '../../common/variables';
@use '../../common/functions';

.room-number {
  font-size: map.get(variables.$font-sizes, 'small');
  font-weight: 700;
  word-break: break-all;

  &__number {
    margin: 0;
  }

  &__count {
    color: map.get(variables.$colors, 'dark');
    font-size: functions.rem(19);
    font-weight: 700;

    &_big {
      font-size: map.get(variables.$font-sizes, 'big');
    }
  }

  &__luxe {
    color: map.get(variables.$colors, 'primary');
    font-size: map.get(variables.$font-sizes, 'tiny');
    text-transform: uppercase;
    padding-top: 2px;
    padding-left: 8px;
    word-break: normal;
  }
}
