mixin room-number(options = {})
  -
    const {
      number = '000',
      luxe = false,
      big = false,
    } = options
    const numClass = big ? 'room-number__count room-number__count_big' : 'room-number__count'
    const luxeClass = big ? 'room-number__luxe room-number__luxe_big' : 'room-number__luxe'


  .room-number 
    h5.room-number__number
      span= '№ '
      span(class = numClass)= `${number}`
      if luxe
        span(class = luxeClass) Люкс