@use 'sass:math';
@import '../../common/variables.scss';

.room-number {
  padding-top: 1px;
  font-size: $fontSmall;
  font-weight: 700;

  &__count {
    color: $dark-color;
    font-size: rem(19);
    font-weight: 700;

    &_big {
      font-size: $fontBig;
    }
  }

  &__luxe {
    color: $primary-color;
    font-size: $fontTiny;
    text-transform: uppercase;
    padding-top: 2px;
    padding-left: 8px;
  }
}
