@use 'sass:math';
@import '../../common/variables.scss';

.canvas {
  display: flex;
  align-items: center;
  gap: 30px;

  @media (max-width: $mobile) {
    flex-direction: column;
    gap: 10px;
  }

  &__chart {
    max-width: 120px;
    max-height: 120px;
  }

  &__items {
    display: flex;
    flex-direction: column;
    padding-top: 26px;

    @media (max-width: $mobile) {
      padding-top: 5px;
    }
  }
  &__item {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;

    padding: 3px 0;

    color: rgba($dark-color, 0.75);
    list-style: none;

    cursor: pointer;

    &:hover,
    &_hovered {
      color: rgba($primary-color, 0.75);
    }

    // Для PP
    &_great {
      order: 1;
    }

    &_good {
      order: 2;
    }

    &_satisfy {
      order: 3;
    }

    &_bad {
      order: 4;
    }
  }

  &__item-mark {
    order: -1;
  }
  // SVG styles
  &__unit {
    fill: none;
    cursor: pointer;

    &:hover,
    &_hovered,
    &:focus {
      stroke-width: 2;
    }

    &:focus {
      outline: none;
    }

    transition: all 0.2s ease-in;
  }

  &__svg {
    width: 100%;
    height: 100%;
  }

  &__number {
    font-size: 7px;
    font-weight: 700;
  }

  &__descr {
    font-size: 3.5px;
    text-transform: uppercase;
    font-weight: 700;
  }

  transition: all 0.2s ease-in;
}
