@use 'sass:math';
@import '../../common/functions.scss';
@import '../../common/variables.scss';

.canvas {
  display: flex;
  align-items: center;
  gap: 30px;

  &__chart {
    min-width: 120px;
    min-height: 120px;
  }

  &__items {
    display: flex;
    flex-direction: column;
  }
  &__item {
    display: flex;
    align-items: center;
    gap: 5px;

    padding: 3px 0;

    color: rgba($dark-color, 0.75);
    list-style: none;

    cursor: pointer;
    &:hover {
      color: rgba($primary-color, 0.75);
    }

    // Для PP
    &_great {
      order: 1;
    }

    &_good {
      order: 2;
    }

    &_satisfy {
      order: 3;
    }

    &_bad {
      order: 4;
    }
  }

  &__item-mark {
    order: -1;
  }
  // SVG styles
  &__unit {
    fill: none;
    cursor: pointer;

    &:hover,
    &_hovered {
      stroke-width: 2;
    }

    transition: all 0.2s ease-in;
  }

  &__svg {
    width: 100%;
    height: 100%;
  }

  &__number {
    font-size: 8px;
  }

  &__descr {
    font-size: 5px;
  }

  transition: all 0.2s ease-in;
}
