@use 'sass:map';
@use 'sass:color';
@use '@styles/variables';
@use '@styles/mixins';
@use './datepicker_loaded';

.datepicker {
  position: relative;

  &__fields {
    &_two-fields {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
    }

    &_hidden {
      gap: 0;
      grid-template-columns: auto;
    }
  }

  &__group {
    display: grid;
    position: relative;

    &_hidden {
      @include mixins.visually-hidden;
    }
  }

  &__label {
    font-weight: bold;
    font-size: map.get(variables.$font-sizes, 'xs');
    color: map.get(variables.$colors, 'dark');
    text-transform: uppercase;
  }

  &__input-container {
    display: inline-block;
    width: 100%;
    position: relative;
    padding-top: 5px;

    &_wide {
      .datepicker__icon {
        right: 5%;
      }
    }
  }

  &__field {
    cursor: pointer;
    width: 100%;
    padding: 12px 15px;
    border: 1px solid rgb(map.get(variables.$colors, 'dark'), 0.25);
    color: rgb(map.get(variables.$colors, 'dark'), 0.75);
    border-radius: 4px;
    font-size: map.get(variables.$font-sizes, 'sm');
    font-family: variables.$font;

    &::placeholder {
      color: rgb(map.get(variables.$colors, 'dark'), 0.75);
    }

    &:hover,
    &:focus {
      border-color: rgb(map.get(variables.$colors, 'dark'), 0.5);
    }

    &:focus {
      outline: none;
    }
  }

  &__icon {
    position: absolute;
    top: 38%;
    right: 11%;

    &_active {
      transform: rotate(180deg);
    }

    &_in-wide-container {
      right: 6%;
    }
  }

  &__container {
    position: absolute;
    top: calc(100% + 5px);
    right: 0;
    z-index: 11;
    max-width: 320px;
    width: 100%;
    display: none;
    box-shadow: rgb(map.get(variables.$colors, 'dark'), 0.5);
    border: 1px solid rgb(map.get(variables.$colors, 'dark'), 0.25);
    border-radius: 4px;
    background-color: map.get(variables.$colors, 'tertiary');

    &_only-calendar {
      position: relative;
      top: 0;
      right: 0;
    }

    .air-datepicker--content {
      padding: 0 20px 17px;

      .-days- {
        grid-template-columns: repeat(7, 40px);
        grid-auto-rows: 40px;
      }
    }

    &_small {
      .air-datepicker--content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 7px 7px;

        .-days- {
          grid-template-columns: repeat(7, 35px);
          grid-auto-rows: 35px;

          .-selected- {
            height: 100%;
          }

          .start-range,
          .end-range {
            &::before {
              width: 100%;
              height: 100%;
            }
          }
        }

        &--day-names {
          width: 100%;
        }
      }
    }

    &_active-dp {
      display: flex;
      flex-direction: column-reverse;
      box-shadow: 0 4px 4px 0 rgb(#0000, 0.25);
    }
  }

  &__button {
    margin: 0 18px 18px 15px;

    &_clear {
      visibility: hidden;

      &_visible {
        visibility: visible;
      }
      
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
  }

  .air-datepicker {
    width: 100%;
    font-family: variables.$font;
    border: none;

    &-nav {
      border: none;
      padding: 16px 18px 30px 14px;

      &--action {
        &[data-action='prev'] {
          transform: rotate(180deg);
        }
      }

      &--title {
        color: map.get(variables.$colors, 'dark');
        font-weight: bold;
        font-size: map.get(variables.$font-sizes, 'lg');
      }
    }

    &-body {
      &--day-name {
        color: map.get(variables.$colors, 'primary');
        font-weight: bold;
        font-size: map.get(variables.$font-sizes, 'xs');
        text-transform: capitalize;
      }

      &--day-names {
        margin: 6px 2px 12px 0;
      }

      .-day- {
        color: rgb(map.get(variables.$colors, 'dark'), 0.5);
        font-size: map.get(variables.$font-sizes, 'xs');

        &:hover,
        &:focus {
          border-radius: 50%;
          background-color: map.get(variables.$colors, 'primary');
        }
      }

      .-day-.old-date {
        color: rgb(229 229 229 / 50%);
        cursor: not-allowed;
      }

      .-current- {
        color: map.get(variables.$colors, 'tertiary');
        background: map.get(variables.$gradients, 'secondary');
        border-radius: 50%;
      }

      .-other-month- {
        color: rgb(map.get(variables.$colors, 'dark'), 0.25);
        font-size: map.get(variables.$font-sizes, 'xs');

        &:hover,
        &:focus {
          color: map.get(variables.$colors, 'tertiary');
        }
      }

      .-range-to-,
      .-range-from- {
        border: none;
        background: map.get(
          variables.$gradients,
          'primary-transparentize-quarter'
        );
      }

      .-range-to- {
        border-radius: 0 50% 50% 0;
      }

      .-range-from- {
        border-radius: 50% 0 0 50%;
      }

      .-in-range- {
        background: map.get(
          variables.$gradients,
          'primary-transparentize-quarter'
        );
        border: none;
        border-radius: 0;

        &:hover,
        &:focus {
          border-radius: 0;
          background: map.get(
            variables.$gradients,
            'primary-transparentize-quarter'
          );
        }
      }

      .start-range {
        &::before {
          border-radius: 50% 0 0 50%;
        }
      }

      .end-range {
        &::before {
          border-radius: 0 50% 50% 0;
        }
      }

      .start-range,
      .end-range {
        &::before {
          content: '';
          position: absolute;
          background: map.get(
            variables.$gradients,
            'primary-transparentize-quarter'
          );
          z-index: -1;
          width: 40px;
          height: 40px;

          &:hover,
          &:focus {
            background: map.get(
              variables.$gradients,
              'primary-transparentize-quarter'
            );
          }
        }
      }

      .-selected- {
        height: 40px;
        border-radius: 50%;
        background: map.get(variables.$gradients, 'primary');
        color: map.get(variables.$colors, 'tertiary');
        font-weight: bold;

        &:hover,
        &:focus {
          background: map.get(variables.$gradients, 'primary-gradient');
        }
      }

      .-focus- {
        color: map.get(variables.$colors, 'tertiary');
        font-weight: bold;
      }
    }
  }

  @media (max-width: map.get(variables.$breakpoints, 'pc')) {
    &__container_small {
      .air-datepicker--content {
        .-days- {
          grid-template-columns: repeat(7, 40px);
          grid-auto-rows: 40px;
        }
      }
    }
  }

  @media (max-width: map.get(variables.$breakpoints, 'mobile')) {
    &__container {
      width: auto;
    }

    .air-datepicker {
      &-nav {
        padding: 10px 12px 28px;
      }

      &--content {
        padding: 0 10px 10px;
      }

      .-days- {
        grid-template-columns: repeat(7, 32px);
        grid-auto-rows: 32px;
      }

      .start-range,
      .end-range {
        &::before {
          height: 100%;
          width: 100%;
        }
      }

      .-selected- {
        height: 100%;
      }
    }
  }
}
