include ../button/button.pug

mixin datepicker(options = {}) 
  -
    const { 
      isTwoInput = true,
      isOnlyCal = false,
      labelStart = 'Прибытие',
      labelEnd = 'Выезд',
      labelAlone = 'Даты пребывания в отеле',
      } = options


    let classModField = isTwoInput ? 'datepicker__fields_two-fields' : 'datepicker_fields_one-field'
    if (isOnlyCal) classModField += 'datepicker__fields_hidden'
    const datepickerClass = isTwoInput ? 'js-datepicker_two-fields' : 'js-datepicker_one-field'

  .datepicker.js-datepicker(
    class = datepickerClass
  )
    .datepicker__fields(
      class = classModField
    )

      if(isTwoInput && !isOnlyCal)
        .datepicker__group.js-datepicker__group
          label.datepicker__label.js-datepicker__label= labelStart
            span.datepicker__input-container
              input.datepicker__field.datepicker__field_readonly.js-datepicker__field_start.js-datepicker__field(
                type = "text",
                name = "datepicker-input-start",
                placeholder = "ДД.ММ.ГГГГ",
                pattern = "[0-9]{2}.[0-9]{2}.[0-9]{4}",
                required
              )
              span.datepicker__icon
        .datepicker__group.js-datepicker__group
          label.datepicker__label.js-datepicker__label= labelEnd
            span.datepicker__input-container
              input.datepicker__field.datepicker__field_readonly.js-datepicker__field_end.js-datepicker__field(
                type = "text",
                name = "datepicker-input-end",
                placeholder = "ДД.ММ.ГГГГ",
                pattern = "[0-9]{2}.[0-9]{2}.[0-9]{4}",
                required
                )
              span.datepicker__icon
        .datepicker__container.js-datepicker__container
          .datepicker__buttons
            .datepicker__button.datepicker__button_clear.js-datepicker__button_clear
              +button({
                content: 'Очистить',
                btnColor: 'white',
                btnWrapperColor: 'transparent',
                border: 'false',
                btnSize: 'tiny',
              })
            .datepicker__button.datepicker__button_accept.js-datepicker__button_accept
              +button({
                content: 'Применить',
                btnColor: 'white',
                btnWrapperColor: 'transparent',
                border: 'false',
                btnSize: 'tiny',
              })
      else if(!isTwoInput && !isOnlyCal)
        .datepicker__group.js-datepicker__group
          label.datepicker__label.js-datepicker__label= labelAlone
            span.datepicker__input-container
              input.datepicker__field.datepicker__field_readonly.datepicker-dates.js-datepicker-dates.js-datepicker__field(
                type = "text",
                name = "datepicker-input-dates",
                placeholder = "дд.мм - дд.мм",
                pattern = "[0-9]{2}.[0-9]{2}.[0-9]{4}",
                readonly
              )
              span.datepicker__icon
        .datepicker__container.datepicker__container_small.js-datepicker__container
          .datepicker__buttons
            .datepicker__button.datepicker__button_clear.js-datepicker__button_clear
              +button({
                content: 'Очистить',
                btnColor: 'white',
                btnWrapperColor: 'transparent',
                border: 'false',
                btnSize: 'tiny',
              })
            .datepicker__button.datepicker__button_accept.js-datepicker__button_accept
              +button({
                content: 'Применить',
                btnColor: 'white',
                btnWrapperColor: 'transparent',
                border: 'false',
                btnSize: 'tiny',
              })

      else if(isOnlyCal)
        .datepicker__group.js-datepicker__group.datepicker__group_hidden
          label.datepicker__label.js-datepicker__label Прибытие
            span.datepicker__input-container
              input.datepicker__field.datepicker__field_readonly.js-datepicker__field_start.js-datepicker__field(
                type = "text",
                name = "datepicker-input-start",
                placeholder = "ДД.ММ.ГГГГ",
                pattern = "[0-9]{2}.[0-9]{2}.[0-9]{4}",
                required
              )
              span.datepicker__icon
        .datepicker__group.js-datepicker__group.datepicker__group_hidden
          label.datepicker__label.js-datepicker__label Выезд
            span.datepicker__input-container
              input.datepicker__field.datepicker__field_readonly.js-datepicker__field_end.js-datepicker__field(
                type = "text",
                name = "datepicker-input-end",
                placeholder = "ДД.ММ.ГГГГ",
                pattern = "[0-9]{2}.[0-9]{2}.[0-9]{4}",
                required
                )
              span.datepicker__icon
        .datepicker__container.js-datepicker__container.datepicker__container_only-cal.datepicker_active-dp 
          .datepicker__buttons
            .datepicker__button.datepicker__button_clear.js-datepicker__button_clear
              +button({
                content: 'Очистить',
                btnColor: 'white',
                btnWrapperColor: 'transparent',
                border: 'false',
                btnSize: 'tiny',
              })
            .datepicker__button.datepicker__button_accept.js-datepicker__button_accept
              +button({
                content: 'Применить',
                btnColor: 'white',
                btnWrapperColor: 'transparent',
                border: 'false',
                btnSize: 'tiny',
              })
