include ../button/button.pug

mixin datepicker(options = {}) 
  -
    const { 
      isTwoInput = true,
      isMaskedpickerHidden = false,
      labelStart = 'Прибытие',
      labelEnd = 'Выезд',
      labelAlone = 'Даты пребывания в отеле',
      } = options


    let classModField = isTwoInput ? 'datepicker__fields_two-fields' : 'datepicker_fields_one-field'
    const datepickerClass = isTwoInput ? 'js-datepicker_two-fields' : 'js-datepicker_one-field'

  .datepicker.js-datepicker(
    class = datepickerClass
  )
    .datepicker__fields(
      class = classModField
      class = {
        datepicker__fields_hidden: isMaskedpickerHidden,
      }
    )
      if(isTwoInput)
        .datepicker__group.js-datepicker__group(
          class = {
            datepicker__group_hidden: isMaskedpickerHidden
          })
          label.datepicker__label.js-datepicker__label= labelStart
            span.datepicker__input-container
              input.datepicker__field.datepicker__field_readonly.js-datepicker__field_start.js-datepicker__field(
                type = "text",
                name = "datepicker-input-start",
                placeholder = "ДД.ММ.ГГГГ",
                required
                ) 
              span.datepicker__icon.js-datepicker__icon
                include ../../assets/decorative/expand-more.svg
        .datepicker__group.js-datepicker__group(
          class = {
            datepicker__group_hidden: isMaskedpickerHidden
          })
          label.datepicker__label.js-datepicker__label= labelEnd
            span.datepicker__input-container
              input.datepicker__field.datepicker__field_readonly.js-datepicker__field_end.js-datepicker__field(
                type = "text",
                name = "datepicker-input-end",
                placeholder = "ДД.ММ.ГГГГ",
                required
                )
              span.datepicker__icon.js-datepicker__icon
                include ../../assets/decorative/expand-more.svg
        .datepicker__container.js-datepicker__container(
          class = {
            'datepicker__container_active-dp': isMaskedpickerHidden,
            'datepicker__container_only-calendar': isMaskedpickerHidden,
          })
          .datepicker__buttons
            .datepicker__button.datepicker__button_clear.js-datepicker__button_clear
              +button({
                content: 'Очистить',
                color: 'white',
                isBordered: false,
                size: 'tiny', 
              })
            .datepicker__button.datepicker__button_accept.js-datepicker__button_accept
              +button({
                content: 'Применить',
                color: 'white',
                isBordered: false,
                size: 'tiny', 
              })

      else if(!isTwoInput && !isMaskedpickerHidden)
        .datepicker__group.js-datepicker__group
          label.datepicker__label.js-datepicker__label= labelAlone
            span.datepicker__input-container.datepicker__input-container_wide
              input.datepicker__field.datepicker__field_readonly.datepicker-dates.js-datepicker-dates.js-datepicker__field(
                type = "text",
                name = "datepicker-input-dates",
                placeholder = "дд.мм - дд.мм",
                readonly
              )
              span.datepicker__icon.js-datepicker__icon
                include ../../assets/decorative/expand-more.svg
        .datepicker__container.datepicker__container_small.js-datepicker__container
          .datepicker__buttons
            .datepicker__button.datepicker__button_clear.js-datepicker__button_clear
              +button({
                content: 'Очистить',
                color: 'white',
                isBordered: false,
                size: 'tiny', 
              })
            .datepicker__button.datepicker__button_accept.js-datepicker__button_accept
              +button({
                content: 'Применить',
                color: 'white',
                isBordered: false,
                size: 'tiny', 
              })