@use 'sass:map';
@use '../../common/functions';
@use '../../common/variables';
@use './datepicker_loaded';

.datepicker {
  position: relative;

  &__fields {
    &_2 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
    }

    &_hidden {
      gap: 0;
      grid-template-columns: auto;
    }
  }

  &__group {
    display: grid;
    position: relative;

    &_hidden {
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      border: 0;
      padding: 0;
      white-space: nowrap;
      clip-path: inset(100%);
      clip: rect(0 0 0 0);
      overflow: hidden;
    }
  }

  &__container {
    position: absolute;
    top: calc(100% + 5px);
    right: 0;
    z-index: 11;
    max-width: 320px;
    width: 100%;
    display: none;
    box-shadow: rgba(map.get(variables.$colors, 'dark'), 0.5);
    border: 1px solid rgba(map.get(variables.$colors, 'dark'), 0.25);
    border-radius: 4px;
    background-color: map.get(variables.$colors, 'secondary-2');

    @media (max-width: variables.$mobile) {
      width: auto;
    }

    &_only-cal {
      position: relative;
      top: 0;
      right: 0;
    }
  }

  &__button {
    margin: 0 18px 18px 15px;
  }

  // Fields
  &__input {
    position: relative;
  }

  &__field {
    cursor: pointer;
    width: 100%;
    padding: 12px 15px;
    border: 1px solid rgba(map.get(variables.$colors, 'dark'), 0.25);
    color: rgba(map.get(variables.$colors, 'dark'), 0.75);
    border-radius: 4px;
    font-size: map.get(variables.$font-sizes, 'small');
    font-family: Montserrat, sans-serif;

    &::placeholder {
      color: rgba(map.get(variables.$colors, 'dark'), 0.75);
    }

    &:hover,
    &:focus {
      border-color: rgba(map.get(variables.$colors, 'dark'), 0.5);
    }

    // According to the maket requirements
    &:focus {
      outline: none;
    }
  }

  &__arrow {
    position: absolute;
    top: 36%;
    right: 15px;
    font-size: map.get(variables.$font-sizes, 'tiny');

    &::before {
      color: rgba(map.get(variables.$colors, 'dark'), 0.5);
    }
  }

  &__label {
    font-weight: bold;
    font-size: map.get(variables.$font-sizes, 'tiny');
    text-transform: uppercase;
    padding-bottom: 5px;
  }
}

._active-dp {
  display: flex;
  flex-direction: column-reverse;
  box-shadow: 0 4px 4px 0 rgba(#0000, 0.25);
}

.datepicker__btns {
  display: flex;
  justify-content: space-between;
}

.air-datepicker {
  width: 100%;
  font-family: Montserrat, sans-serif;
  border: none;

  // Navigation
  &-nav {
    border: none;
    padding: 16px 18px 30px 14px;

    @media (max-width: variables.$mobile) {
      padding: 10px 12px 28px;
    }

    &--action {
      color: map.get(variables.$colors, 'primary');
      font-size: 17px;
      transform: rotate(180deg);

      &[data-action='next'] {
        transform: rotate(0);
      }

      svg {
        display: none;
      }
    }

    &--title {
      color: map.get(variables.$colors, 'dark');
      font-weight: bold;
      font-size: map.get(variables.$font-sizes, 'medium');
    }
  }

  &--content {
    padding: 0 20px 17px;
    @media (max-width: variables.$mobile) {
      padding: 0 10px 10px;
    }
  }

  // Body of the calendar
  &-body {
    &--day-name {
      color: map.get(variables.$colors, 'primary');
      font-weight: bold;
      font-size: map.get(variables.$font-sizes, 'tiny');
      text-transform: capitalize;
    }

    &--day-names {
      margin: 6px 2px 12px 0;
    }

    .-days- {
      grid-template-columns: repeat(7, 40px);
      grid-auto-rows: 40px;

      @media (max-width: variables.$mobile) {
        grid-template-columns: repeat(7, 32px);
        grid-auto-rows: 32px;
      }
    }

    .-day- {
      color: rgba(map.get(variables.$colors, 'dark'), 0.5);
      font-size: map.get(variables.$font-sizes, 'tiny');

      &:hover,
      &:focus {
        border-radius: 50%;
        background-color: map.get(variables.$colors, 'primary');
      }
    }

    .-day-.old-date {
      color: rgb(229 229 229 / 50%);
      cursor: not-allowed;
    }

    .-current- {
      color: map.get(variables.$colors, 'secondary-2');
      background: map.get(variables.$gradients, 'secondary');
      border-radius: 50%;
    }

    .-other-month- {
      color: rgba(map.get(variables.$colors, 'dark'), 0.25);
      font-size: map.get(variables.$font-sizes, 'tiny');

      &:hover {
        color: map.get(variables.$colors, 'secondary-2');
      }
    }

    // Styles with out elem mouse without chosen end point
    .-range-to-,
    .-range-from- {
      border: none;
      background: map.get(variables.$gradients, 'primary-25');
    }

    .-range-to- {
      border-radius: 0 50% 50% 0;
    }

    .-range-from- {
      border-radius: 50% 0 0 50%;
    }

    // ---------------------------------------------

    .-in-range- {
      background: map.get(variables.$gradients, 'primary-25');
      border: none;
      border-radius: 0;

      &:hover {
        border-radius: 0;
        background: map.get(variables.$gradients, 'primary-25');
      }
    }

    // Added classes by JS
    .start-range {
      &::before {
        border-radius: 50% 0 0 50%;
      }
    }

    .end-range {
      &::before {
        border-radius: 0 50% 50% 0;
      }
    }

    .start-range,
    .end-range {
      &::before {
        content: '';
        position: absolute;
        background: map.get(variables.$gradients, 'primary-25');
        z-index: -1;
        width: 40px;
        height: 40px;

        &:hover {
          background: map.get(variables.$gradients, 'primary-25');
        }

        @media (max-width: variables.$mobile) {
          height: 32px;
          width: 32px;
        }
      }
    }

    // ---------------------------------------------

    .-selected- {
      height: 40px;
      border-radius: 50%;
      background: map.get(variables.$gradients, 'primary');
      color: map.get(variables.$colors, 'secondary-2');
      font-weight: bold;

      &:hover {
        background: map.get(variables.$gradients, 'primary-gradient');
      }

      @media (max-width: variables.$mobile) {
        height: 32px;
      }
    }

    .-focus- {
      color: map.get(variables.$colors, 'secondary-2');
      font-weight: bold;
    }
  }
}

// Small cal and search room cal
.datepicker_small {
  .air-datepicker--content {
    padding: 0 7px 7px;

    .-days- {
      grid-template-columns: repeat(7, 35px);
      grid-auto-rows: 35px;

      .-selected- {
        height: 35px;
      }

      .start-range,
      .end-range {
        &::before {
          width: 35px;
          height: 35px;
        }
      }
    }
  }
}
