include ../input/input.pug
include ../form/form.pug

mixin datepicker(options = {})
  - if(options.many) 
    div(
        class=`datepick datepick_many ${options.classDatepick}`
    )
      .datepick__group 
        +label({
          text: 'Выезд',
          id: 'booking-out',
        })
        +input({
          type: 'date',
          id: 'booking-out',
          classInput: 'datepick__booking-date',
          datepicker: true,
          arrow: true
        }) 
      .datepick__group 
        +label({
          text: 'Выезд',
          id: 'booking-out',
        })
        +input({
          type: 'date',
          id: 'booking-out',
          classInput: 'datepick_booking-date',
          datepicker: true,
          arrow: true
        })
        
  - else
    div(
      class=`datepick ${options.classDatepick}`
    )      
      .datepick__group 
        +label({
          text: 'Даты пребывания в отеле',
          id: 'booking-dates',
        })
        +input({
          type: 'date',
          id: 'booking-dates',
          classInput: 'datepick__booking-date',
          datepicker: true,
          arrow: true
        }) 