@use 'sass:math';
@import '../../common/functions.scss';
@import '../../common/variables.scss';

.page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
  
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: $fontSmall;
    color: $dark-color;
    background: $secondary-color-2;
  
    &__main {
      flex: 1 0 auto;
    }
  }
  