.search-room {
  display: flex;
  gap: 60px;
  width: 100%;

  padding: 0 128px 0 136px;

  &__filters {
    max-width: 266px;
    min-width: 200px;
  }

  // Основное содержимое с комнатами
  // &__rooms {
  //   max-width: 834px;
  // }

  &__subtitle {
    text-transform: uppercase;
  }

  &__rooms-content {
    display: flex;
    gap: 20px 12px;
    flex-wrap: wrap;
  }
}
