.search-room {
  display: flex;
  gap: 60px;
  width: 100%;

  &__filters {
    max-width: 266px;
    min-width: 200px;
  }

  &__rooms {
    max-width: 834px;
  }

  &__subtitle {
    text-transform: uppercase;
  }
}
