@use 'sass:math';
@import '../../common/functions';
@import '../../common/variables';

.search-room {
  display: flex;
  max-width: $container;
  margin: 0 auto;

  &__content {
    max-width: $content;
    display: flex;
    align-items: flex-start;
    gap: 59px;
    padding: 31px 5px 75px 4px;
    margin: 0 auto;

    @media (max-width: $pc) {
      flex-direction: column;
      gap: 45px;
    }
  }

  // filters
  &__filters {
    max-width: 267px;
    padding: 0 1px;

    @media (max-width: $pc) {
      position: absolute;
      transform: translate(-9999px);
      max-width: 100%;
      transition: all 0.3s ease-in;
    }
  }

  ._active {
    position: static;
    transform: translate(0);
  }

  &__subtitle {
    padding-bottom: 5px;
  }

  &__guests {
    margin-top: 21px;
  }

  &__range {
    margin-top: 30px;
  }

  &__rules {
    margin-top: 28px;
  }

  &__checkboxes {
    padding-top: 2px;
    padding-right: 17px;
  }

  &__checkbox {
    display: flex;
    padding-top: 10px;
    list-style: none;

    &_wide-corr {
      max-width: 234px;
      padding-top: 12px;
    }

    &_inv-help {
      max-width: 253px;
      padding-top: 9px;
    }
  }

  &__available {
    margin-top: 32px;
  }

  &__facilities {
    margin-top: 29px;
  }

  &__add-facilities {
    margin-top: 27px;
  }

  // Button
  &__button {
    display: none;
    @media (max-width: $pc) {
      display: block;
    }
  }

  // Room section
  &__rooms {
    width: 100%;
  }

  &__section-title {
    padding-left: 1px;
    @media (max-width: $pc) {
      text-align: center;
    }
  }

  &__subtitle {
    text-transform: uppercase;
  }

  &__rooms-content {
    padding-top: 21px;
    display: flex;
    gap: 21px 12px;
    flex-wrap: wrap;

    @media (max-width: $pc) {
      justify-content: center;
    }
  }

  &__paginator {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 41px;
    padding-left: 58px;

    @media (max-width: $mobile) {
      justify-content: center;
      padding: 25px 5px;
    }
  }
}
