include ../datepick/datepick.pug
include ../dropdown/dropdown.pug
include ../range-slider/range-slider.pug
include ../title/title.pug
include ../checkbox/checkbox.pug
include ../checkbox-list/checkbox-list.pug
include ../room-card/room-card.pug


mixin search-room(options = {}) 
  -
    const {
        classMain = ''
    } = options

  main(
    class = `search-room ${classMain} container`
  )
    section.search-room__filters 
      .search-room__datepick
        +datepick_1()

      .search-room__guests
        +title({
          level: 'h3',
          classTitle: 'search-room__subtitle',
          text: 'Гости'
        })
        +dropdown({
           class: '`search-room__dropdown-input',
           idInput: 'search-room-guests',
           placeholder: 'Сколько гостей',
           mod: 'guests',
           items: [
             'Взрослые', 'Дети', 'Младенцы'
           ],
           plurals: [
             {
               'default': ['гость', 'гостя', 'гостей']
              },
             {
               'Младенцы': ['младенец', 'младенца', 'младенцев']
             }
             
           ]
        })

      .search-room__filter
        +range-slider({
          rangeClass: 'search-room__range',
          name: 'Диапазон цены',   
          description: 'Стоимость за сутки пребывания в номере',
          step: 100,
          rangeOptions: {
            min: 0,
            max: 15000,
            initialStart: 5000,
            initialEnd: 10000,
            addedText: '₽',
          }
        })

      .search-room__rules
        +title({
          level: 'h3',
          classTitle: 'search-room__subtitle',
          text: 'Правила дома'
        })
        +checkbox({
          classCheckox: 'search-room__checkbox search-room__checkbox_smoke',
          labelText: 'Можно курить',
          name: 'search-room-smoke',
          id: 'search-room-smoke',
        })
        +checkbox({
          classCheckox: 'search-room__checkbox search-room__checkbox_pets',
          labelText: 'Можно с питомцами',
          name: 'search-room-pets',
          id: 'search-room-pets',
          checked: true
        })
        +checkbox({
          classCheckox: 'search-room__checkbox search-room__checkbox_guests',
          labelText: 'Можно пригласить гостей (до 10 человек)',
          name: 'search-room-guests',
          id: 'search-room-guests',
          checked: true
        })

      .search-room__available
        +title({
          level: 'h3',
          classTitle: 'search-room__subtitle',
          text: 'Доступность'
        })
        +checkbox({
          classCheckox: 'search-room__checkbox search-room__checkbox_wide-corr',
          mod: 'rich',
          checkboxTitle: 'Широкий коридор',
          checkboxDescription: 'Ширина коридоров в номере не менее 91 см.',
          name: 'search-room-wide-corr',
          id: 'search-room-wide-corr',
        })
        +checkbox({
          classCheckox: 'search-room__checkbox search-room__checkbox_inv-help',
          mod: 'rich',
          checkboxTitle: 'Помощник для инвалидов',
          checkboxDescription: 'На 1 этаже вас встретит специалист и проводит до номера.',
          name: 'search-room-inv-help',
          id: 'search-room-inv-help',
        })


      .search-room__facilities
        +dropdown({
           class: 'search-room__dropdown-input',
           idInput: 'search-room-facilities',
           placeholder: 'Удобства номера',
           items: [
             'Cпальни', 'Кровати', 'Ванные комнаты'
           ],
           plurals: [
             {
               'Cпальни': ['спальня', 'спальни', 'спален']
              },
             {
               'Кровати': ['кровать', 'кровати', 'кроватей']
             },
             {
               'Ванные комнаты': ['ванная комната', 'ванных комнаты', 'ванных комнат']
             }
             
           ]
        })

      .search-room__add-facilities
        +checkbox-list({
          classList: 'search-room__add-facilities-list',
          titleList: 'Дополнительные удобства',
          items: [
            {
              labelText: 'Завтрак',
              name: 'search-room-lunch',
              id: 'search-room-lunch',
            },
            {
              labelText: 'Письменный стол',
              name: 'search-room-table',
              id: 'search-room-table',
              checked: true,
            },
            {
              labelText: 'Стул для кормления',
              name: 'search-room-chair',
              id: 'search-room-chair',
              checked: true,
            },
            {
              labelText: 'Кроватка',
              name: 'search-room-small-bed',
              id: 'search-room-small-bed',
              checked: true,
            },
            {
              labelText: 'Телевизор',
              name: 'search-room-tv',
              id: 'search-room-tv',
            },
            {
              labelText: 'Шампунь',
              name: 'search-room-shampoo',
              id: 'search-room-shampoo',
            },
          ]
        })

    section.search-room__rooms
      +title({
          level: 'h2',
          classTitle: 'search-room__section-title',
          text: 'Номера, которые мы для вас подобрали'
        })
      .search-room__rooms-contents 
        +room-card({
          images: [
            'room-image-1.png',
            'room-image-2.png',
            'room-image-3.png',
            'room-image-4.png'
          ]
        })
      
