include ../datepick/datepick.pug
include ../dropdown/dropdown.pug
include ../range-slider/range-slider.pug



mixin search-room(options = {}) 
  -
    const {
        classMain = ''
    } = options

  main(
    class = `search-room ${classMain} container`
  )
    section.search-room__filters 
      .search-room__filter-item._datepick-js._datepick-1
        +datepick_1()

      .search-room__filter-item
        label.serch-room__label(
          for('search-room-guests')
        ) Гости
        +dropdown({
           class: '`search-room__dropdown-input',
           idInput: 'search-room-guests',
           placeholder: 'Сколько гостей',
           mod: 'guests',
           items: [
             'Взрослые', 'Дети', 'Младенцы'
           ],
           plurals: [
             {
               'default': ['гость', 'гостя', 'гостей']
              },
             {
               'Младенцы': ['младенец', 'младенца', 'младенцев']
             }
             
           ]
        })

      .search-room__filter-item
        label.serch-room__label(
          for = 'search-room-range'
        ) Диапазон цены
        +range-slider({
          rangeClass: 'search-room__range',
          min: 0,
          max: 15000
        })


        


    section.search-room__rooms