@use 'sass:map';
@use '@styles/variables';

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 15px;

  &_bordered {
    border-top: 1px solid rgb(map.get(variables.$colors, 'dark'), 0.25);
  }

  &__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  &__horizontal {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__copyright {
    padding: 0 31px 0 20px;
    text-align: center;
  }

  &__promo,
  &__email,
  &__navigation {
    display: none;
  }

  &__navigation-item {
    max-width: 200px;
  }

  &__social {
    padding: 0 0 1px 0;
  }

  @media (min-width: map.get(variables.$breakpoints, 'tablet')) {
    padding: 0;
    justify-content: space-between;

    &__blocks {
      display: flex;
      padding: 99px 138px 96px 137px;
    }

    &__block {
      align-items: flex-start;
      gap: 13px;
    }

    &__horizontal {
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      padding: 24px 142px 22px 119px;
      border-top: 1px solid #e5e5e5;
    }

    &__promo {
      display: block;
      max-width: 260px;
    }

    &__navigation {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-left: 40px;
      min-width: 560px;
    }

    &__navigation-item {
      display: flex;
      flex-direction: column;
      gap: 7px;
      padding-bottom: 4px;

      &:last-child {
        padding-right: 12px;
        padding-left: 35px;
      }
    }

    &__email-text {
      margin: 18px 0 21px;
    }

    &__email {
      display: block;
      width: 100%;
      max-width: 260px;
      margin-left: 40px;
    }

    &__title {
      text-transform: uppercase;
      margin-top: 4px;
      margin-bottom: 14px;
    }
  }

  @media (max-width: map.get(variables.$breakpoints, 'pc')) {
    &__navigation {
      display: none;
    }
  }
}
