include ../logo/logo.pug
include ../text-element/text-element.pug
include ../social/social.pug
include ../title/title.pug
include ../input/input.pug
include ../nav/nav.pug

mixin footer(options = {})
  - 
    const {
      classFooter = '',
    } = options 

  footer(
    class= `footer ${classFooter}`
  )
    .footer__blocks
      section.footer__block
        +logo({
          classLogo: 'footer__logo',
          href: '#'
        })
        +text-element({
          classText: 'footer__promo',
          contentText: 'Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»'
        })

      section.footer__navigation
        .footer__navigation-item
         +title({
           level: 'h3',
           text: 'Навигация',
           classTitle: 'footer__title'
         })
         +nav({
           classNav: 'footer__nav',
           navigation: {
            mod: 'vertical',
            items: [{
            content: 'О нас',
            href: '#',
            },
            {
            content: 'Новости',
            href: '#',
            },
            {
            content: 'Служба поддержки',
            href: '#',
            },
            {
            content: 'Услуги',
            href: '#',
            }]
           }
           
         })
        .footer__navigation-item
         +title({
           level: 'h3',
           text: 'О нас',
           classTitle: 'footer__title'
         })
         +nav({
           classNav: 'footer__nav',
           navigation: {
            mod: 'vertical',
            items: [{
            content: 'О сервисе',
            href: '#',
            },
            {
            content: 'Наша команда',
            href: '#',
            },
            {
            content: 'Вакансии',
            href: '#',
            },
            {
            content: 'Инвесторы',
            href: '#',
            }]
           }
         })
        .footer__navigation-item
         +title({
           level: 'h3',
           text: 'Служба поддержки',
           classTitle: 'footer__title'
         })
         +nav({
           classNav: 'footer__nav',
           navigation: {
            mod: 'vertical',
            items: [{
            content: 'Соглашения',
            href: '#'
            },
           {
            content: 'Сообщества',
            href: '#'
            },
           {
            content: 'Связь с нами',
            href: '#',
            }]
           }
           
         })          
      section.footer__email
        +title({
           level: 'h3',
           text: 'Подписка',
           classTitle: 'footer__title'
         })
        +text-element({
           classText: 'footer__email-text',
           contentText: 'Получайте специальные предложения и новости сервиса'
         })
        +input({
            type: 'email',
            name: 'footer-mail',
            id: 'footer-mail',
            placeholder: 'Email',
            arrow: 'violet',
            pattern: "[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
          })

    .footer__horizontal
      +text-element({
        classText: 'footer__copyright',
        contentText: 'Copyright © 2018 Toxin отель. Все права защищены.'
      })
      +social([
        {
        name: 'twitter',
        link: 'https://twitter.com/',
        icon: '../blocks/social/icons/twitter.svg'},
        {
        name: 'facebook',
        link: 'https://facebook.com/',
        icon: '../blocks/social/icons/facebook.svg'},
        {
        name: 'instagram',
        link: 'https://instagram.com/',
        icon: '../blocks/social/icons/instagram.svg'}
    ])

