include ../logo/logo.pug
include ../text-element/text-element.pug
include ../social/social.pug
include ../title/title.pug
include ../input/input.pug
include ../nav/nav.pug

mixin footer(options = {})
  - 
    const {
      contentPromo = "",
      navItems = [],
      isBorder = false
    } = options 

  -
    let mod = ""
    if(border) {
      mod = "footer_bordered"
    }


  section.footer(
    class= mod
  )
    .footer__blocks
      .footer__block
        .footer__logo
          +logo({
            href: "landing-page.html"
          })
        .footer__promo
          +text-element(contentPromo)

      .footer__navigation
        each item in navItems
          -
           const {
             titleItem = "",
             items = [],
           } = item

          .footer__navigation-item
            .footer__title
              +title({
                level: "h5",
                text: titleItem,
              })
            .footer__nav 
              +nav({
                mod: "vertical",
                items: items
              })

      .footer__email
        .footer__title
          +title({
              level: "h5",
              text: "Подписка",
            })
        .footer__email-text
          +text-element("Получайте специальные предложения и новости сервиса")
        +input({
            type: "email",
            name: "footer-mail",
            id: "footer-mail",
            placeholder: "Email",
            arrow: "forward",
            pattern: "[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
          })

    .footer__horizontal
      .footer__copyright
        +text-element("Copyright © 2018 Toxin отель. Все права защищены.")
      +social([
        {
        name: "twitter",
        link: "https://twitter.com/",
        icon: "twitter.svg"},
        {
        name: "facebook",
        link: "https://facebook.com/",
        icon: "facebook.svg"},
        {
        name: "instagram",
        link: "https://instagram.com/",
        icon: "instagram.svg"}
    ])