@use 'sass:math';
@import '../../common/functions.scss';
@import '../../common/variables.scss';

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: rem(120) rem(15);

  &__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  &__horizontal {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__copyright {
    padding: 14px 31px 21px 20px;
    text-align: center;
  }

  &__promo,
  &__navigation,
  &__email {
    display: none;
  }

  @media (min-width: $tablet) {
    padding: 0;
    justify-content: space-between;

    &__blocks {
      display: flex;
      padding: 100px 140px 96px 140px;
    }

    &__block {
      align-items: flex-start;
      gap: 13px;
    }

    &__promo {
      display: block;
      width: rem(260);
    }

    &__navigation {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-left: 40px;
      min-width: 560px;

      @media (max-width: $pc) {
        display: none;
      }
    }

    &__navigation-item {
      display: flex;
      flex-direction: column;
      gap: 21px;
      padding-bottom: 4px;

      // Для PP

      &:last-child {
        padding-right: 13px;
        padding-left: 35px;
      }
    }

    &__title {
      text-transform: uppercase;
      margin-top: 4px;
    }

    &__email {
      display: block;
      width: 100%;
      max-width: rem(260);
      margin-left: 39px;
    }

    &__email-text {
      margin: 17px 0px 23px;
    }

    &__horizontal {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      width: 100%;

      padding: 9px 140px 22px 119px;

      border-top: 1px solid #e5e5e5;
    }
  }
}
