@use 'sass:math';
@import '../../common/functions.scss';
@import '../../common/variables.scss';

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  padding: rem(120) rem(104);

  &__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  &__horizontal {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  &__promo,
  &__navigation {
    display: none;
  }

  @media (min-width: $mobile) {
    padding: 0;
    justify-content: space-between;

    &__blocks {
      display: flex;
      gap: rem(40);
      width: 100%;
      padding: rem(100) rem(140) rem(140) rem(140);
    }

    &__block {
      align-items: flex-start;
      gap: 13px;
    }

    &__promo {
      display: block;
      width: rem(260);
    }

    &__navigation {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
    }

    &__navigation-item {
      display: flex;
      flex-direction: column;
      gap: 20px;
      max-width: rem(260);
      margin-bottom: 4px;
    }

    &__title {
      text-transform: uppercase;
      margin-top: 4px;
    }

    &__horizontal {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      width: 100%;

      padding: rem(26) rem(140);

      border-top: 1px solid #e5e5e5;
    }
  }
}
