include ../logo/logo.pug
include ../text-element/text-element.pug
include ../social/social.pug
include ../title/title.pug
include ../input/input.pug
include ../nav/nav.pug
include ../subscription-field/subscription-field.pug

mixin footer(options = {})
  - 
    const {
      contentPromo = '',
      navItems = [],
    } = options 

  section.footer.footer_bordered
    .footer__blocks
      .footer__block
        .footer__logo
          +logo({
            href: 'landing-page.html'
          })
        .footer__promo
          +text-element(contentPromo)

      .footer__navigation
        each item in navItems
          -
            const {
              titleItem = '',
              items = [],
            } = item

          .footer__navigation-item
            .footer__title
              +title({
                level: 'h5',
                text: titleItem,
              })
            .footer__nav 
              +nav({
                mod: 'vertical',
                items: items
              })

      .footer__email
        .footer__title
          +title({
            level: 'h5',
            text: 'Подписка',
            })
        .footer__email-text
          +text-element("Получайте специальные предложения и новости сервиса")
        .footer__email-input
          +subscription-field({
            type: 'email',
            name: 'footer-mail',
            id: 'footer-mail',
            placeholder: 'Email',
            action: './error-page.html',
          })
    .footer__horizontal
      .footer__copyright
        +text-element('Copyright © 2018 Toxin отель. Все права защищены.')
      .footer__social
        +social([
          {
          name: 'twitter',
          link: 'https://twitter.com/',
          icon: 'twitter',
          },
          {
          name: 'facebook',
          link: 'https://facebook.com/',
          icon: 'facebook',
          },
          {
          name: 'instagram',
          link: 'https://instagram.com/',
          icon: 'instagram',
          }
        ])