include ../logo/logo.pug
include ../text-element/text-element.pug
include ../social/social.pug
include ../title/title.pug
include ../input/input.pug
include ../nav/nav.pug

mixin footer(options = {})
  - 
    const {
      classFooter = '',
      contentPromo = '',
      navItems = [],
      border = false
    } = options 

  -
    let mod = ''
    if(border) {
      mod = 'footer_bordered'
    }


  footer(
    class= `footer ${classFooter} ${mod}`
  )
    .footer__blocks
      section.footer__block
        +logo({
          classLogo: 'footer__logo',
          href: 'landing-page.html'
        })
        +text-element({
          classText: 'footer__promo',
          contentText: contentPromo,
        })

      section.footer__navigation
        each item in navItems
          -
           const {
             titleItem = '',
             items = [],
           } = item

          .footer__navigation-item
            +title({
              level: 'h3',
              text: titleItem,
              classTitle: 'footer__title'
            })
            +nav({
              classNav: 'footer__nav',
              navigation: {
              mod: 'vertical',
              items: items
              }
            })

      section.footer__email
        +title({
           level: 'h3',
           text: 'Подписка',
           classTitle: 'footer__title'
         })
        +text-element({
           classText: 'footer__email-text',
           contentText: 'Получайте специальные предложения и новости сервиса'
         })
        +input({
            classInput: 'footer__input',
            type: 'email',
            name: 'footer-mail',
            id: 'footer-mail',
            placeholder: 'Email',
            arrow: 'forward',
            pattern: "[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
          })

    .footer__horizontal
      +text-element({
        classText: 'footer__copyright',
        contentText: 'Copyright © 2018 Toxin отель. Все права защищены.'
      })
      +social([
        {
        name: 'twitter',
        link: 'https://twitter.com/',
        icon: '../blocks/social/icons/twitter.svg'},
        {
        name: 'facebook',
        link: 'https://facebook.com/',
        icon: '../blocks/social/icons/facebook.svg'},
        {
        name: 'instagram',
        link: 'https://instagram.com/',
        icon: '../blocks/social/icons/instagram.svg'}
    ])