extends ../../layouts/page-layout/page-layout.pug

include ../../blocks/header/header.pug
include ../../blocks/footer/footer.pug
include ../../blocks/login-card/login-card.pug

block variables 
  - 
    const title = 'Вход в Toxin'
    const description = 'Страница входа отеля Toxin'
    const keywords = 'Отель, Toxin, Войти'

block content
  section.login
    .login__container
      .login__card
        +login-card()