@use 'sass:map';
@use 'SharedStyles/variables';

.search-room {
  display: flex;
  max-width: map.get(variables.$layout-sizes, 'container');
  margin: 0 auto;

  &__content {
    max-width: map.get(variables.$layout-sizes, 'content');
    display: flex;
    align-items: flex-start;
    gap: 58px;
    padding: 30px 5px 75px 4px;
    margin: 0 auto;
  }

  &__filters {
    max-width: 267px;
    padding: 0 1px;
  }

  ._active {
    position: static;
    transform: translate(0);
  }

  &__subtitle {
    padding-bottom: 5px;
    text-transform: uppercase;
  }

  &__label {
    font-size: map.get(variables.$font-sizes, 'xs');
    text-transform: uppercase;
    font-weight: 700;
  }

  &__guests {
    margin-top: 13px;
  }

  &__dropdown {
    padding-top: 5px;
  }

  &__range {
    margin-top: 28px;
  }

  &__rules {
    margin-top: 31px;
  }

  &__checkboxes {
    margin: 0;
    padding: 0;
    padding-top: 2px;
    padding-right: 17px;
  }

  &__checkbox {
    display: flex;
    padding-top: 10px;
    list-style: none;

    &_wide-corr {
      max-width: 234px;
      padding-top: 12px;
    }

    &_inv-help {
      max-width: 253px;
      padding-top: 9px;
    }
  }

  &__available {
    margin-top: 32px;
  }

  &__facilities {
    margin-top: 21px;
  }

  &__add-facilities {
    margin-top: 27px;
  }

  &__button {
    display: none;
  }

  &__rooms {
    width: 100%;
  }

  &__section-title {
    padding-left: 1px;
  }

  &__rooms-content {
    padding-top: 21px;
    display: flex;
    gap: 21px 12px;
    flex-wrap: wrap;
  }

  &__paginator {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 41px;
    padding-left: 58px;
  }

  @media (max-width: map.get(variables.$breakpoints, 'pc')) {
    &__content {
      align-items: center;
      flex-direction: column;
      gap: 45px;
    }

    &__filters {
      position: absolute;
      transform: translate(-9999px);
      max-width: 100%;
      transition: all 0.3s ease-in;
    }

    &__button {
      width: 100%;
      display: block;
    }

    &__section-title {
      text-align: center;
    }

    &__rooms-content {
      justify-content: center;
    }
  }

  @media (max-width: map.get(variables.$breakpoints, 'mobile')) {
    &__paginator {
      justify-content: center;
      padding: 25px 5px;
    }
  }
}
