extends ../../layouts/page-layout/page-layout.pug

include ../../blocks/header/header.pug
include ../../blocks/search-room/search-room.pug
include ../../blocks/footer/footer.pug

block variables 
  - 
    const title = "Поиск номеров Toxin"
    const description = "Страница поиска номеров отеля Toxin"
    const keywords = "Отель, Toxin, поиск номера"

block content
  header.page__header
    +header({
      isLogged,
      isShadow: true,
      navigation: {
      items: [
        {
          content: "О нас",
          href: "error-page.html",
          },
        {
          content: "Услуги",
          href: "error-page.html",
          subItems: [
            {
              content: "Бассйен",
              href: "error-page.html"
            },
            {
              content: "Вызов такси",
              href: "error-page.html"
            },
            {
              content: "Конференц-зал",
              href: "error-page.html"
            },
            {
              content: "Крематорий",
              href: "error-page.html"
            }
          ]
        },
        {
          content: "Вакансии",
          href: "error-page.html"
        },
        {
          content: "Новости",
          href: "error-page.html"
        },
        {
          content: "Соглашения",
          href: "error-page.html",
          subItems: [
            {
              content: "Общие положения",
              href: "error-page.html"
            },
            {
              content: "Заказ бронирвоания",
              href: "error-page.html"
            },
            {
              content: "Отмена бронирования",
              href: "error-page.html"
            },
            {
              content: "Пользование крематорием",
              href: "error-page.html"
            }
          ]
        }
      ]}})
  main.page__main
    +search-room()
  footer.page__footer
    +footer({
      isBorder: true,
      contentPromo: 'Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»',
      navItems: [{
        titleItem: 'Навигация',
        items: [
          {
          content: 'О нас',
          },
          {
          content: 'Новости',
          },
          {
          content: 'Служба поддержки',
          },
          {
          content: 'Услуги',
          }
        ]
      },
      {
        titleItem: 'О нас',
        items: [{
          content: 'О сервисе',
          },
          {
          content: 'Наша команда',
          },
          {
          content: 'Вакансии',
          },
          {
          content: 'Инвесторы'
          }
        ]
      },
      {
        titleItem: 'Служба поддержки',
        items: [{
          content: 'Соглашения',
          },
          {
          content: 'Сообщества',
          },
          {
          content: 'Связь с нами',
          },
        ]
      }]
    })