include ../room-number/room-number.pug
include ../room-price/room-price.pug
include ../datepick/datepick.pug
include ../dropdown/dropdown.pug
include ../order-counting/order-counting.pug

mixin order-card(options = {})
  .order-card 
    form(
      class = "order-card__form"
      method = "GET"
      action = "error-page.html"
    )
      .order-card__room-info
        +room-number({
            number: "888",
            luxe: true,
            big: true
        }) 
        .order-card__price
          +room-price("9 990")
      .order-card__datepick 
       +datepick()
      .order-card__dropdown 
        span.order-card__subtitle Гости
        +dropdown({
           class: "booking-card__dropdown-input",
           type: "guests",
           placeholder: "Сколько гостей",
           items: [
             "Взрослые", "Дети", "Младенцы"
           ],
           plurals: [
             {
               "default": ["гость", "гостя", "гостей"]
              },
             {
               "Младенцы": ["младенец", "младенца", "младенцев"]
             }
           ]
        })
      .order-card__details 
        .order-card__couting 
          +order-counting({
            fees: {
              addFee: {
                count: 300,
              },
              fee: {
                count: 0,
                message: "Доп. услуги включают в себя помощь с доставкой багажа"
              }
            },

            discounts: {
              feeDisc: {
                count: 2179,
                message: "Какое-нибудь важное сообщение"
              },
            },
            price: 9990,
            days: 4 
          })
        .order-card__button
         +button({
          content: "Забронировать",
          btnColor: "white",
          btnWrapperColor: "violet",
          arrow: true,
          btnSize: "large"
         })
        
    
