include ../room-number/room-number.pug
include ../room-price/room-price.pug
include ../datepicker/datepicker.pug
include ../dropdown/dropdown.pug

mixin order-card(options = {})
  .order-card 
    form(
      class = "order-card__form"
      method = "GET"
      action = "error-page.html"
    )
      .order-card__room-info
        +room-number({
          number: "888",
          luxe: true,
          big: true
        }) 
        .order-card__price
          +room-price("9 990")
      .order-card__datepicker 
        +datepicker()
      .order-card__dropdown 
        span.order-card__subtitle Гости
        +dropdown({
          class: "booking-card__dropdown-input",
          type: "guests-dropdown",
          placeholder: "Сколько гостей",
          items: [
            "Взрослые", "Дети", "Младенцы"
          ],
          plurals: [
            {
              "default": ["гость", "гостя", "гостей"]
            },
            {
              "Младенцы": ["младенец", "младенца", "младенцев"]
            }
          ]
        })
      .order-card__details 
        .order-card__days 
          p.order-card__days-compute.js-order-card__days-compute  
          span.order-card__days-computed.js-order-card__days-computed
        .order-card__fee.js-order-card__fee 
          p.order-card__fee-compute.js-order-card__fee-compute
          span.order-card__fee-computed.js-order-card__fee-computed
        .order-card__add-fee 
          p.order-card__add-fee-compute.js-order-card__add-fee-compute
          span.order-card__add-fee-computed.js-order-card__add-fee-computed
        .order-card__all 
          p.order-card__word Итого
          .order-card__decoration 
          span.order-card__sum.js-order-card__sum
        .order-card__button
          +button({
            content: "Забронировать",
            btnColor: "white",
            btnWrapperColor: "violet",
            arrow: true,
            btnSize: "large"
          })


