include ../room-number/room-number.pug
include ../room-price/room-price.pug
include ../datepick/datepick.pug
include ../dropdown/dropdown.pug
include ../order-counting/order-counting.pug

mixin order-card(options = {})
  .order-card 
    .order-card__form 
      .order-card__room-info
        +room-number({
            number: '888',
            luxe: true,
            big: true
        }) 
        +room-price('9 990')
      .order-card__datepick 
       +datepick_2()
      .order-card__dropdown 
        +dropdown({
           class: 'booking-card__dropdown-input',
           type: 'guests',
           placeholder: 'Сколько гостей',
           items: [
             'Взрослые', 'Дети', 'Младенцы'
           ],
           plurals: [
             {
               'default': ['гость', 'гостя', 'гостей']
              },
             {
               'Младенцы': ['младенец', 'младенца', 'младенцев']
             }
           ]
        })
      .order-card__details 
        .order-card__couting 
          +order-counting({
            fees: {
              addFee: {
                count: 300,
              },
              fee: {
                count: 0,
                message: 'Доп. услуги включают в себя помощь с доставкой багажа'
              }
            },

            discounts: {
              feeDisc: {
                count: 2179,
                message: 'Какое-нибудь важное сообщение'
              },
            },
            price: 9990,
            days: 4 
          })
        
    
