@use 'sass:map';
@use '../../common/variables';

.order-card {
  max-width: 380px;
  min-width: 380px;
  @include variables.boxes;

  padding: 40px 27px 30px 29px;

  @media (max-width: variables.$mobile) {
    padding: 5px;
    max-width: auto;
    min-width: auto;
  }

  &__room-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__price {
    padding: 0 1px 1px 0;
  }

  &__datepicker {
    margin-top: 21px;
  }

  &__dropdown {
    margin-top: 21px;
  }

  &__subtitle {
    display: block;
    color: map.get(variables.$colors, 'dark');
    font-size: map.get(variables.$font-sizes, 'tiny');
    text-transform: uppercase;
    font-weight: 700;
    padding-bottom: 5px;
  }

  &__details {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: map.get(variables.$font-sizes, 'small');
    color: rgba(map.get(variables.$colors, 'dark'), 0.75);
  }

  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: map.get(variables.$font-sizes, 'small');
  color: rgba(map.get(variables.$colors, 'dark'), 0.75);

  &__days,
  &__fee,
  &__add-fee,
  &__all {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__days-computed {
    padding: 0 2px 0 0;
  }

  &__fee-compute,
  &__add-fee-compute {
    display: flex;
    align-items: center;
  }

  &__fee-compute {
    gap: 6px;
  }

  &__add-fee-compute {
    gap: 34px;
    align-items: flex-start;
  }

  &__add-fee-computed {
    padding-bottom: 16px;
    padding-right: 1px;
  }

  &__fee-computed {
    padding-right: 2px;
  }

  &__all {
    font-weight: bold;
    font-size: map.get(variables.$font-sizes, 'medium');
    color: map.get(variables.$colors, 'dark');
    padding-top: 16px;
    padding-right: 2px;
  }

  &__decoration {
    width: 100%;
    border-bottom: 1px dashed rgb(map.get(variables.$colors, 'dark'), 0.25);
    align-self: flex-end;
    margin-bottom: 5px;
  }

  &__tip {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 1px solid rgb(map.get(variables.$colors, 'dark'), 0.25);
    color: rgba(map.get(variables.$colors, 'dark'), 0.25);
    cursor: pointer;

    &:hover::before,
    &:focus::before {
      content: attr(data-information);
      position: absolute;
      top: 25px;
      left: 0;
      padding: 2px;
      background-color: rgba(map.get(variables.$colors, 'dark'), 0.75);
      color: map.get(variables.$colors, 'secondary-2');
      border-radius: 4px;
      font-size: map.get(variables.$font-sizes, 'tiny');
      z-index: 2;
    }
  }

  &__button {
    margin-top: 5px;
  }
}
