@use 'sass:math';
@import '../../common/functions.scss';
@import '../../common/variables.scss';

.order-card {
  max-width: 380px;
  min-width: 380px;
  @include boxes;

  padding: 40px 27px 30px 29px;

  @media (max-width: $mobile) {
    padding: 5px;
    max-width: auto;
    min-width: auto;
  }

  &__room-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__price {
    padding: 0px 1px 1px 0;
  }

  &__datepicker {
    margin-top: 21px;
  }

  &__dropdown {
    margin-top: 21px;
  }

  &__subtitle {
    display: block;
    color: $dark-color;
    font-size: $fontTiny;
    text-transform: uppercase;
    font-weight: 700;
    padding-bottom: 5px;
  }

  &__details {
    margin-top: 20px;
  }

  &__button {
    margin-top: 20px;
  }
}
