extends ../blocks/page-layout/page-layout.pug

include ../blocks/header/header.pug
include ../blocks/landing/landing.pug

block variables 
  - var isLogged = false

block content
  +header({
      classHeader: 'page__header container',
      href: '#',
      isLogged})
  +landing({classMain: 'page__main'})
  footer.page__footer.footer