extends ../blocks/page-layout/page-layout.pug

include ../blocks/header/header.pug
include ../blocks/landing/landing.pug
include ../blocks/footer/footer.pug

block variables 
  - const isLogged = false

block content
  +header({
      classHeader: 'page__header container',
      href: '#',
      isLogged})
  +landing({classMain: 'page__main'})
  +footer({classFooter: 'page__footer'})