include ../button/button.pug
include ../input/input.pug

mixin dropdown(options = {})
  - 
    const {
      items = [],
      mod = 'guests',
      id = '',
      dataOptions = '',
      placeholder = '',
      plurals = {}
    } = options

  div.dropdown(
      class = options.class 
  )
    +input({
      type: 'text',
      name: typeItem,
      classInput: 'dropdown__input',
      readonly: true,
      arrow: true,
      placeholder: placeholder,
      id: id,
      inputOptions: plurals,
      inputMod: ['arrow']
    })
    div.dropdown__content
      .dropdown__counter 
        ul.dropdown__items(
          data-type = typeItem
        )
          each item in items
            li.dropdown__item
              span.dropdown__item-text= item
              .dropdown__items-nav
                button(
                 class = "dropdown__btn dropdown__btn_disabled dropdown__btn_decrement"
                )= '-'
                span.dropdown__count(
                  data-item= item
                ) 0
                button(
                  class = "dropdown__btn dropdown__btn_increment"
                )= '+'
      .dropdown__nav
        +button({
          content: 'Очистить',
          classWrapper: 'dropdown__button dropdown__button_clear btn-wrapper_transparent',
          classBtn: 'button_color',
          btnColor: 'violet',
          border: 'false',
          btnSize: 'tiny',
          btnMod: ['noBorder'],
        })
        +button({
          content: 'Применить',
          classWrapper: 'dropdown__button dropdown__button_accept btn-wrapper_transparent',
          classBtn: 'button_color',
          btnColor: 'violet',
          border: 'false',
          btnSize: 'tiny',
          btnMod: ['noBorder']
        })