include ../button/button.pug

mixin dropdown(options = {})
  - 
    const {
      items = [],
      dataOptions = '',
      placeholder = 'Введите значение',
      plurals = {},
      preset = [],
      type = 'guests-dropdown',
      size = 'normal',
      isOpened = false,
    } = options

    const openClass = isOpened ? 'dropdown_active' : ''
    const openArrow = isOpened ? 'dropdown_opened' : '' 

  section.dropdown.js-dropdown(
    data-options = [...plurals, { placeholder: placeholder }]
    data-preset = preset
  )
    .dropdown__output-field.js-dropdown__output-field(class = openArrow)
      output.dropdown__output.js-dropdown__output(
        type = "text",
        name = "dropdown",
        tabindex = "0"
      )= placeholder
      .dropdown__arrow.dropdown__arrow_icon.dropdown_icon-js 
    div.dropdown__content.js-dropdown__content(class = openClass)
      .dropdown__counter.js-dropdown__counter
        ul.dropdown__items
          each item in items
            li.dropdown__item.js-dropdown__item
              span.dropdown__item-text= item
              .dropdown__items-nav
                button(
                  class = "dropdown__btn dropdown__btn_disabled dropdown__btn_decrement js-dropdown__btn_decrement"
                ) -
                input.dropdown__count.js-dropdown__count(
                  name = item,
                  data-item = item,
                  value = 0,
                  readonly,
                  tabindex = -1,            
                  )
                button(
                  class = "dropdown__btn dropdown__btn_increment js-dropdown__btn_increment"
                ) +
        input(
          type ="text"
          class ="dropdown__type dropdown__type_hidden js-dropdown__type",
          name = "type",
          value = type,
          readonly,
          tabindex = -1, 
          )

      if(size === "normal")
        .dropdown__nav
          .dropdown__button.dropdown__button_clear.js-dropdown__button_clear
            +button({
              content: 'Очистить',
              btnColor: 'white',
              btnWrapperColor: 'transparent',
              btnSize: 'tiny',        
            })

          .dropdown__button.dropdown__button_accept.js-dropdown__button_accept
            +button({
              content: 'Применить',
              btnColor: 'white',
              btnWrapperColor: 'transparent',
              btnSize: 'tiny',
            })
      else 
        .dropdown__nav.dropdown__nav_hidden
          .dropdown__button.dropdown__button_clear.js-dropdown__button_clear
            +button({
              content: 'Очистить',
              btnColor: 'white',
              btnWrapperColor: 'transparent',
              btnSize: 'tiny',        
            })

          .dropdown__button.dropdown__button_accept.js-dropdown__button_accept
            +button({
              content: 'Применить',
              btnColor: 'white',
              btnWrapperColor: 'transparent',
              btnSize: 'tiny',
            })
