include ../counter/counter.pug

mixin dropdown(options = {})
  div.dropdown(
      class = options.class 
  )
    span.dropdown__placeholder= options.placeholder 
    div.dropdown__content
      +counter({
        class: 'dropdown__counter',
        items: ['Взрослые', 'Дети', 'Младенцы']
      })
      .dropdown__nav
        +button({
          content: 'Очистить',
          classWrapper: 'datepick__button datepick__button_clear btn-wrapper_transparent',
          classBtn: 'button_color'
        })
        +button({
          content: 'Применить',
          classWrapper: 'datepick__button datepick__button_accept btn-wrapper_transparent',
          classBtn: 'button_color'
        })