include ../button/button.pug

mixin dropdown(options = {})
  - 
    const {
      items = [],
      dataOptions = '',
      placeholder = 'Введите значение',
      plurals = {},
      preset = [],
      type = 'guests-dropdown',
      label = '',
      size = 'normal',
      isOpened = false,
    } = options

  section.dropdown.js-dropdown(
    data-options = [...plurals, { placeholder: placeholder }]
    data-preset = preset
  )
    .dropdown__output-field.js-dropdown__output-field(
      class = {
      'dropdown__output-field_opened': isOpened
      })
      if (label !== '')
        label.dropdown__label.js-dropdown__label= label
          output.dropdown__output.dropdown__output_icon.js-dropdown__output(
            name = "dropdown",
            tabindex = "0"
          )= placeholder
      else 
        output.dropdown__output.dropdown__output_icon.js-dropdown__output(
          name = "dropdown",
          tabindex = "0"
        )= placeholder
    div.dropdown__content.js-dropdown__content(class = {
      dropdown__content_active: isOpened
    })
      .dropdown__counter.js-dropdown__counter
        ul.dropdown__items
          each item in items
            li.dropdown__item.js-dropdown__item
              span.dropdown__item-text= item
              .dropdown__items-nav
                button.dropdown__btn.dropdown__btn_disabled.dropdown__btn_decrement.js-dropdown__btn_decrement(
                  disabled = true,
                ) -
                input.dropdown__count.js-dropdown__count(
                  type = 'text',
                  name = item,
                  data-item = item,
                  value = 0,
                  readonly,
                  tabindex = -1,            
                  )
                button.dropdown__btn.dropdown__btn_increment.js-dropdown__btn_increment +
        input.dropdown__type.dropdown__type_hidden.js-dropdown__type(
          type ="text"
          name = "type",
          value = type,
          readonly,
          tabindex = -1, 
          )

      if(size === "normal")
        .dropdown__nav
          .dropdown__button.dropdown__button_clear.js-dropdown__button_clear
            +button({
              content: 'Очистить',
              btnColor: 'white',
              isBordered: false,
              btnSize: 'tiny',        
            })

          .dropdown__button.dropdown__button_accept.js-dropdown__button_accept
            +button({
              content: 'Применить',
              btnColor: 'white',
              isBordered: false,
              btnSize: 'tiny', 
            })
      else 
        .dropdown__nav.dropdown__nav_hidden
          .dropdown__button.dropdown__button_clear.js-dropdown__button_clear
            +button({
              content: 'Очистить',
              btnColor: 'white',
              isBordered: false,
              btnSize: 'tiny',      
            })

          .dropdown__button.dropdown__button_accept.js-dropdown__button_accept
            +button({
              content: 'Применить',
              btnColor: 'white',
              isBordered: false,
              btnSize: 'tiny', 
            })
