@use 'sass:math';
@import '../../common/functions.scss';
@import '../../common/variables.scss';

.dropdown {
  position: relative;

  &__input-field {
    position: relative;
    cursor: pointer;
  }
  &__input {
    width: 100%;
    padding: 12px 15px;

    border: 1px solid rgba($dark-color, 0.25);
    color: rgba($dark-color, 0.75);
    border-radius: 4px;

    font-size: $fontSmall;
    font-family: 'Montserrat', sans-serif;

    cursor: pointer;

    &::placeholder {
      color: rgba($dark-color, 0.75);
    }
    &:hover,
    &:focus {
      border-color: rgba($dark-color, 0.5);
    }

    &:focus {
      outline: none;
    }
  }

  &__arrow {
    position: absolute;
    top: 36%;
    right: 15px;
    font-size: $fontTiny;
    &::before {
      color: rgba($dark-color, 0.5);
    }
  }

  ._opened {
    .dropdown__arrow {
      transform: rotate(180deg);
    }
  }

  &__content {
    display: none;
    position: absolute;
    width: 100%;
    left: 0;
    top: calc(100% - 2px);
    background-color: white;

    border: 1px solid rgba($dark-color, 0.25);
    border-radius: 0 0 4px;

    box-shadow: 0 4px 4px 0 rgba(#000000, 0.25);
  }

  &__counter {
    padding: 4px 7px 0 13px;
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    padding: 0 4px 11px 11px;
  }

  ._active {
    display: flex;
    flex-direction: column;
    gap: 16px;
    z-index: 11;
  }

  // Каунтер
  &__btn {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 1px solid rgba($dark-color, 0.5);
    border-radius: 50%;

    color: rgba($dark-color, 0.5);

    &_disabled {
      border-color: rgba($dark-color, 0.25);
    }
  }

  &__item-text {
    font-size: $fontTiny;
    text-transform: uppercase;
    font-weight: bold;
  }

  &__count {
    width: 9px;

    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: $fontTiny;
    border: none;

    &:focus {
      outline: none;
    }
  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: 7px;

    list-style: none;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__items-nav {
    padding-top: 1px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
  }
}
