@use 'sass:map';
@use 'sass:color';
@use '@styles/variables';

.dropdown {
  position: relative;

  &__output-field {
    position: relative;
    cursor: pointer;

    &_opened {
      .dropdown__output_icon {
        &::before {
          transform: rotate(180deg) translateY(-20%);
          transform-origin: center center;
        }
      }
    }
  }

  &__label {
    text-transform: uppercase;
    color: map.get(variables.$colors, 'dark');
    font-size: map.get(variables.$font-sizes, 'xs');
    font-weight: bold;
  }

  &__output {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;

    width: 100%;
    padding: 12px 14px;
    margin-top: 4px;
    border: 1px solid rgb(map.get(variables.$colors, 'dark'), 0.25);
    color: rgb(map.get(variables.$colors, 'dark'), 0.75);
    border-radius: 4px;

    font-size: map.get(variables.$font-sizes, 'sm');
    font-weight: normal;
    text-transform: none;
    font-family: variables.$font;
    cursor: pointer;

    &:hover,
    &:focus {
      border-color: rgb(map.get(variables.$colors, 'dark'), 0.5);
    }

    &:focus {
      outline: none;
    }

    &_icon {
      &::before {
        content: '';
        background: url('@assets/decorative/expand-more.svg') no-repeat center;
        display: block;
        width: 15px;
        height: 10px;
        transform-origin: center;
        transform: translateY(40%);
      }
    }
  }

  &__content {
    display: none;
    position: absolute;
    width: 100%;
    left: 0;
    top: calc(100% - 2px);
    background-color: white;
    border: 1px solid rgb(map.get(variables.$colors, 'dark'), 0.25);
    border-radius: 0 0 4px;
    box-shadow: 0 4px 4px 0 rgb(#000, 0.25);

    &_active {
      display: flex;
      flex-direction: column;
      gap: 9px;
      z-index: 10;
    }
  }

  &__counter {
    padding: 4px 7px 7px 13px;
  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: 7px;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__item-text {
    font-size: map.get(variables.$font-sizes, 'xs');
    text-transform: uppercase;
    font-weight: bold;
  }

  &__btn {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 1px solid rgb(map.get(variables.$colors, 'dark'), 0.5);
    border-radius: 50%;
    color: rgb(map.get(variables.$colors, 'dark'), 0.5);
    cursor: pointer;

    &_disabled {
      border-color: rgb(map.get(variables.$colors, 'dark'), 0.25);
      cursor: not-allowed;
    }
  }

  &__count {
    width: 30px;
    text-align: center;
    font-family: variables.$font;
    font-weight: bold;
    font-size: map.get(variables.$font-sizes, 'xs');
    border: none;

    &:focus {
      outline: none;
    }
  }

  &__items-nav {
    padding-top: 1px;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    justify-items: center;
  }

  &__type {
    &_hidden {
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      border: 0;
      padding: 0;
      white-space: nowrap;
      clip-path: inset(100%);
      clip: rect(0 0 0 0);
      overflow: hidden;
    }
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    padding: 1px 6px 12px 10px;

    &__hidden {
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      border: 0;
      padding: 0;
      white-space: nowrap;
      clip-path: inset(100%);
      clip: rect(0 0 0 0);
      overflow: hidden;
    }
  }

  &__button {
    &_hidden {
      visibility: hidden;
    }
  }
}
