include ../checkbox/checkbox.pug

mixin checkbox-list(options = {})
  -
    const {
        titleList = '',
        items = []
    } = options


  div.checkbox-list._js-checkbox-list
    .checkbox-list__head 
      span.checkbox-list__title= titleList
      span.checkbox-list__arrow.icon__expand_more
    ul.checkbox-list__items
      each item in items 
        - 
          const {
            labelText = '',
            name = '',
            checked = false
          } = item
            
        li.checkbox-list__item
          .checkbox-list__checkbox
            +checkbox({
              labelText,
              name,
              id,
              checked
            })
