@use 'sass:map';
@use 'sass:color';
@use 'sass:selector';
@use '@styles/functions';
@use '@styles/variables';

.checkbox-list {
  &__item {
    list-style: none;
  }

  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    font-size: map.get(variables.$font-sizes, 'xs');
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
  }

  &__arrow-icon {
    margin-right: 14px;
    cursor: pointer;
  }

  &__items {
    display: none;
    margin: 0;
    padding: 0;
    padding-top: 19px;

    &_opened-list {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
    }
  }

  &_opened {
    .checkbox-list__arrow-icon {
      transform: rotate(180deg);
    }
  }
}
