include ../checkbox/checkbox.pug

mixin checkbox-list(options = {})
  -
    const {
      titleList = '',
      items = [],
      isOpened = false
    } = options

    const openedBlock = isOpened ? 'checkbox-list_active' : ''
    const openedList = isOpened ? 'checkbox-list_opened_list' : ''

  div.checkbox-list.js-checkbox-list(
    tabindex = 0
    class = openedBlock
    )
    .checkbox-list__head.js-checkbox-list__head
      span.checkbox-list__title= titleList
      span.checkbox-list__arrow-icon
    ul.checkbox-list__items.js-checkbox-list__items(class = openedList)
      each item in items 
        - 
          const {
            labelText = '',
            name = '',
            isChecked = false
          } = item

        li.checkbox-list__item
          .checkbox-list__checkbox
            +checkbox({
              labelText,
              name,
              id,
              isChecked
            })
