include ../checkbox/checkbox.pug

mixin checkbox-list(options = {})
  -
    const {
        titleList = "",
        items = []
    } = options


  div.checkbox-list._js-checkbox-list(tabindex = 0)
    .checkbox-list__head.js-checkbox-list__head
      span.checkbox-list__title= titleList
      span.checkbox-list__arrow.icon__expand_more
    ul.checkbox-list__items.js-checkbox-list__items
      each item in items 
        - 
          const {
            labelText = "",
            name = "",
            isChecked = false
          } = item
            
        li.checkbox-list__item
          .checkbox-list__checkbox
            +checkbox({
              labelText,
              name,
              id,
              isChecked
            })
