@use 'sass:map';
@use '../../common/functions';
@use '../../common/variables';

.checkbox-list {
  &__item {
    list-style: none;
  }

  &__head {
    position: relative;
  }

  &__title {
    display: inline-block;
    width: 100%;
    font-size: map.get(variables.$font-sizes, 'xs');
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
  }

  &__arrow {
    position: absolute;
    right: 15px;
    top: calc(50% - 6px);
    font-size: map.get(variables.$font-sizes, 'xs');
    color: rgba(map.get(variables.$colors, 'dark'), 0.5);
  }

  &__items {
    display: none;
    margin: 0;
    padding: 0;
    padding-top: 19px;
  }
}

._active {
  .checkbox-list__arrow {
    transform: rotate(180deg);
  }

  ._opened_list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
