include ../checkbox/checkbox.pug

mixin checkbox-list(options = {})
  -
    const {
        classList = '',
        titleList = '',
        items = []
    } = options


  div(
    class = `checkbox-list _js-checkbox-list ${classList}`
  ) 
    .checkbox-list__head 
      span.checkbox-list__title= titleList
      span.checkbox-list__arrow.icon__expand_more
    ul.checkbox-list__items
      each item in items 
        - 
          const {
            labelText = '',
            name = '',
            checked = false
          } = item
            
        li.checkbox-list__item
          +checkbox({
            classCheckox: `checkbox-list__checkbox`,
            labelText: labelText,
            name: name,
            id: id,
            checked: checked
          })
