@use 'sass:math';
@import '../../common/functions.scss';
@import '../../common/variables.scss';

.checkbox-list {
  overflow: hidden;
  &__item {
    list-style: none;
  }

  &__head {
    position: relative;
  }

  &__title {
    display: inline-block;
    width: 100%;

    font-size: rem(12);
    text-transform: uppercase;
    font-weight: bold;

    cursor: pointer;
  }

  &__arrow {
    position: absolute;
    right: 15px;
    top: calc(50% - 6px);
    font-size: rem(12);
    color: rgba($dark-color, 0.5);
  }

  &__items {
    display: none;
    padding-top: 19px;
  }
}

._active {
  .checkbox-list__arrow {
    transform: rotate(180deg);
  }

  ._opened-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
