include ../checkbox/checkbox.pug
 
mixin checkbox-list(options = {})
  -
    const {
      titleList = '',
      items = [],
      isOpened = false
    } = options

  div.checkbox-list.js-checkbox-list(
    tabindex = 0
    class = { 
      'checkbox-list_opened': isOpened 
    })
    .checkbox-list__head.js-checkbox-list__head
      span.checkbox-list__title= titleList
      span.checkbox-list__arrow-icon
        include ../../assets/decorative/expand-more.svg 
    ul.checkbox-list__items.js-checkbox-list__items(class = { 
        'checkbox-list__items_opened-list': isOpened 
      })
      each item in items 
        - 
          const {
            labelText = '',
            name = '',
            isChecked = false
          } = item

        li.checkbox-list__item
          .checkbox-list__checkbox
            +checkbox({
              labelText,
              name,
              id,
              isChecked
            })
