@use 'sass:map';
@use '@styles/variables';
@use '@styles/mixins';

.registration-card {
  @include mixins.box-style;

  min-width: 380px;
  max-width: 380px;
  padding: 39px 29px 30px 29px;

  &__subtitle {
    text-transform: uppercase;
    padding-bottom: 5px;
  }

  &__name-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 22px;
  }

  &__sex {
    margin-top: 9px;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 20px;
  }

  &__sex-group {
    display: grid;
    grid-template-columns: auto 1fr;
  }

  &__birth-group {
    margin-top: 24px;
  }

  &__data-group {
    margin-top: 20px;
  }

  &__email {
    margin-bottom: 10px;
  }

  &__mailing {
    margin-top: 10px;
  }

  &__button {
    margin-top: 24px;
  }

  &__login-group {
    margin-top: 31px;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
  }

  &__login-button {
    margin-right: 1px;
  }

  @media (max-width: map.get(variables.$breakpoints, 'mobile')) {
    margin-left: 0;
    padding: 10px;
    min-width: auto;
  }
}
