include ../button/button.pug
include ../title/title.pug
include ../input/input.pug
include ../date-input/date-input.pug
include ../radio/radio.pug
include ../toggle/toggle.pug
include ../text-element/text-element.pug

mixin registration-card()
  section.registration-card
    form.registration-card__form(
      action = "error-page.html",
      method = "GET"
    )
      .registration-card__title
        +title({
          level: 'h2',
          text: 'Регистрация аккаунта',
        })
      .registration-card__name-group
        +input({
          type: 'text',
          name: 'registration-card-name',
          placeholder: 'Имя',
          isRequired: true
        })
        +input({
          type: 'text',
          name: 'registration-card-surname',
          placeholder: 'Фамилия',
          isRequired: true
        })

      .registration-card__sex
        .registration-card__sex-group
          +radio({
            name: 'registration-card-sex',
            isChecked: true,
            text: 'Мужчина'
        })
        .registration-card__sex-group
          +radio({
            name: 'registration-card-sex',
            text: 'Женщина'
          })

      .registration-card__birth-group
        .registration-card__subtitle
          +title({
            text: 'Дата рождения',
            level: 'h5',
          })
        +date-input({
          type: 'text',
          name: 'birthday',
          isRequired: true,
          isMasked: true,
        })

      .registration-card__data-group
        .registration-card__subtitle
          +title({
            text: 'Данные для входа в сервис',
            level: 'h5',
          })
      .registration-card__email
        +input({
          type: 'email',
          name: 'registration-card-email',
          placeholder: 'Email',
          isRequired: true
        })
      .registration__password
        +input({
          type: 'password',
          name: 'registration-card-password',
          placeholder: 'Пароль',
          isRequired: true, 
          isAutocomplete: true,
        })
      .registration-card__mailing
        +toggle({
          name: 'registration-card-mailing',
          text: 'Получать спецпредложения',
        })
      .registration-card__button  
        +button({
          content: 'Зарегистрироваться',
          color: 'violet',
          rightPart: 'arrow-forward',
          size: 'large',
          type: 'submit',
        })

      .registration-card__login-group
        .registration-card__login-text
          +text-element('Уже есть аккаунт на Toxin')
        .registration-card__login-button
          +button({
            href: 'login-page.html',
            content: 'Войти', 
            color: 'white',
            size: 'big',
          })