include ../button/button.pug
include ../title/title.pug
include ../input/input.pug
include ../radio/radio.pug
include ../toggle/toggle.pug
include ../text-element/text-element.pug

mixin registration-card()
  section.registration-card
    form(
      classForm = "registration-card__form",
      action = "error-page.html",
      method = "GET"
    )
      .registration-card__title
        +title({
          level: "h2",
          text: "Регистрация аккаунта",
        })
      .registration-card__name-group
        +input({
          type: "text",
          name: "registration-card-name",
          id: "registration-card-name",
          placeholder: "Имя",
          isRequired: true
        })
        +input({
          type: "text",
          name: "registration-card-surname",
          id: "registration-card-surname",
          placeholder: "Фамилия",
          isRequired: true
        })

      .registration-card__sex
        .registration-card__sex-group
          +radio({
            name: "registration-card-sex",
            id: "registration-card-male",
            isChecked: true,
            text: "Мужчина"
        })
        .registration-card__sex-group
          +radio({
            name: "registration-card-sex",
            id: "registration-card-female",
            text: "Женщина"
          })
            
      .registration-card__birth-group
        .registration-card__subtitle
          +title({
            text: "Дата рождения",
            level: "h5",
          })
        +input({
            type: "text",
            id: "registration-card-birth",
            placeholder: "ДД.ММ.ГГГГ",
            pattern: "[0-9]{2}.[0-9]{2}.[0-9]{4}",
            isRequired: true,
            isDate: true,
        })
        
        .registration-card__data-group
          .registration-card__subtitle
            +title({
              text: "Данные для входа в сервис",
              level: "h5",
            })
        .registration-card__email
          +input({
            type: "email",
            name: "registration-card-email",
            id: "registration-card-email",
            placeholder: "Email",
            isRequired: true
          })
        .registrtion__password
          +input({
            type: "password",
            name: "registration-card-password",
            id: "registration-card-password",
            placeholder: "Пароль",
            isRequired: true
          })
        .registration-card__mailing
          +toggle({
            name: "registration-card-mailing",
            id: "registration-card-mailing",
            text: "Получать спецпредложения",
          })
        .registration-card__button  
          +button({
            content: "Зарегистрироваться",
            btnColor: "white",
            btnWrapperColor: "violet",
            isArrow: true,
            btnSize: "large"
          })

        .registration-card__login-group
          .registration-card__login-text
            +text-element("Уже есть аккаунт на Toxin")
          .registration-card__login-button
            +button({
              href: "login-page.html",
              content: "Войти", 
              btnColor: "violet",
              btnSize: "big",
              btnType: "link",
            })