@use 'sass:math';
@import '../../common/functions.scss';
@import '../../common/variables.scss';

.order-counting {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: rem(14);
  color: rgba($dark-color, 0.75);

  &__days,
  &__fee,
  &__add-fee,
  &__all {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__fee-compute,
  &__add-fee-compute {
    display: flex;
    align-items: center;
  }

  &__fee-compute {
    gap: 11px;
  }

  &__add-fee-compute {
    gap: 34px;
    align-items: flex-start;
  }

  &__add-fee-computed {
    padding-bottom: 16px;
    padding-right: 1px;
  }

  &__fee-computed {
    padding-right: 2px;
  }

  &__all {
    font-weight: bold;
    font-size: rem(19);
    color: $dark-color;
    padding-top: 16px;
    padding-right: 3px;
  }

  &__decorarion {
    width: 100%;
    border-bottom: 1px dashed rgba($dark-color, 0.25);
    align-self: flex-end;
    margin-bottom: 4px;
  }

  &__tip {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    border: 1px solid rgba($dark-color, 0.25);
    color: rgba($dark-color, 0.25);
    cursor: pointer;
    z-index: 10;

    &:hover::before {
      content: attr(data-information);
      position: absolute;
      top: 25px;
      left: 0;

      padding: 2px;

      background-color: rgba($dark-color, 0.75);
      color: $secondary-color-2;

      border-radius: 4px;
      font-size: 12px;
    }
  }

  &__days-computed {
    padding-right: 2px;
  }
}
