@use 'sass:math';
@import '../../common/functions.scss';
@import '../../common/variables.scss';

.order-counting {
  &__tip {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    border: 1px solid rgba($dark-color, 0.25);
    color: rgba($dark-color, 0.25);
    cursor: pointer;

    &:hover::before {
      content: attr(data-information);
      position: absolute;
      top: 25px;
      left: 0;

      padding: 2px;

      background-color: rgba($dark-color, 0.75);
      color: $secondary-color-2;

      border-radius: 4px;
      font-size: 12px;
    }
  }
}
