mixin carousel(images, href) 
  section.carousel
    button.carousel__prev.js-carousel__prev(
      type = "button"
      tabindex = "-1"
    )
      include ../../assets/decorative/arrow-right.svg 
    .carousel__images 
      a.carousel__link.js-carousel__link(
        href = href,
      )
        ul.carousel__items.js-carousel__items
          each image in images
            li.carousel__item.js-carousel__item
              img.carousel__image(
                alt = "Фотография номера",
                src = require(`@assets/content/${image}`),
                width = 270,
              )
        ul.carousel__toggles 
          each toggle in images
            li.carousel__toggle
              .carousel__toggle-knob.js-carousel__toggle-knob
    button.carousel__next.js-carousel__next(
      type = "button"
      tabindex = "-1"
    )
      include ../../assets/decorative/arrow-right.svg 
