mixin carousel(images, href) 
  section.carousel
    button.carousel__prev.js-carousel__prev.carousel__prev_icon
    .carousel__images 
      a.carousel__link.js-carousel__link(
        href = href,
      )
        ul.carousel__items.js-carousel__items
          each image in images
            li.carousel__item.js-carousel__item
              img.carousel__image(
                alt = "Фотография номера",
                src = require(`Assets/content/${image}`),
                width = 270,
              )
        ul.carousel__toggles 
          each toggle in images
            li.carousel__toggle
              button.carousel__toggle-button.js-carousel__toggle-button(tabindex = -1)
    button.carousel__next.carousel__next_icon.js-carousel__next
