.carousel {
  position: relative;
  max-width: 270px;

  &__prev,
  &__next {
    visibility: hidden;
    position: absolute;
    width: 44px;
    height: 44px;
    border: none;
    border-radius: 10px;
    outline: none;
    background: transparent;
    z-index: 5;
    cursor: pointer;

    svg,
    path {
      fill: white;
    }
  }

  &__prev {
    top: calc(50% - 22px);
    left: 0;
    transform: rotate(180deg);
  }

  &__images {
    overflow: hidden;
  }

  &__items {
    margin: 0;
    padding: 0;
    min-height: 152px;
    width: 9999px;
    margin-left: 0;
    transition: margin-left 250ms;
  }

  &__item {
    position: relative;
    display: inline-block;
    list-style: none;
  }

  &__image {
    border-radius: 4px 4px 0 0;
    vertical-align: middle;
  }

  &__toggles {
    position: absolute;
    z-index: 4;
    display: flex;
    gap: 4px;
    top: 85%;
    right: 5%;
    margin: 0;
    padding: 0;
  }

  &__toggle {
    list-style: none;
  }

  &__toggle-knob {
    width: 7px;
    height: 7px;
    border: 1px solid white;
    background-color: transparent;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    padding: 0;

    &_active {
      background: white;
    }
  }

  &__next {
    top: calc(50% - 22px);
    right: 0;
  }

  &:hover {
    .carousel__prev,
    .carousel__next {
      visibility: visible;
    }
  }

  &:hover::before {
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 42px;
    height: 100%;
    background: linear-gradient(
      90deg,
      rgb(0 0 0 / 50%) 0%,
      rgb(0 0 0 / 0%) 99.99%,
      rgb(255 255 255 / 0%) 100%
    );
  }

  &:hover::after {
    content: '';
    position: absolute;
    z-index: 1;
    transform: rotate(180deg);
    top: 0;
    right: 0;
    width: 42px;
    height: 100%;
    background: linear-gradient(
      90deg,
      rgb(0 0 0 / 50%) 0%,
      rgb(0 0 0 / 0%) 99.99%,
      rgb(255 255 255 / 0%) 100%
    );
  }
}
