mixin carousel(images, href) 
  section.carousel
    button.carousel__prev.icon__expand_more.js-carousel__prev
    .carousel__images 
      a(
        href = href,
        class = 'carousel__link js-carousel__link'
      )
        ul.carousel__items.js-carousel__items
          each image in images
            li.carousel__item.js-carousel__item
              img(
                class = 'carousel__image',
                alt = 'Фотография номера',
                src = require(`../../assets/content/${image}`),
                width = 270,
              )
        ul.carousel__toggles 
          each toggle in images
            li.carousel__toggle
              button.carousel__toggle-button.js-carousel__toggle-button(tabindex = -1)
    button.carousel__next.icon__expand_more.js-carousel__next
