mixin logo(options = {})
  - 
    const {
      classLogo = '',
      href = 'error-page.html',
    } = options 

  a(
      class=`logo ${classLogo}`
      href = href
  )
    img(src="./blocks/logo/img/logo.svg" alt="Логотип Toxin" width='106' height='40')