mixin logo(options = {})
  - 
    const {
      href = "error-page.html",
      width = 106,
      height = 40
    } = options 


  a.logo(
    href = href
  )
    img.logo__logo(
      src = "../../assets/content/logo.svg"
    )