extends ../../layouts/page-layout/page-layout.pug

include ../../blocks/header/header.pug
include ../../blocks/footer/footer.pug
include  ../../blocks/title/title.pug
include  ../../blocks/room-data/room-data.pug
include  ../../blocks/canvas/canvas.pug
include  ../../blocks/review/review.pug
include  ../../blocks/rules/rules.pug
include  ../../blocks/order-card/order-card.pug

block variables 
  - 
    const title = 'Поиск номеров Toxin'
    const description = 'Страница номера отеля Toxin'
    const keywords = 'Отель, Toxin, детали номера'

block content
  div.room-page
    .room-page__content
      section.room-page__photos
        .room-page__photos-big
          img.room-page__image(
            src = require("@assets/content/room-big.jpg"),
            alt = "Большое фото номера",
          )
        .room-page__photos-small
          .room-page__photos-top
            img.room-page__image.room-page__image_small(
              src = require("@assets/content/room-small-1.jpg"),
              alt = "Малое фото номера",
          )
          .room-page__photos-bottom
            img.room-page__image.room-page__image_small.room-page__image_bigger(
              src = require("@assets/content/room-small-2.jpg"),
              alt = "Малое фото номера",
            )

      .room-page__main
        section.room-page__information
          .room-page__details 
            .room-page__subtitle
              +title({
                level: 'h3',
                text: 'Сведения о номере'
              })
            .room-page__data
              +room-data({
                items: [
                  {
                    title: 'Комфорт',
                    text: 'Шумопоглощающие стены',
                    icon: 'smile',
                  },
                  {
                    title: 'Удобство',
                    text: 'Окно в каждой из спален',
                    icon: 'city',
                  },
                  {
                    title: 'Уют',
                    text: 'Номер оснащён камином',
                    icon: 'fire',
                  }
                ]
              })
          .room-page__feedback
            .room-page__subtitle
              +title({
                level: 'h3',
                text: 'Впечатления от номера'
              })
            .room-page__canvas
              +canvas([
                {
                  count: 520,
                  grade: 'great',
                  name: 'Великолепно',
                  stopFirst: '#ffe39c',
                  stopSecond: '#ffba9c'
                },
                {
                  count: 260,
                  grade: 'good',
                  name: 'Хорошо',
                  stopFirst: '#6fcf97',
                  stopSecond: '#66d2ea'
                },
                {
                  count: 260,
                  grade: 'satisfy',
                  name: 'Удовлетворительно',
                  stopFirst: '#bc9cff',
                  stopSecond: '#8ba4f9'
                },
                {
                  count: 0,
                  grade: 'bad',
                  name: 'Разочарован',
                  stopFirst: '#919191',
                  stopSecond: '#3d4975'
                },
              ])

          .room-page__reviews
            .room-page__reviews-heading
              .room-page__subtitle
                +title({
                  level: 'h3',
                  text: 'Отзывы посетителей номера'
                })
              span.room-page__reviews-count.js-room-page__reviews-count 0 отзывов
            .room-page__reviews-content    
              +review({
                src: 'tesak.jpg',
                name: 'Мурад Сарафанов',
                date: '5 дней назад',
                isLiked: true,
                counts: 12,
                text: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.'
              })
              +review({
                src: 'steklo.jpg',
                name: 'Патрисия Стёклышкова',
                date: 'Неделю назад',
                isLiked: false,
                counts: 2,
                text: 'Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент.'
              })
          .room-page__rules
            .room-page__subtitle.room-page__subtitle_rules
              +title({
                level: 'h3',
                text: 'Правила'
              })
            .room-page__rules-items
              +rules({
                rules: [
                  'Нельзя с питомцами',
                  'Без вечеринок и мероприятий',
                  'Время прибытия — после 13:00, а выезд до 12:00'
                ]
              })
          .room-page__cancel
            .room-page__subtitle.room-page__subtitle_cancel
              +title({
                level: 'h3',
                text: 'Отмена'
              })
            p.room-page__cancel-text Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.


        section.room-page__order 
          .room-page__card   
            +order-card()