@use 'sass:map';
@use 'sass:color';
@use '@styles/variables';
@use '@styles/mixins';

.room-page {
  &__content {
    max-width: map.get(variables.$layout-sizes, 'container');
    margin: 0 auto;
  }

  &__photos {
    max-height: 485px;
    display: flex;
  }

  &__photos-big {
    flex: 1 0 981px;
  }

  &__photos-small {
    display: flex;
    flex-direction: column;
  }

  &__photos-top,
  &__photos-bottom {
    height: 50%;
  }

  &__image {
    object-fit: cover;
    vertical-align: middle;
    height: 100%;
    width: 100%;
  }

  &__main {
    padding: 70px 140px 71px 137px;
    margin: 0 auto;
    display: flex;
    gap: 66px;
  }

  &__information {
    display: grid;
    grid-template-columns: 279px auto;
    gap: 0 82px;
    grid-template-areas:
      'details feedback'
      'reviews reviews'
      'rules cancel';
    padding-top: 1px;
  }

  &__details {
    grid-area: details;
    padding-left: 2px;
  }

  &__subtitle {
    padding-bottom: 2px;
    padding-left: 1px;

    &_rules {
      padding-left: 23px;
      padding-top: 1px;
    }

    &_cancel {
      padding-top: 11px;
    }
  }

  &__data {
    max-width: 280px;
  }

  &__feedback {
    grid-area: feedback;
    padding-left: 2px;
    display: flex;
    flex-direction: column;
    gap: 19px;
  }

  &__reviews {
    grid-area: reviews;
    display: flex;
    flex-direction: column;
    gap: 19px;
    padding-top: 12px;
    padding-left: 1px;
    padding-bottom: 22px;
  }

  &__reviews-content {
    display: flex;
    flex-direction: column;
    gap: 23px;
    padding-left: 1px;
  }

  &__reviews-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
  }

  &__reviews-count {
    color: rgb(map.get(variables.$colors, 'dark'), 0.5);
    padding: 3px 4px 0 0;
  }

  &__rules {
    grid-area: rules;
    padding-top: 11px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  &__rules-items {
    padding-left: 1px;
  }

  &__cancel {
    grid-area: cancel;
    display: flex;
    flex-direction: column;
    gap: 17px;
    max-width: 356px;
    padding-left: 2px;
  }

  &__cancel-text {
    margin: 0;
    line-height: 24px;
    max-width: 345px;
    color: rgb(map.get(variables.$colors, 'dark'), 0.75);
  }

  &__order {
    display: flex;
    flex-basis: 390px;
  }

  @media (max-width: map.get(variables.$breakpoints, 'pc')) {
    &__photos-big {
      flex: 1 1 auto;
    }

    &__photos-small {
      display: none;
    }

    &__main {
      padding: 60px 30px;
      flex-direction: column;
    }

    &__information {
      grid-template-columns: 1fr 1fr;
      justify-items: center;
      gap: 0 10px;
    }

    &__reviews {
      align-items: center;
      margin-top: 30px;
    }

    &__details {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__order {
      justify-content: center;
    }

    &__feedback {
      margin-top: 30px;

      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  @media (max-width: map.get(variables.$breakpoints, 'tablet')) {
    &__subtitle {
      &_rules {
        padding: 1px;
      }
    }

    &__information {
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: center;
    }

    &__rules {
      display: flex;
      flex-direction: column;
    }

    &__reviews-count {
      @include mixins.visually-hidden;
    }
  }

  @media (max-width: map.get(variables.$breakpoints, 'mobile')) {
    &__main {
      padding: 60px 5px;
    }
  }
}
