include ../logo/logo.pug

mixin ui-header(options = {})
  -
    const { isGrey = false } = options;
    let mod = "";
    if (isGrey) mod = "ui-header_grey" 

  header.ui-header(
    class = mod
  ) 
    .ui-header__logo 
      +logo({
        href: "start-page.html",
        src: "logo_ui.svg",
        width: 48,
        height: 48,
      })