mixin ui-header(options = {})
  -
    const { isGrey = false } = options;
    let mod = "";
    if (isGrey) mod = "ui-header_grey" 

  header.ui-header(
    class = mod
  ) 
    .ui-header__logo 
      a(
        href = "start-page.html",
        class = "ui-header__link",
      )
        img(
          class="ui-header__logo-img",
          alt="Логотип"
          src = "../../layouts/ui-layout/logo/logo.svg"
        )