mixin range-slider(options = {})
  - 
    const {
      rangeClass = '',
      min = 0,
      max = 15000,
      step = 100,
     } = options

  div(
    class = `range-slider ${rangeClass}` 
  )
    .range-slider__slider 
    .range-slider__progress 
    .range-slider__min 
    .range-slider__max 
    
   
    
    