@use 'sass:map';
@use 'SharedStyles/variables';

.range-slider {
  &__fields {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 26px;
  }

  &__name {
    font-size: map.get(variables.$font-sizes, 'xs');
    font-weight: bold;
    text-transform: uppercase;
  }

  &__amount {
    padding: 1px 0 0;
    font-family: Montserrat, sans-serif;
    max-width: 50%;
    text-align: right;
    border: none;
    outline: none;
    color: rgba(map.get(variables.$colors, 'dark'), 0.5);
    font-size: map.get(variables.$font-sizes, 'xs');
  }

  &__description {
    font-size: map.get(variables.$font-sizes, 'xs');
    color: rgba(map.get(variables.$colors, 'dark'), 0.5);
    padding: 16px 0 0 0;
    margin: 0;

    //  PP
    white-space: nowrap;
  }

  &__slider {
    position: relative;
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
  }

  &__track {
    position: absolute;
    left: 0;
    height: 6px;
    width: 100%;
    border: 1px solid rgba(map.get(variables.$colors, 'dark'), 0.25);
    border-radius: 3px;
  }

  &__progress {
    position: absolute;
    height: 6px;
    background: map.get(variables.$gradients, 'secondary');
    border-radius: 3px;
  }

  &__toggle {
    position: absolute;
    display: inline-block;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 16px;
    height: 16px;
    border: 2px solid map.get(variables.$colors, 'tertiary');
    border-radius: 50%;
    background: map.get(variables.$gradients, 'secondary');
    cursor: grab;

    &:active {
      cursor: grabbing;
    }

    &_max {
      left: 50%;
    }
  }
}
