@use 'sass:math';
@import '../../common/functions.scss';
@import '../../common/variables.scss';

.range-slider {
  position: relative;
  &__slider {
    height: 6px;
    border: 1px solid rgba($dark-color, 0.25);
    border-radius: 3px;
  }

  &__progress {
    position: absolute;
    z-index: 5;
    top: 0;
    left: 25px;
    right: 25px;
    height: 6px;

    background: $gradientSecondary;
  }

  &__min,
  &__max {
    position: absolute;
    z-index: 10;

    width: 14px;
    height: 14px;
    border: 2px solid white;
    background: $gradientSecondary;
    border-radius: 50%;
  }

  &__min {
    top: -4px;
    left: 18px;
  }

  &__max {
    top: -4px;
    right: 18px;
  }
}
