mixin range-slider(options = {})
  - 
    const {
      rangeClass = '',
      min = 0,
      max = 15000,
      step = 100,
     } = options

  div(
    class = `range-slider ${rangeClass}` 
  )
    input(
      type = text 
      name = 'range-price'
      class = 'range-slider__input _range-slider-js'
      value = ''
    )
   
    
    