include ../booking-card/booking-card.pug
include ../text-element/text-element.pug
include ../footer/footer.pug

mixin landing() 
  .landing
    .landing__content
      .landing__booking-card
        +booking-card()
      .landing__text
        +text-element("Лучшие номера для вашей работы, отдыха и просто вдохновения")