include ../booking-card/booking-card.pug
include ../text-element/text-element.pug
include ../footer/footer.pug

mixin landing(options = {}) 
  -
    const {
      classMain = ''
    } = options
  main(
    class = `landing ${classMain}`)
    .container.landing__content
      +booking-card({
        classBook: 'booking-card landing__booking-card'
      })
      +text-element({
        classText: 'landing__text',
        contentText: 'Лучшие номера для вашей работы, отдыха и просто вдохновения'
      })