@use 'sass:math';
@import '../../common/functions.scss';
@import '../../common/variables.scss';

.landing {
  display: flex;

  padding: rem(70) rem(134) rem(21) rem(140);

  background: 50% 102% url(./img/landBakc.png) no-repeat;
  background-size: cover;

  &__content {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__booking-card {
    align-self: flex-start;
  }

  &__text {
    padding: 0 3px 2px 0;

    max-width: rem(297);
    align-self: flex-end;
    justify-self: flex-end;

    text-align: right;
  }
}
