@use 'sass:math';
@import '../../common/functions.scss';
@import '../../common/variables.scss';

.landing {
  display: flex;
  align-items: center;
  background: 50% 99% url(./img/landBakc.webp) no-repeat;
  background-size: cover;
  padding: 5px;

  min-height: rem(830);

  &__text {
    display: none;
  }

  @media (min-width: $tablet) {
    align-items: normal;

    &__content {
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 64px 128px 16px 136px;
    }

    &__booking-card {
      align-self: flex-start;
    }

    &__text {
      display: block;

      max-width: rem(297);
      align-self: flex-end;
      justify-self: flex-end;

      text-align: right;
    }
  }
}
