include ../carousel/carousel.pug
include ../star-rating/star-rating.pug
include ../room-number/room-number.pug
include ../room-price/room-price.pug

mixin room-card(options = {})
  - 
    const {
      images = [],
      number = '000',
      luxe = false,
      price = '666',
      rating = 0,
      reviews = 0,
      stars = 5,
      href = 'error-page.html'
    } = options

  article.room-card.js-room-card
    +carousel(images,
    href)
    .room-card__information
      .room-card__details
        .room-card__number
          +room-number({
            number,
            luxe
          })
        .room-card__price  
          +room-price(price)
      .room-card__feedback
        +star-rating({
          classRating: 'room-card__rating',
          rating,
          stars
        })
        span.room-card__reviews 
          span.room-card__reviews-count.js-room-card__reviews-count= `${reviews} `
          span.room-card__reviews-word.js-room-card__reviews-word Отзывов

    