@use 'sass:map';
@use 'sass:color';
@use '@styles/variables';

.room-card {
  max-height: 258px;
  max-width: 270px;
  display: grid;
  grid-template-rows: 1fr auto auto;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 10px 20px 0 rgb(map.get(variables.$colors, 'dark'), 0.05);

  &:focus-within {
    outline: 2px solid map.get(variables.$colors, 'dark');
  }

  &__information {
    display: flex;
    flex-direction: column;
    gap: 22px;
    padding: 20px 13px 21px 19px;
    position: relative;

    &::before {
      content: '';
      background: rgb(map.get(variables.$colors, 'dark'), 0.1);
      position: absolute;
      width: 87%;
      height: 1px;
      top: 50%;
    }
  }

  &__details,
  &__feedback {
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: flex;
    gap: 5px;
  }

  &__number {
    max-width: 110px;
  }

  &__feedback {
    padding-left: 3px;
  }

  &__rating {
    padding-left: 1px;
  }

  &__reviews {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 4px;
    color: rgb(map.get(variables.$colors, 'dark'), 0.5);
    font-size: map.get(variables.$font-sizes, 'sm');
  }

  &__reviews-count {
    font-size: map.get(variables.$font-sizes, 'sm');
    font-weight: 700;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__reviews-word {
    text-transform: capitalize;
    padding-right: 8px;
  }
}
