@use 'sass:math';
@import '../../common/functions.scss';
@import '../../common/variables.scss';

.room-card {
  max-width: 270px;
  display: grid;
  grid-template-rows: 1fr auto auto;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0px 10px 20px 0px rgba($dark-color, 0.05);

  &:focus-within {
    outline: 2px solid $dark-color;
  }

  &__information {
    padding: 18px 16px 17px 21px;
  }

  &__details,
  &__feedback {
    display: flex;
    justify-content: space-between;
  }

  &__number {
    padding-top: 2px;
  }

  &__price {
    padding: 7px 0px 0px 1px;
  }

  &__details {
    border-bottom: 1px solid rgba($dark-color, 0.1);
    padding-bottom: 10px;
  }

  &__rating {
    padding-left: 1px;
  }

  &__feedback {
    padding: 11px 0 0 2px;
  }
  &__reviews {
    color: rgba($dark-color, 0.5);
  }

  &__reviews {
    font-size: $fontSmall;
    padding: 1px 2px 0 0;
    word-break: break-all;
  }
  &__reviews-count {
    font-size: $fontSmall;
    font-weight: 700;
  }

  &__reviews-word {
    text-transform: capitalize;
  }
}
