@use 'sass:map';
@use 'sass:color';
@use 'SharedStyles/variables';

.room-card {
  max-height: 258px;
  max-width: 270px;
  display: grid;
  grid-template-rows: 1fr auto auto;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 10px 20px 0 rgb(map.get(variables.$colors, 'dark'), 0.05);

  &:focus-within {
    outline: 2px solid map.get(variables.$colors, 'dark');
  }

  &__information {
    padding: 18px 13px 17px 21px;
  }

  &__details,
  &__feedback {
    display: flex;
    justify-content: space-between;
    display: flex;
    gap: 5px;
  }

  &__number {
    padding-top: 2px;
    max-width: 110px;
  }

  &__price {
    padding-top: 6px;
  }

  &__details {
    padding-bottom: 10px;
  }

  &__rating {
    padding-left: 1px;
  }

  &__feedback {
    padding: 11px 0 0 3px;
    border-top: 1px solid rgb(map.get(variables.$colors, 'dark'), 0.1);
  }

  &__reviews {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 4px;
    color: rgb(map.get(variables.$colors, 'dark'), 0.5);
    font-size: map.get(variables.$font-sizes, 'sm');
    padding: 2px 2px 0 0;
  }

  &__reviews-count {
    font-size: map.get(variables.$font-sizes, 'sm');
    font-weight: 700;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__reviews-word {
    text-transform: capitalize;
    padding-right: 3px;
  }
}
