include ../carousel/carousel.pug
include ../star-rating/star-rating.pug

mixin room-card(options = {})
  - 
    const {
      images = [],
      number = '000',
      luxe = true,
      price = '666',
      rating = 0,
      reviews = 0,
      stars = 5
    } = options

  article.room-card
    +carousel(images)
    .room-card__information
      .room-card__details
        span.room-card__number
          span= '№ '
          span.room-card__number-count= `${number}`
          if luxe
            span.room-card__luxe Люкс
        span.room-card__price
          span.room-card__price-count= `${price}₽ `
          span.room-card__price-word в сутки
      .room-card__feedback
        +star-rating({
          classRating: 'room-card__rating',
          rating,
          stars
        })
        span.room-card__reviews 
          span.room-card__reviews-count= `${reviews} `
          span.room-card__reviews-word Отзывов

    