@use 'sass:math';
@import '../../common/functions.scss';
@import '../../common/variables.scss';

.paginator {
  display: flex;
  flex-direction: column;
  gap: 11px;

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;

    // PP
    padding-right: 72px;

    @media (max-width: $mobile) {
      padding: 0;
      flex-wrap: wrap;
    }
  }

  &__button {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    min-width: 40px;
    min-height: 40px;

    background: $gradientSecondary;
    border: none;
    border-radius: 50%;
    outline: none;

    cursor: pointer;

    &:hover,
    &:focus {
      text-shadow: 1px 0 5px;
    }

    &::before {
      position: absolute;
      color: $secondary-color-2;
      font-size: 18px;
    }

    &_prev {
      &::before {
        transform: rotate(180deg);
      }
    }

    &_hidden {
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      border: 0;
      padding: 0;
      white-space: nowrap;
      -webkit-clip-path: inset(100%);
      clip-path: inset(100%);
      clip: rect(0 0 0 0);
      overflow: hidden;
    }
  }

  &__items {
    display: flex;
    padding: 0 1px;
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 40px;
    height: 40px;

    list-style: none;
    color: rgba($dark-color, 0.5);
    font-size: rem(12);
    border-radius: 50%;

    cursor: pointer;

    &:focus {
      outline: 1px solid $primary-color;
    }

    &_active {
      color: $secondary-color-2;
      font-weight: 700;
      background: $gradient;

      &:hover {
        text-shadow: 1px 0 5px;
      }
    }

    &:hover {
      font-weight: 700;
    }

    &_dots {
      &:hover {
        font-weight: normal;
        cursor: auto;
      }
    }
  }

  &__description {
    display: flex;
    justify-content: center;
    align-items: center;

    padding-right: 71px;
    color: rgba($dark-color, 0.75);

    @media (max-width: $mobile) {
      padding-right: 0;
    }
  }
}
