@use 'sass:math';
@import '../../common/functions.scss';
@import '../../common/variables.scss';

.paginator {
  display: flex;
  flex-direction: column;
  gap: 11px;

  padding-top: 100px;

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__button {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 40px;
    height: 40px;

    background: $gradientSecondary;
    border: none;
    border-radius: 50%;
    outline: none;

    cursor: pointer;

    &:hover {
      text-shadow: 1px 0 5px;
    }

    &::before {
      position: absolute;
      color: white;
      font-size: 18px;
    }

    &_prev {
      &::before {
        transform: rotate(180deg);
      }
    }
  }

  &__items {
    display: flex;
    padding: 0 1px;
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 40px;
    height: 40px;

    list-style: none;
    color: rgba($dark-color, 0.5);
    font-size: rem(12);
    border-radius: 50%;

    cursor: pointer;

    &_active {
      color: $secondary-color-2;
      font-weight: 700;
      background: $gradient;

      &:hover {
        text-shadow: 1px 0 5px;
      }
    }

    &:hover {
      font-weight: 700;
    }

    &_dots {
      &:hover {
        font-weight: normal;
      }
    }
  }

  &__description {
    color: rgba($dark-color, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
