@use 'sass:map';
@use 'sass:color';
@use '@styles/variables';
@use '@styles/functions';

.paginator {
  display: flex;
  flex-direction: column;
  gap: 11px;

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 40px;
    min-height: 40px;
    background: map.get(variables.$gradients, 'secondary');
    border: none;
    border-radius: 50%;
    outline: none;
    cursor: pointer;

    svg,
    path {
      fill: white;
    }

    &_prev {
      svg {
        transform: rotate(180deg);
      }

      &:hover,
      &:focus {
        text-shadow: 1px 0 5px;
      }
    }

    &_hidden {
      
    }
  }

  &__items {
    display: flex;
    margin: 0;
    padding: 0 1px;
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 40px;
    min-height: 40px;
    list-style: none;
    color: rgb(map.get(variables.$colors, 'dark'), 0.5);
    font-size: map.get(variables.$font-sizes, 'xs');
    border-radius: 50%;
    cursor: pointer;

    &_active {
      color: map.get(variables.$colors, 'tertiary');
      font-weight: 700;
      background: map.get(variables.$gradients, 'primary');

      &:hover {
        text-shadow: 1px 0 5px;
      }
    }

    &_dots {
      &:hover {
        font-weight: normal;
        cursor: auto;
      }
    }

    &:focus {
      outline: 1px solid map.get(variables.$colors, 'primary');
    }

    &:hover {
      font-weight: 700;
    }
  }

  &__description {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(map.get(variables.$colors, 'dark'), 0.75);
  }

  @media (max-width: map.get(variables.$breakpoints, 'mobile')) {
    &__content {
      padding: 0;
    }

    &__button {
      &::before {
        font-size: map.get(variables.$font-sizes, 'xs');
      }
    }

    &__description {
      padding-right: 0;
    }
  }
}
