mixin paginator(options = {})
  -
    const {
      paginatorOptions = {},
    } = options

  div(
    class = "paginator _js-paginator"
    data-paginator = paginatorOptions 
  )
    .paginator__content
      button(
        class="paginator__button paginator__button_prev js-paginator__button_prev icon__arrow_forward",
        tabindex = 0,
      )
      ul.paginator__items.js-paginator__items
      button(
        class="paginator__button paginator__button_next js-paginator__button_next icon__arrow_forward",
        tabindex = 0,
      )
    .paginator__description 
      span.paginator__text.js-paginator__text