@use 'sass:math';
@import '../../common/functions.scss';
@import '../../common/variables.scss';

.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;

  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: rem(14);

  &__main {
    flex: 1 0 auto;
  }

  &__header {
    min-height: rem(70);

    &_shadow {
      box-shadow: 0px 10px 20px 0px rgba($dark-color, 0.05);
    }
  }

  &__footer {
    min-height: rem(367);
  }
}
