include ../button/button.pug

mixin datepick_2() 
  .datepick._datepick-2._datepick-js
    .datepick__fields
      .datepick__group
        label(
          forInput = 'booking-enter',
          class = 'datepick__label'
        ) Прибытие
        .datepick__input
          input(
            type = 'text',
            id = 'booking-enter',
            class = 'datepick__field datepick__field_readonly datepick-start _datepickItem _dateInput',
            name = 'datepick-input-start',
            placeholder = 'ДД.ММ.ГГГГ',
            pattern = '[0-9]{2}.[0-9]{2}.[0-9]{4}',
            required
          )
          .datepick__arrow.icon__expand_more 
      .datepick__group
        label(
          for = 'booking-out',
          class = 'datepick__label'
        ) Выезд
        .datepick__input
          input(
            type = 'text',
            id = 'booking-out',
            class = 'datepick__field datepick__field_readonly datepick-end _datepickItem _dateInput',
            name = 'datepick-input-end',
            placeholder = 'ДД.ММ.ГГГГ',
            pattern = '[0-9]{2}.[0-9]{2}.[0-9]{4}',
            required
            )
          .datepick__arrow.icon__expand_more       
    .datepick__container
      .datepick_btns
        +button({
          content: 'Очистить',
          classWrapper: 'datepick__button datepick__button_clear btn-wrapper_transparent',
          classBtn: 'button_color',
          btnColor: 'violet',
          btnWrapperColor: 'transparent',
          border: 'false',
          btnSize: 'tiny',
          btnMod: ['noBorder'],
        })
        +button({
          content: 'Применить',
          classWrapper: 'datepick__button datepick__button_accept btn-wrapper_transparent',
          classBtn: 'button_color',
          btnColor: 'violet',
          btnWrapperColor: 'transparent',
          border: 'false',
          btnSize: 'tiny',
          btnMod: ['noBorder'],
        })

mixin datepick_1()
  .datepick._datepick-1._datepick-js
    .datepick__group
      label(
        for = 'booking-dates',
        class = 'datepick__label'
        ) Даты пребывания в отеле
      .datepick__input
        input(
          type = 'text',
          id = 'booking-dates',
          class = 'datepick__field datepick__field_readonly datepick-dates _datepickItem __icon-expand',
          name = 'datepick-input-dates',
          placeholder = 'дд.мм - дд.мм',
          pattern = '[0-9]{2}.[0-9]{2}.[0-9]{4}',
          readonly
        )
        .datepick__arrow.icon__expand_more 

    .datepick__container.datepick_small
      .datepick_btns
        +button({
          content: 'Очистить',
          classWrapper: 'datepick__button datepick__button_clear btn-wrapper_transparent',
          classBtn: 'button_color',
          btnColor: 'violet',
          btnWrapperColor: 'transparent',
          border: 'false',
          btnSize: 'tiny',
          btnMod: ['noBorder'],
        })
        +button({
          content: 'Применить',
          classWrapper: 'datepick__button datepick__button_accept btn-wrapper_transparent',
          classBtn: 'button_color',
          btnColor: 'violet',
          btnWrapperColor: 'transparent',
          border: 'false',
          btnSize: 'tiny',
          btnMod: ['noBorder'],
        })
