@use 'sass:math';
@import '../../common/functions.scss';
@import '../../common/variables.scss';

.datepick {
  &_container {
    position: absolute;
    top: calc(100% + 5px);
    right: 0;

    display: none;
    width: rem(320);
    z-index: 10;

    padding: rem(20);
    border: 1px solid rgba($dark-color, 0.25);
    border-radius: 4px;

    background-color: $secondary-color-2;
  }

  &__button {
    margin-top: rem(20);
  }
}

._active {
  display: flex;
  flex-direction: column-reverse;
}

.datepick_btns {
  display: flex;
  justify-content: space-between;
}

.air-datepicker {
  width: 100%;
}

.air-datepicker {
  font-family: 'Montserrat', sans-serif;
  border: none;

  // Навигация календаря, кнопки и год/месяц
  &-nav {
    border: none;
    &--action {
      background: url('../../icons/arrow_forward.svg') no-repeat center;
      transform: rotate(180deg);

      &[data-action='next'] {
        transform: rotate(0);
      }

      &:hover {
        background: url('../../icons/arrow_forward.svg') no-repeat center;
      }
      svg {
        display: none;
      }
    }

    &--title {
      color: $dark-color;
      font-weight: bold;
      font-size: rem(19);
    }
  }

  // Тело календаря, дни недели и даты
  &-body {
    &--day-name {
      color: $primary-color;
      font-weight: bold;
      font-size: rem(12);
    }

    .-days- {
      grid-template-columns: repeat(7, rem(40));
      grid-auto-rows: rem(40);
    }

    .-day- {
      color: rgba($dark-color, 0.5);
      font-size: rem(12);

      &:hover {
        border-radius: 50%;
      }
    }

    .-current- {
      color: $secondary-color-2;
      background: $gradientSecondary;
      border-radius: 50%;
      &:hover {
        color: $secondary-color-2;
      }
    }

    .-other-month- {
      color: rgba($dark-color, 0.25);
      font-size: rem(12);
    }

    // Стили элемента при выходе курсора за пределы контейнера без выбора конечного пункта диапазона календаря
    .-range-to-,
    .-range-from- {
      border: none;
      background: $gradient25;
    }

    .-range-to- {
      border-radius: 0 50% 50% 0;
    }

    .-range-from- {
      border-radius: 50% 0 0 50%;
    }

    // ---------------------------------------------

    .-in-range- {
      background: $gradient25;
      border: none;
      border-radius: 0;
      &:hover {
        border-radius: 0;
        background: $gradient25;
      }
    }

    // Добавленные классы при помощи JS для диапазона
    .start-range,
    .end-range {
      &:before {
        content: '';
        position: absolute;
        background: $gradient25;
        z-index: -1;

        width: rem(40);
        height: rem(40);

        &:hover {
          background: $gradient25;
        }
      }
    }

    .start-range {
      &:before {
        border-radius: 50% 0 0 50%;
      }
    }

    .end-range {
      &:before {
        border-radius: 0 50% 50% 0;
      }
    }
    // ---------------------------------------------

    .-selected- {
      height: rem(40);
      border-radius: 50%;
      background: $primary-gradient;
      color: $secondary-color-2;

      font-weight: bold;

      &:hover {
        background: $primary-gradient;
      }
    }

    .-focus- {
      color: white;
      font-weight: bold;
    }
  }
}
