include ../form/form.pug
include ../input/input.pug
include ../button/button.pug

mixin datepick_2() 
  +form-group()
    +label({
      text: 'Прибытие',
      id: 'booking-enter',
    })
    +input({
      type: 'text',
      id: 'booking-enter',
      classInput: 'datepick__input datepick__input_readonly datepick-start _datepickItem __icon-expand',
      datepicker: true,
      arrow: true,
      placeholder: 'ДД.ММ.ГГГГ',
      pattern: '[0-9]{2}.[0-9]{2}.[0-9]{4}'
    })
  +form-group()
    +label({
      text: 'Выезд',
      id: 'booking-out',
    })
    +input({
      type: 'text',
      id: 'booking-out',
      classInput: 'datepick__input datepick__input_readonly datepick-end _datepickItem',
      datepicker: true,
      arrow: true,
      placeholder: 'ДД.ММ.ГГГГ',
      pattern: '[0-9]{2}.[0-9]{2}.[0-9]{4}'
    })
  .datepick_container
    .datepick_btns
      +button({
        content: 'Очистить',
        classWrapper: 'datepick__button datepick__button_clear btn-wrapper_transparent',
        classBtn: 'button_color'
      })
      +button({
        content: 'Применить',
        classWrapper: 'datepick__button datepick__button_accept btn-wrapper_transparent',
        classBtn: 'button_color'
      })