mixin toggle(options = {})
  - 
    const {
      name = '',
      checked = false,
      text = '',
    } = options

  label.toggle
    input.toggle__input(
      type = "checkbox",
      name = name,
      checked = checked
      )
    span.toggle__new-input
    span.toggle__title= text  