mixin toggle(options = {})
  - 
    const {
      name = '',
      id = '',
      checked = false,
      text = '',
    } = options

  label.toggle
    input(
      type = 'checkbox',
      name = name,
      id = id,
      class = 'toggle__input visually-hidden',
      )
    span.toggle__new-input
    span.toggle__title= text  