@use 'sass:map';
@use '../../styles/shared-styles/variables';
@use '../../styles/shared-styles/mixins';

.login-card {
  @include mixins.box-style;

  min-width: 380px;
  max-width: 400px;
  padding: 39px 30px 34px 29px;

  @media (max-width: map.get(variables.$breakpoints, 'mobile')) {
    margin-bottom: 0;
    min-width: auto;
    padding: 10px;
  }

  //  Form groups
  &__data-group {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__button {
    margin-top: 20px;
  }

  &__create-group {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
  }

  &__create-text {
    padding-right: 5px;
  }
}
