include ../button/button.pug
include ../input/input.pug
include ../text-element/text-element.pug

mixin login-card()
  section.login-card
    form(
      class ='login-card__form',
      action = 'error-page.html',
      method = 'GET',
    )
      .login-card__title
        +title({
          level: 'h2',
          text: 'Войти',
          })
      .login-card__data-group
        +input({
          type: 'email',
          name: 'login-email',
          id: 'login-email',
          placeholder: 'Email',
          required: true
        })
        +input({
          type: 'password',
          name: 'login-password',
          id: 'login-password',
          placeholder: 'Пароль',
          required: true,
          isAutocomplete: true,
        })
      .login-card__button
        +button({
          content: 'Войти',
          btnColor: 'violet',
          isArrow: true,
          btnSize: 'large'
        })
      .login-card__create-group
        .login-card__create-text
          +text-element('Нет аккаунта на Toxin?')
        .login-card__create-button
          +button({
            content: 'Создать', 
            btnColor: 'white',
            btnSize: 'medium',
            btnType: 'link',
            href: 'registration-page.html'
        })