@use '../../common/variables';

.login-card {
  @include variables.boxes;

  min-width: 380px;
  padding: 39px 30px 30px 29px;

  @media (max-width: variables.$mobile) {
    margin-bottom: 0;
    min-width: auto;
    padding: 10px;
  }

  //  Form groups
  &__data-group {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__button {
    margin-top: 20px;
  }

  &__create-group {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
  }

  &__create-text {
    padding-right: 5px;
  }
}
