include ../button/button.pug
include ../title/title.pug
include ../form/form.pug
include ../input/input.pug

mixin registration(options = {})
  main(
      class = `registration ${options.classMain}`
  )
    .registration__container.container
      section.registration 
        +form({
          classForm: 'registration__card',
        })
          +title({
            level: 'h2',
            text: 'Регистрация аккаунта',
            classTitle: 'registration__title',
        })

          +form-group({
            classGroup: 'registration__name'
          })
            +input({
              type: 'text',
              name: 'registration-name',
              id: 'registration-name',
              placeholder: 'Имя',
              classInput: 'registration-name'
            })
            +input({
              type: 'text',
              name: 'registration-surname',
              id: 'registration-surname',
              placeholder: 'Фамилия',
              classInput: 'registration-surname'
            })

            +form-group({
              classGroup: 'registration__sex',
              gridColumn: '2',
            })
              +form-group({
                classGroup: 'registration__sex-group',
              })
                label(
                  class = "registration__radio-label"
                )
                  +input({
                    type: 'radio',
                    name: 'registration-sex',
                    id: 'registration-male',
                    classInput: 'registration__radio-input visually-hidden',
                    checked: true
                  })
                  span.registration__radio
                  span.registration__radio-title Мужчина

              +form-group({
                classGroup: 'registration__sex-group',
              })

                label(
                  class = "registration__radio-label"
                )
                  +input({
                    type: 'radio',
                    name: 'registration-sex',
                    id: 'registration-female',
                    classInput: 'registration__radio-input visually-hidden',
                  })
                  span.registration__radio
                  span.registration__radio-title Женщина