@use 'sass:math';
@import '../../common/functions.scss';
@import '../../common/variables.scss';

.registration {
  min-height: 684px;

  background: 50% 102% url(./img/registration.png) no-repeat;
  background-size: cover;

  &__container {
    display: flex;
    justify-content: center;
    padding: 19px 0;
  }

  &__card {
    // Для PP
    margin-left: 11px;
  }

  &__form {
    background-color: white;
    min-width: 380px;
    padding: 40px 30px 30px 30px;
  }

  &__name-group {
    gap: 10px;
    margin-top: 20px;
  }

  &__sex-group {
    margin-top: 10px;

    display: grid;
    grid-template-columns: auto 1fr;
  }

  &__sex {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 20px;
  }

  &__birth-group {
    margin-top: 24px;
  }

  &__data-group {
    margin-top: 20px;
  }

  &__email {
    margin-bottom: 10px;
  }

  &__mailing {
    margin-top: 10px;
  }

  &__button {
    margin-top: 24px;
  }

  &__login-group {
    margin-top: 30px;

    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
  }
}
