include ../button/button.pug
include ../title/title.pug
include ../form/form.pug
include ../input/input.pug
include ../radio/radio.pug
include ../toggle/toggle.pug
include ../text-element/text-element.pug

mixin registration(options = {})
  main(
      class = `registration ${options.classMain}`
  )
    .registration__container.container
      section.registration__card 
        +form({
          classForm: 'registration__form',
        })
          +title({
            level: 'h2',
            text: 'Регистрация аккаунта',
            classTitle: 'registration__title',
          })

          +form-group({
            classGroup: 'registration__name-group'
          })
            +input({
              type: 'text',
              name: 'registration-name',
              id: 'registration-name',
              placeholder: 'Имя',
              classInput: 'registration__name'
            })
            +input({
              type: 'text',
              name: 'registration-surname',
              id: 'registration-surname',
              placeholder: 'Фамилия',
              classInput: 'registration__surname'
            })

          +form-group({
            classGroup: 'registration__sex',
            gridColumn: '2',
          })
            +form-group({
              classGroup: 'registration__sex-group',
            })
              +radio({
                name: 'registration-sex',
                id: 'registration-male',
                checked: true,
                text: 'Мужчина'
              })
            +form-group({
              classGroup: 'registration__sex-group',
            })
              +radio({
                name: 'registration-sex',
                id: 'registration-female',
                text: 'Женщина'
              })
                
          +form-group({
            classGroup: 'registration__birth-group',
          })
            +label({
              forInput: 'registration-birth',
              classLabel: 'registration__label',
              text: 'Дата рождения'
            })
            +input({
              type: 'text',
              id: 'registration-birth',
              classInput: 'registration__birth',
              placeholder: 'ДД.ММ.ГГГГ',
              pattern: '[0-9]{2}.[0-9]{2}.[0-9]{4}',
            })
          
          +form-group({
            classGroup: 'registration__login-group',
          })
            +label({
              classLabel: 'registration__label',
              text: 'Данные для входа в сервис',
              forInput: 'registration-email'
            })
            +input({
              type: 'email',
              name: 'registration-email',
              id: 'registration-email',
              placeholder: 'Email',
              classInput: 'registration__email'
            })
            +input({
              type: 'password',
              name: 'registration-password',
              id: 'registration-password',
              placeholder: 'Пароль',
              classInput: 'password'
            })
          +form-group({
            classGroup: 'registration__mailing',
          })
            +toggle({
              name: 'registration-mailing',
              id: 'registration-mailing',
              text: 'Получать спецпредложения',
            })
          +button({
            content: 'Зарегистрироваться',
            btnColor: 'white',
            btnWrapperColor: 'violet',
            btnMod: ['arrow'],
            classWrapper: 'booking-card__button',
            btnSize: 'large'
          })

          +form-group({
            classGroup: 'registration__login-group',
          })
            +text-element({
              classText:'registration__login-text',
              contentText: 'Уже есть аккаунт на Toxin',
             })
            +button({
              classWrapper: 'registration__login-button', 
              content: 'Войти', 
              btnColor: 'violet',
              btnSize: 'small',
              btnType: 'link',
            })
            
      
        