@use 'sass:math';
@import '../../common/functions.scss';
@import '../../common/variables.scss';

.registration {
  min-height: 684px;

  background: 50% 102% url(./img/registration.png) no-repeat;
  background-size: cover;

  &__container {
    display: flex;
    justify-content: center;
    padding: 19px 5px;
  }

  &__card {
    // Для PP
    margin-left: 7px;

    @media (max-width: $mobile) {
      margin-left: 0;
    }
  }

  &__form {
    background-color: white;
    min-width: 380px;
    padding: 37px 30px 30px 28px;

    border: 1px solid rgba(#000000, 0.12);
    border-radius: 4px;

    @media (max-width: $mobile) {
      min-width: auto;
      padding: 10px;
    }
  }

  &__name-group {
    gap: 10px;
    margin-top: 20px;
  }

  &__sex-group {
    margin-top: 10px;

    display: grid;
    grid-template-columns: auto 1fr;
  }

  &__sex {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 20px;
  }

  &__birth-group {
    margin-top: 24px;
  }

  &__data-group {
    margin-top: 20px;
  }

  &__email {
    margin-bottom: 10px;
  }

  &__mailing {
    margin-top: 10px;
  }

  &__button {
    margin-top: 24px;
  }

  &__login-group {
    margin-top: 30px;

    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
  }
}
