include ../registration-card/registration-card.pug

mixin registration(options = {})
  section.registration
    .registration__container
      .registration__card
        +registration-card()
          
        