@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?yg1v9i');
  src:  url('fonts/icomoon.eot?yg1v9i#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?yg1v9i') format('truetype'),
    url('fonts/icomoon.woff?yg1v9i') format('woff'),
    url('fonts/icomoon.svg?yg1v9i#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-__arrow_back:before {
  content: "\e900";
}
.icon-__arrow_forward:before {
  content: "\e901";
}
.icon-__checkbox:before {
  content: "\e902";
}
.icon-__expand_more:before {
  content: "\e903";
}
.icon-__expand_more_opened:before {
  content: "\e904";
}
.icon-__favorite:before {
  content: "\e905";
}
.icon-__favorite_border:before {
  content: "\e906";
}
