extends ../../blocks/page-layout/page-layout.pug
block content
  body.start-page
    main.start-page__main
      .start-page__pages
        .start-page__types.start-page__types_website
         h2.start-page__title= 'Website pages'
         ul.start-page__pages-list
          li.start-page__pages-item 
           a(
             class = 'start-page__pages-link'
             href ='landing-page.html'
           ) Landing Page
          li.start-page__pages-item 
           a(
             class = 'start-page__pages-link'
             href ='login-page.html'
           ) Login Page
          li.start-page__pages-item 
           a(
             class = 'start-page__pages-link'
             href ='registration-page.html'
           ) Registration Page

