include ../logo/logo.pug
include ../nav/nav.pug
include ../button/button.pug

mixin headerIcon
  .header__icon
    span

mixin header(options = {})
  -
   const {
    isShadow = false,
    isLogged = false,
    navigation = {}
   } = options
  -
    let shadow = isShadow ? "header_shadow" : ""


  section.header(
      class =  `${shadow}`
    )
    .header__content.container
      .header__logo
        +logo({
          href: "landing-page.html"
        })
      +headerIcon()
      .header__nav-wrapper
        .header__nav 
          +nav(navigation)
        if !options.isLogged
          .header__button
            +button({
              content: "Войти", 
              btnColor: "violet",
              btnSize: "small",
              btnType: "link",
              href: "login-page.html"
              })
          .header__button
            +button({
              btnColor: "white",
              btnWrapperColor: "violet",
              content: "Зарегистрироваться",
              btnSize: "small",
              btnType: "link",
              href: "registration-page.html"
              })
        else
          p.header__user Юлий Цезарь
