@use 'sass:math';
@import '../../common/functions.scss';
@import '../../common/variables.scss';

.header {
  background-color: $secondary-color-2;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;

    padding: 11px 138px 11px 140px;

    @media (max-width: $pc) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 20px;
      padding: 11px 10px 11px 10px;
    }
  }

  &__nav-wrapper {
    position: static;
    left: 0;
    width: auto;

    display: flex;
    flex-direction: row;
    gap: 20px;

    opacity: 1;

    @media (max-width: $pc) {
      position: static;
      left: 0;
      width: auto;

      display: flex;
      flex-direction: row;
      gap: 20px;

      opacity: 1;
    }

    @media (max-width: $tablet) {
      position: absolute;
      width: 100%;
      left: -200%;

      display: flex;
      flex-direction: column;
      gap: 10px;

      opacity: 0;

      transition: left 0.3s ease 0s;

      &._active {
        position: relative;
        left: 0;
        opacity: 1;
      }
    }
  }

  &__nav {
    display: flex;
    margin-right: 26px;
  }

  &__logo {
    display: inline-block;
    padding-top: 3px;
    padding-left: 2px;
  }

  &__user {
    color: rgba($dark-color, 0.5);
    align-self: flex-end;
    padding: 5px 0 0 20px;
    border-left: 1px solid rgba($dark-color, 0.1);
  }

  &__icon {
    display: none;

    @media (max-width: $tablet) {
      display: block;
      position: relative;
      width: 30px;
      height: 18px;
      cursor: pointer;

      & span,
      &::before,
      &::after {
        position: absolute;
        left: 0;
        height: 2px;
        width: 100%;
        background-color: $primary-color;

        transition: all 0.3s ease 0s;
      }

      &::before,
      &::after {
        content: '';
      }

      &::before {
        top: 0;
      }

      &::after {
        bottom: 0;
      }

      & span {
        top: 50%;
        transform: scale(1) translate(0px, -50%);
      }

      // Animation by click on the icon
      &._active span {
        transform: scale(0) translate(0, -50%);
      }

      &._active::before {
        top: 50%;
        transform: rotate(-45deg) translate(0, -50%);
      }

      &._active::after {
        top: 50%;
        transform: rotate(45deg) translate(0, -50%);
      }
    }
  }

  &_shadow {
    box-shadow: 0 10px 20px rgba($dark-color, 0.05);
  }
}
