include ../nav/nav.pug
include ../button/button.pug

mixin headerIcon
  .header__icon
    span

mixin header(options = {})
  header.header(
    class = options.classHeader
    )
    a(
      href = options.href
      ).logo.header__logo
      img(src="./blocks/header/img/logo.svg" alt="Логотип Toxin" width='106' height='40')
    +headerIcon()
    .header__nav-wrapper 
      +nav({classNav: 'header__nav'})

      if !options.isLogged
        +button({
          classWrapper: 'header__button', 
          content: 'Войти', 
          btnColor: 'white'
          })
        +button({
          classWrapper: 'header__button', 
          btnColor: 'violet',
          content: 'Зарегистрироваться'})
      else
        p.header__user Юлий Цезарь
