include ../logo/logo.pug
include ../nav/nav.pug
include ../button/button.pug

mixin headerIcon
  .header__icon
    span

mixin header(options = {})
  -
   const {
    classHeader = '',
    navigation = {}
   } = options


  header.header(
    class = options.classHeader
    )

    +logo({
      classLogo: 'header__logo',
      href: 'landing-page.html'
    })
    +headerIcon()
    .header__nav-wrapper 
      +nav({
        classNav: 'header__nav',
        navigation: navigation})

      if !options.isLogged
        +button({
          classWrapper: 'header__button', 
          content: 'Войти', 
          btnColor: 'violet',
          btnSize: 'small',
          btnType: 'link',
           href: 'login-page.html'
          })
        +button({
          classWrapper: 'header__button', 
          btnColor: 'white',
          btnWrapperColor: 'violet',
          content: 'Зарегистрироваться',
          btnSize: 'small',
          btnType: 'link',
          href: 'registration-page.html'
          })
      else
        p.header__user Юлий Цезарь
