include ../logo/logo.pug
include ../nav/nav.pug
include ../button/button.pug

mixin header(options = {})
  -
    const {
      isShadow = false,
      isLogged = false,
      navigation = {},
    } = options


  header.header(
    class = {
      header_shadow: isShadow
    }
    )
    .header__content
      .header__logo
        +logo({
          href: 'landing-page.html'
        })
      .header__icon
        span
      .header__nav-wrapper
        .header__nav 
          +nav(navigation)
        if !options.isLogged
          .header__button
            +button({
              content: 'Войти', 
              btnColor: 'white',
              btnSize: 'small',
              btnType: 'link',
              href: 'login-page.html'
              })
          .header__button
            +button({
              btnColor: 'violet',
              content: 'Зарегистрироваться',
              btnSize: 'small',
              btnType: 'link',
              href: 'registration-page.html'
              })
        else
          p.header__user Юлий Цезарь
