include ../logo/logo.pug
include ../nav/nav.pug
include ../button/button.pug

mixin headerIcon
  .header__icon
    span

mixin header(options = {})
  header.header(
    class = options.classHeader
    )

    +logo({
      classLogo: 'header__logo',
      href: 'landing-page.html'
    })
    +headerIcon()
    .header__nav-wrapper 
      +nav({classNav: 'header__nav',
      items: [
        {
          content: 'О нас',
          href: 'error-page.html',
          linkActive: 'true'
          },
        {
          content: 'Услуги',
          href: 'error-page.html',
          subItems: [
            {
              content: 'Пункт меню',
              href: 'error-page.html'
            },
            {
              content: 'Пункт меню 1',
              href: 'error-page.html'
            },
            {
              content: 'Пункт меню 2',
              href: 'error-page.html'
            },
            {
              content: 'Пункт меню 3',
              href: 'error-page.html'
            }
          ]
        },
        {
          content: 'Вакансии',
          href: 'error-page.html'
        },
        {
          content: 'Новости',
          href: 'error-page.html'
        },
        {
          content: 'Соглашения',
          href: 'error-page.html',
          subItems: [
            {
              content: 'Пункт меню',
              href: 'error-page.html'
            },
            {
              content: 'Пункт меню 1',
              href: 'error-page.html'
            },
            {
              content: 'Пункт меню 2',
              href: 'error-page.html'
            },
            {
              content: 'Пункт меню 3',
              href: 'error-page.html'
            }
          ]
        }
      ]})

      if !options.isLogged
        +button({
          classWrapper: 'header__button', 
          content: 'Войти', 
          btnColor: 'violet',
          btnSize: 'small',
          btnType: 'link',
          href: 'registration-page.html'
          })
        +button({
          classWrapper: 'header__button', 
          btnColor: 'white',
          btnWrapperColor: 'violet',
          content: 'Зарегистрироваться',
          btnSize: 'small',
          btnType: 'link',})
      else
        p.header__user Юлий Цезарь
