@use 'sass:map';
@use 'sass:color';
@use '@styles/variables';

.header {
  background-color: map.get(variables.$colors, 'tertiary');

  &__content {
    max-width: map.get(variables.$layout-sizes, 'container');
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 11px 138px 11px 140px;
  }

  &__logo {
    display: inline-block;
    padding-top: 4px;
    padding-left: 2px;
  }

  &__nav-wrapper {
    position: static;
    left: 0;
    width: auto;
    display: flex;
    flex-direction: row;
    gap: 20px;
    opacity: 1;
  }

  &__nav {
    display: flex;
  }

  &__button {
    display: flex;
    align-items: center;
  }

  &__user {
    color: rgb(map.get(variables.$colors, 'dark'), 0.5);
    align-self: flex-end;
    padding: 5px 0 0 20px;
    border-left: 1px solid rgb(map.get(variables.$colors, 'dark'), 0.1);
  }

  &__icon {
    display: none;
  }

  &_shadow {
    box-shadow: 0 10px 20px rgb(map.get(variables.$colors, 'dark'), 0.05);
  }

  @media (max-width: map.get(variables.$breakpoints, 'pc')) {
    &__content {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 20px;
      padding: 11px 10px;
    }

    &__nav-wrapper {
      position: static;
      left: 0;
      width: auto;
      display: flex;
      flex-direction: row;
      gap: 20px;
      opacity: 1;
    }
  }

  @media (max-width: map.get(variables.$breakpoints, 'tablet')) {
    &__nav-wrapper {
      position: absolute;
      width: 100%;
      left: -200%;
      display: flex;
      flex-direction: column;
      gap: 10px;
      opacity: 0;
      transition: left 0.3s ease 0s;

      &_active {
        position: relative;
        left: 0;
        opacity: 1;
      }
    }

    &__icon {
      display: block;
      position: relative;
      width: 30px;
      height: 18px;
      cursor: pointer;

      & span,
      &::before,
      &::after {
        position: absolute;
        left: 0;
        height: 2px;
        width: 100%;
        background-color: map.get(variables.$colors, 'primary');
        transition: all 0.3s ease 0s;
      }

      & span {
        top: 50%;
        transform: scale(1) translate(0, -50%);
      }

      &::before,
      &::after {
        content: '';
      }

      &::before {
        top: 0;
      }

      &::after {
        bottom: 0;
      }

      &_active span {
        transform: scale(0) translate(0, -50%);
      }

      &_active::before {
        top: 50%;
        transform: rotate(-45deg) translate(0, -50%);
      }

      &_active::after {
        top: 50%;
        transform: rotate(45deg) translate(0, -50%);
      }
    }
  }
}
