include ../logo/logo.pug
include ../nav/nav.pug
include ../button/button.pug

mixin header(options = {})
  -
   const {
    shadow = false,
    isLogged = false,
    navigation = {}
   } = options
  -
    let mod = ''
    if (shadow) {
      mod = `header_shadow`
    }

  .header(
      class =  `${mod}`
    )
    .header__content.container
      .header__logo
        +logo({
          href: 'landing-page.html'
        })
      .header__nav-wrapper
        .header__nav 
          +nav({
            navigation: navigation}
            )

        if !options.isLogged
          .header__button
            +button({
              content: 'Войти', 
              btnColor: 'violet',
              btnSize: 'small',
              btnType: 'link',
              href: 'login-page.html'
              })
          .header__button
            +button({
              btnColor: 'white',
              btnWrapperColor: 'violet',
              content: 'Зарегистрироваться',
              btnSize: 'small',
              btnType: 'link',
              href: 'registration-page.html'
              })
        else
          p.header__user Юлий Цезарь
