include ../title/title.pug
include ../room-data/room-data.pug
include ../canvas/canvas.pug
include ../room-review/room-review.pug
include ../room-rules/room-rules.pug
include ../order-card/order-card.pug

mixin room-details(options= {})
  -
    const {
      classMain = ''
    } = options

  main(
    class = `room-details ${classMain}`
  )
    .room-details__content.container
      section.room-details__photos
        .room-details__photos-big
          img(
            src = './blocks/room-details/img/room-big.png',
            alt = 'Большое фото номера',
            class = 'room-details__image'
          )
        .room-details__photos-small
          .room-details__photos-top
            img(
              src = './blocks/room-details/img/room-small-1.png',
              alt = 'Малое фото номера',
              class = 'room-details__image room-details__image_small'
          )
          .room-details__photos-bottom
            img(
              src = './blocks/room-details/img/room-small-2.png',
              alt = 'Малое фото номера',
              class = 'room-details__image room-details__image_small'
            )

      .room-details__main
        section.room-details__information
          .room-details__details 
            .room-details__subtitle
              +title({
                level: 'h3',
                text: 'Сведения о номере'
              })
            +room-data({
              items: [
                {
                  title: 'Комфорт',
                  text: 'Шумопоглощающие стены',
                  icon: 'smile',
                },
                {
                  title: 'Удобство',
                  text: 'Окно в каждой из спален',
                  icon: 'city',
                },
                {
                  title: 'Уют',
                  text: 'Номер оснащён камином',
                  icon: 'fire',
                }
              ]
            })
          .room-details__feedback
            .room-details__subtitle
              +title({
                level: 'h3',
                classTitle: 'room-details__subtitle',
                text: 'Впечатления от номера'
              })
            +canvas({
              canvasClass: 'room-details__canvas',
              canvas: [
              {
                count: 0,
                id: 'bad',
                name: 'Разочарован',
                stopFirst: '#919191',
                stopSecond: '#3d4975'
              },
              {
                count: 260,
                id: 'satisfy',
                name: 'Удовлетворительно',
                stopFirst: '#bc9cff',
                stopSecond: '#8ba4f9'
              },
              {
                count: 520,
                id: 'great',
                name: 'Великолепено',
                stopFirst: '#ffe39c',
                stopSecond: '#ffba9c'
              },
              {
                count: 260,
                id: 'good',
                name: 'Хорошо',
                stopFirst: '#6fcf97',
                stopSecond: '#66d2ea'
              },
              ]
            })
        
          .room-details__reviews
            +title({
              level: 'h3',
              classTitle: 'room-details__subtitle',
              text: 'Отзывы посетителей номера'
            })
            +room-review({
              src: 'blocks/room-details/img-comment/tesak.png',
              name: 'Мурад Сарафанов',
              date: '5 дней назад',
              liked: true,
              counts: 12,
              text: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.'
            })
            +room-review({
              src: 'blocks/room-details/img-comment/steklo.png',
              name: 'Патрисия Стёклышкова',
              date: 'Неделю назад',
              liked: false,
              counts: 2,
              text: 'Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент.'
            })
          .room-details__rules
            .room-details__subtitle
              +title({
                level: 'h3',
                text: 'Правила'
              })
            +room-rules({
              rules: [
                'Нельзя с питомцами',
                'Без вечеринок и мероприятий',
                'Время прибытия — после 13:00 а выезд до 12:00'
              ]
            })
          .room-details__cancel
            .room-details__subtitle
              +title({
                level: 'h3',
                text: 'Отмена'
              })
            p.room-details__cancel-text Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.
            

        section.room-details__order 
          .room-details__card   
            +order-card()
          