include ../title/title.pug
include ../room-data/room-data.pug
include ../canvas/canvas.pug

mixin room-details(options= {})
  -
    const {
      classMain = ''
    } = options

  main(
    class = `room-details ${classMain}`
  )
    .room-details__content.container
      .room-details__photos
        .room-details__photos-big
          img(
            src = './blocks/room-details/img/room-big.png',
            alt = 'Большое фото номера',
            class = 'room-details__image'
          )
        .room-details__photos-small
          .room-details__photos-top
            img(
              src = './blocks/room-details/img/room-small-1.png',
              alt = 'Малое фото номера',
              class = 'room-details__image room-details__image_small'
          )
          .room-details__photos-bottom
            img(
              src = './blocks/room-details/img/room-small-2.png',
              alt = 'Малое фото номера',
              class = 'room-details__image room-details__image_small'
            )

    .room-details__information
      .room-details__details 
        +title({
          level: 'h2',
          classTitle: 'room-details__subtitle',
          text: 'Сведения о номере'
        })
        +room-data({
          items: [
            {
              title: 'Комфорт',
              text: 'Шумопоглощающие стены',
              icon: 'smile',
            },
            {
              title: 'Удобство',
              text: 'Окно в каждой из спален',
              icon: 'city',
            },
            {
              title: 'Уют',
              text: 'Номер оснащён камином',
              icon: 'fire',
            }
          ]
        })
      .room-details__feedback
        +canvas({

        })
    
  