mixin form(options = {})
  form(
    class=`${options.classForm} form`
    action="#" 
    method="get"  
    )
      block

mixin form-group(options = {})
  if options.modificators
    div(class = `form__group form__group${options.modificators}`)
      block
  else 
    .form__group 
      block


mixin label(options = {})
  label.form__label(
    id = options.id
    for = options.id
    class = options.class
  )=options.text
