mixin form(options = {})
  form(
    class=`${options.classForm} form`
    action="#" 
    method="get"  
    )
      block

mixin form-group(options = {})
  div(class = `form__group ${options.classGroup || ''}`)
    block

mixin label(options = {})
  label.form__label(
    id = options.id
    for = options.id
    class = options.class
  )=options.text
