mixin form(options = {})
  -
    const {
      classForm = '',
      action = 'error-page.html',
      method = 'get'
    } = options 

  form(
    class = `${classForm} form`
    action = action 
    method = method  
    )
      block

mixin form-group(options = {})
  -
    const {
      classGroup = '',
      datepick = false
    } = options 

  div(class = `form__group ${classGroup} ${datepick ? 'form__group_datepick' : ''}`)
    block

mixin label(options = {})
  - 
    const {
      id = '',
      forInput = '',
      classLabel = '',
      text = ''
    } = options
      

  label(
    id = id
    for = forInput
    class = `form__label ${classLabel}`
  )=text
