@use 'sass:math';
@import '../../common/functions.scss';
@import '../../common/variables.scss';

.form {
  &__group {
    display: grid;
  }

  &__label {
    font-weight: bold;
    font-size: rem(12);
    text-transform: uppercase;

    display: inline-block;
    height: rem(20);
  }

  &_booking-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: rem(50) rem(65) rem(65) rem(45);
    gap: rem(20);
  }

  // [class*='_grid-wide-2'] {
  //   grid-column: span 2;
  // }
}
